.article-img {
	margin-top: 32px;
	margin-bottom: 12px;

	@media(min-width: 768px) {
		margin-top: 42px;
	}
	@media(min-width: 992px) {
		width: 940px;
		margin: auto;
		margin-top: 32px;
		margin-bottom: 32px;
	}
	@media(min-width: 1200px) {
    width: 1180px;
    margin-top: 60px;
  }
}
.article-img img {
  display: block;
  width: 100%;
}