div.article-img
  div.container.container--mob
    div.row
      div.col-12
        picture
          source(srcset="images/article-img__about768.jpg, images/article-img__about768@2x.jpg 2x", media="(min-width: 768px)")
          source(srcset="images/article-img__about.jpg, images/article-img__about768.jpg 2x")
          img(src="images/article-img__about768.jpg", srcset="images/article-img__about768@2x.jpg 2x",  alt="Tim Strebkov", title="Tim Strebkov")