.lead {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 17px;
	font-weight: 300;
	line-height: 25px;
	color: #000000;
	letter-spacing: -0.1px;
	@media (min-width: 992px) {
		/* 3 Typography */
		font-size: 22px;
		line-height: 32px;
		letter-spacing: -0.105882px;
	}
}
