section.experts
	div.container
		div.row
			div.col-12.col-md-6.offset-md-1
				div.experts__left
					h2.h2-2.experts__h2 Experts in&nbsp;fintech digital product design since 2010
					p.text.experts__text-top We&rsquo;re a&nbsp;group of&nbsp;skilled and passionate practitioners who put ourselves in&nbsp;your users&rsquo; shoes to&nbsp;understand and enhance their journey.
					p.text We&nbsp;deliver elegant and functional visual interfaces for fintech startups, wherever they may be&nbsp;in&nbsp;the world, and we&nbsp;owe our success to&nbsp;being fast, effective and able to&nbsp;slot right into your startup team.

			div.col-12.col-md-4.col-lg-3.offset-md-1
				div.experts__right
					div.experts__img-arrows
						+icon('icon--arows-raduga-88', 'icon--88')
						p.experts__title The Strebkov Design Proven Process&trade;
					p.small-text.experts__text At&nbsp;Strebkov Design we&rsquo;re experts at&nbsp;elevating fintech brands with apps and online products that your customers will need and want, and part of&nbsp;the reason why we&rsquo;re so&nbsp;good at&nbsp;what we&nbsp;do&nbsp;is&nbsp;because of&nbsp;our 3-phase process. We&rsquo;ve spent 10&nbsp;years shaping it&nbsp;and now we&nbsp;use it&nbsp;on&nbsp;every project. It&nbsp;keeps&nbsp;us on&nbsp;track so&nbsp;we&nbsp;can deliver a&nbsp;better product to&nbsp;you in&nbsp;less time.

					a.small-text.link.experts__link(href="#" target="_blank") Learn more

	div.experts__bottom
		include ../desc-services/desc-services.pug