.btn--flat {
	/* 3 Typography */
	color: #000000;

	/* 4 Visual */
	background-color: transparent;
	border: none;
}
.btn--flat .icon {
	/* 4 Visual */
	fill: #000000;
}
.btn--flat:hover {
	/* 3 Typography */
	color: #CCCCCC;

	/* 4 Visual */
	background-color: transparent;
	border: none;
}
.btn--flat:hover .icon {
	/* 4 Visual */
	fill: #CCCCCC;
}