html {
  overflow-x: hidden; 
}
* {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: always;
}
body {
  /* 1 Positioning */ 
  position: relative;

  /* 2 Block model */ 
  padding: 0;
  margin: 0;

  /* 3 Typography */
  font-family: $font-third;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  /* 4 Visual */ 
  overflow-x: hidden;
  color: $color-gray;

  /* 5 Animation*/ 

  /* 6 Misc */
}
.overflow-hidden {
  overflow: hidden;
}
.scrolled .in-top {
  width: 100%;
  overflow: hidden;
  padding-top: 70px;

  @media(min-width: 768px) {
    padding-top: 80px;
  }
  @media(min-width: 1200px) {
    padding-top: 100px;
  }
}
.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 480px;

  @media(min-width: 768px) {
    max-width: none;
    width: 700px;
    padding: 0;
  }
  @media(min-width: 992px) {
    width: 940px;
  }
  @media(min-width: 1200px) {
    width: 1180px;
  }
}
.container-small {
  margin: 0 auto;

  @media(min-width: 768px) {
    width: 580px;
  }
  @media(min-width: 992px) {
    width: 780px;
  }
  @media(min-width: 1200px) {
    width: 980px;
  }
}
.container-x-small {
  margin: 0 auto;

  @media(min-width: 768px) {
    width: 580px;
  }
  @media(min-width: 992px) {
    width: 780px;
  }
}
.row {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @media(min-width: 580px) {
    flex-direction: row;
    justify-content: space-between;    
  }
  @media(min-width: 768px) {
    padding: 0;
  }
}
.col-50 {
  @media(min-width: 580px) {
    width: 49%;
    flex: 0 0 49%;
  }
}

.testimonial-list {
  padding-bottom: 20px;

  @media(min-width: 768px) {
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @media(min-width: 992px) {
    flex-wrap: nowrap;
    padding-bottom: 60px;
  }
}
.testimonial-list__item {
  padding: 0 0 20px 0;
  box-sizing: border-box;

  @media(min-width: 768px) {
    width: 50%;
    flex: 0 0 50%;
    padding: 0 20px 20px 0;
  }
  @media(min-width: 992px) {
    width: 25%;
    flex: 0 0 25%;
    padding: 0 20px 0 0;
  }
}
.testimonial-list__item:last-child {
  @media(min-width: 992px) {
    padding: 0;
  }
}

.icon-text-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;

  @media(min-width: 768px) {
    flex-direction: row;
    justify-content: space-between; 
    align-items: flex-start;   
  }
  @media(min-width: 1200px) {
    justify-content: flex-start;
    padding-bottom: 84px;
  }
}
.icon-text-list .icon-text {
  margin-bottom: 20px;

  @media(min-width: 768px) {
    box-sizing: border-box;
    padding-right: 20px;
    margin-bottom: 0;
  }
  @media(min-width: 1200px) {
    padding-right: 0;
    margin-right: 120px;
  }
}
.icon-text-list .icon-text:last-child {
  margin-right: 0;
}
.img-block {
  display: block;
  width: 100%;
}
.in__top {
  padding-bottom: 60px;

  @media(min-width: 992px) {
    padding-bottom: 50px;
  }
}
.in__text {
  @media(max-width: 580px) {
    padding-bottom: 60px;
  }
}
.in__text h1 {
  font-family: $font-second;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -1.5px;
  max-width: 450px;
  margin: 0 0 40px 0;

  @media(min-width: 992px) {
     margin: 0 0 50px 0;
    font-size: 39px;
  }
}
.in__text p {
  font-family: $font-second;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.1px;
  max-width: 440px;
  margin: 0;
}
.in__text p.in__text-small {  
  font-family: $font-third;
  font-weight: 300;
  font-size: 16px;
  max-width: 440px;
  margin: 0 0 20px 0;
}
.in__images img {
  border-radius: 10px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.in__images-border {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.05);
}
.in__header {
  text-align: right;
}
.in__header .icon--logo {
  padding-top: 20px;
  padding-bottom: 10px;

  @media(min-width: 992px) {
    padding-top: 40px;
    padding-bottom: 30px;
    width: 200px;
    height: 100px;
  }
}
.in__footer {
  font-size: 12px;
  color: $color-gray--lite;
  padding: 20px 0 0 0;

  @media(max-width: 767px) {
    padding: 20px 20px 0 20px;
  }
  @media(min-width: 768px){
    padding: 38px 0 0 0;
  }
}