body {
	/* 2 Block model */
	padding: 0;
	margin: 0;
	overflow-x: hidden;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	color: #000000;
	letter-spacing: -0.0941176px;
}
p,
ul {
	/* 2 Block model */
	padding: 0;
	margin: 0;
}
.overflow-hidden {
	/* 2 Block model */
	overflow: hidden;
}
.wrapper {
	/* 2 Block model */
	width: 100%;
	overflow-x: hidden;
}
.container .col-12 {
	@media (max-width: 767px) {
		/* 2 Block model */
		padding-right: 20px;
		padding-left: 20px;
	}
}
.container .col-6 {
	@media (max-width: 767px) {
		/* 2 Block model */
		padding-right: 20px;
		padding-left: 20px;
	}
}
.container--mob {
	@media (max-width: 767px) {
		/* 2 Block model */
		max-width: 100%;
		padding: 0;
	}
}
.container-top {
	/* 2 Block model */
	max-width: 480px;
	padding: 0 20px;
	margin: 0 auto;
	@media (min-width: 768px) {
		/* 2 Block model */
		width: 700px;
		max-width: none;
		padding: 0;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		width: 940px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		width: 1180px;
	}
}
.mob-show {
	/* 2 Block model */
	display: none;
	@media (min-width: 768px) {
		/* 2 Block model */
		display: block;
	}
}
.mr-mb10 {
	/* 2 Block model */
	margin-bottom: 15px;
}
.mr-mb39 {
	/* 2 Block model */
	margin-bottom: 39px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 41px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 39px;
	}
}
.mr-mb43 {
	/* 2 Block model */
	margin-bottom: 35px;
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 43px;
	}
}
.mr-mb46 {
	/* 2 Block model */
	margin-bottom: 56px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 57px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 46px;
	}
}
.mr-mb54 {
	/* 2 Block model */
	margin-bottom: 34px;
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 54px;
	}
}
.mr-mb60 {
	/* 2 Block model */
	margin-bottom: 60px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 0;
	}
}
.mr-mb60:last-child {
	/* 2 Block model */
	margin-bottom: 0;
}
.mr-mb63 {
	/* 2 Block model */
	margin-bottom: 30px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 32px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 0;
	}
}
.mr-mb64 {
	/* 2 Block model */
	margin-bottom: 64px;
}
.mr-mb70 {
	/* 2 Block model */
	margin-bottom: 26px;
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 70px;
	}
}
.mr-mb74 {
	/* 2 Block model */
	margin-bottom: 27px;
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 74px;
	}
}
.mr-mb79 {
	/* 2 Block model */
	margin-bottom: 56px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 57px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 27px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 79px;
	}
}
.mr-mb81 {
	/* 2 Block model */
	margin-bottom: 42px;
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 81px;
	}
}
.mr-mb85 {
	/* 2 Block model */
	margin-bottom: 56px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 57px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 27px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 85px;
	}
}
.mr-mb86 {
	/* 2 Block model */
	margin-bottom: 45px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 44px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 84px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 86px;
	}
}
.mr-mb92 {
	/* 2 Block model */
	margin-bottom: 56px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 57px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 27px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 92px;
	}
}
.mr-mb94 {
	/* 2 Block model */
	margin-bottom: 30px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 44px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 84px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 94px;
	}
}
.mr-mb96 {
	/* 2 Block model */
	margin-bottom: 45px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 44px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 84px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 96px;
	}
}
.mr-mb114 {
	/* 2 Block model */
	margin-bottom: 45px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 44px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 84px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 114px;
	}
}
.mr-mb127 {
	/* 2 Block model */
	margin-bottom: 64px;
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 127px;
	}
}
.mr-mb148 {
	/* 2 Block model */
	margin-bottom: 80px;
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 148px;
	}
}
.mr-mb153 {
	/* 2 Block model */
	margin-bottom: 45px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 80px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 120px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 153px;
	}
}
.mr-mb194 {
	/* 2 Block model */
	margin-bottom: 45px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 80px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 120px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 194px;
	}
}
.pd-pt88 {
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-top: 47px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-top: 48px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		padding-top: 88px;
	}
}
.pd-pt100 {
	/* 2 Block model */
	padding-top: 50px;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-top: 40px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-top: 88px;
	}
}
.pd-pt56 {
	/* 2 Block model */
	padding-top: 46px;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-top: 34px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-top: 74px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		padding-top: 56px;
	}
}
.pd-pb62 {
	/* 2 Block model */
	padding-bottom: 29px;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-bottom: 47px;
	}
	@media (min-width: 992px) {
		padding-bottom: 62px;
	}
}
.bottom .pd-mobile {
	/* 2 Block model */
	padding: 0;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding: 0 10px;
	}
}
.gray {
	/* 4 Visual */
	background-color: #fafafa;
}
.gray-dark {
	/* 2 Block model */
	overflow: hidden;

	/* 4 Visual */
	background-color: #fbfbfb;
}
.scrolled {
	/* 2 Block model */
	padding-top: 70px;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-top: 80px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		padding-top: 101px;
	}
}
.scrolled .in-top {
	/* 2 Block model */
	width: 100%;
	padding-top: 70px;
	overflow: hidden;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-top: 80px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		padding-top: 100px;
	}
}
.color-1 {
	/* 3 Typography */
	color: #000000;
}
.color-2 {
	/* 3 Typography */
	color: #ffffff;
	background-color: bisque;
}
.color-3 {
	/* 3 Typography */
	color: #ffd933;
}
.color-4 {
	/* 3 Typography */
	color: #4a4a4a;
	background-color: bisque;
}
.color-5 {
	/* 3 Typography */
	color: #969696;
}
.color-6 {
	/* 3 Typography */
	color: #fafafa;
	background-color: bisque;
}
.color-7 {
	/* 3 Typography */
	color: #fbfbfb;
	background-color: bisque;
}
.color-8 {
	/* 3 Typography */
	color: #999999;
}
.color-9 {
	/* 3 Typography */
	color: #7ed321;
}
.intro-page {
	/* 2 Block model */
	height: 100vh;
	padding-top: 40px;
	padding-bottom: 40px;

	/* 4 Visual */
	background-color: #ffffff;
}
.intro-page__top {
	/* 2 Block model */
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}
.intro-page .logo .icon--logo {
	/* 2 Block model */
	width: 190px;
	height: 87px;
}
.intro-page__list {
	/* 2 Block model */
	padding: 0;
	margin: 0;

	/* 4 Visual */
	list-style: none;
}
.intro-page__item {
	/* 2 Block model */
	margin-bottom: 15px;
}
.intro-page__item a {
	/* 2 Block model */
	display: flex;
	justify-content: center;
	padding: 12px 20px 10px 20px;

	/* 3 Typography */
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;

	/* 4 Visual */
	border: 1px solid #000000;
	border-bottom: 3px solid #000000;
	border-radius: 5px;

	/* 5 Animation */
	transition: all 0.4s;
}
.intro-page__item a:hover {
	/* 3 Typography */
	color: #ffffff;

	/* 4 Visual */
	cursor: pointer;
	background-color: #000000;
}
