/*
 * Fonts
 *
 */

$font-main: "RealTextOT-Semilight";
$font-second: "Real Head Pro";
$font-third: "RealHeadOT";

/*
 * Colors
 *
 */
$color-black: #000000;
$color-white: #ffffff;

/*
 * Grid system
 *
 */

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1200px,
);

$grid-gutter-width: 20px;

/*
 * Animation Speed
 *
 */

$animation-speed: 0.4s;

/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation */

/* 6 Misc */
