/*
 * Fonts
 *
 */

$font-main: 'RealHeadOT';
$font-second: 'Real Head Pro';
$font-third: 'RealTextOT-Semilight';

/*
 * Colors
 *
 */
 
$colot-primary: #FFD933;

$color-gray--dark: #000000;
$color-gray: #4a4a4a;
$color-gray--lite: #999999;
$color-gray--xlite: #fbfbfb;

$color-text: $color-gray--dark;
$color-text--lite: $color-gray;
$color-text--xlite: $color-gray--lite;

/*
 * Grid system
 *
 */


/*
 * Animation Speed
 *
 */

$animation-speed: 0.4s;

/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation*/

/* 6 Misc */