/*
 * Fonts
 *
 */

$font-main: Arial, Helvetica, sans-serif;

/*
 * Colors
 *
 */
$color-black: #000000;
$color-white: #FFFFFF;

/*
 * Grid
 *
 */
$breakpoints: (
	sm: 480px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);

/*
 * Animation Speed
 *
 */

$animation-speed: 0.4s;

/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation */

/* 6 Misc */