div.fintech-founders
	+picture({
		img: 'fintech-founders--hd', 
		img_320: 'fintech-founders--mobile', 
		img_768: 'fintech-founders--tablet', 
		img_992: 'fintech-founders--desktop', 
		img_1200: 'fintech-founders--hd', 
		alt: 'FinTech founders'
	})