ul.soft-logos
  li.soft-logos__item
    img(src="images/get-funded__img-sofrs-01.png" srcset="images/get-funded__img-sofrs-01@2x.png 2x" alt="Basecamp" title="Basecamp")
  li.soft-logos__item
    img(src="images/get-funded__img-sofrs-02.png" srcset="images/get-funded__img-sofrs-02@2x.png 2x" alt="none" title="none")
  li.soft-logos__item
    img(src="images/get-funded__img-sofrs-03.png" srcset="images/get-funded__img-sofrs-03@2x.png 2x" alt="Trello" title="Trello")
  li.soft-logos__item
    img(src="images/get-funded__img-sofrs-04.png" srcset="images/get-funded__img-sofrs-04@2x.png 2x" alt="none" title="none")
  li.soft-logos__item
    img(src="images/get-funded__img-sofrs-05.png" srcset="images/get-funded__img-sofrs-05@2x.png 2x" alt="Monday" title="Monday")
  li.soft-logos__item
    img(src="images/get-funded__img-sofrs-06.png" srcset="images/get-funded__img-sofrs-06@2x.png 2x" alt="Slack" title="Slack")
  li.soft-logos__item
    img(src="images/get-funded__img-sofrs-07.png" srcset="images/get-funded__img-sofrs-07@2x.png 2x" alt="none" title="none")
  //- li.soft-logos__item
  //-   img(src="images/get-funded__img-sofrs-mask.png" srcset="images/get-funded__img-sofrs-mask@2x.png 2x" alt="mask" title="mask")
  //- li.soft-logos__item
  //-   img(src="images/get-funded__img-sofrs-mask.png" srcset="images/get-funded__img-sofrs-mask@2x.png 2x" alt="mask" title="mask")
  //- li.soft-logos__item
  //-   img(src="images/get-funded__img-sofrs-mask.png" srcset="images/get-funded__img-sofrs-mask@2x.png 2x" alt="mask" title="mask")