.get-toolkit {
	/* 2 Block model */
	padding: 31px 20px 16px 20px;
	margin: 0 -20px;

	/* 4 Visual */
	background-color: #ff5900;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.05), 0 5px 40px rgba(39, 57, 76, 0.1);
	@media (min-width: 768px) {
		/* 2 Block model */
		width: 302px;
		padding: 29px 31px 10px 29px;
		margin: 0;
		margin-right: 0;
		margin-left: auto;

		/* 4 Visual */
		border-radius: 10px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		width: 100%;
		padding: 30px 60px 13px 60px;
		margin: 0;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		padding: 33px 50px 13px 50px;
	}
}
.get-toolkit__title {
	/* 2 Block model */
	margin: 0;
	margin-bottom: 28px;

	/* 3 Typography */
	font-family: $font-second;
	font-size: 24px;
	font-weight: 500;
	line-height: 34px;
	color: #ffffff;
	text-align: left;
	letter-spacing: -0.19px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 18px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 28px;

		/* 3 Typography */
		font-size: 30px;
		line-height: 40px;
		letter-spacing: -0.184615px;
	}
}
.get-toolkit__item {
	/* 2 Block model */
	margin-bottom: 15px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 14px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 10px;
	}
}
.get-toolkit .btn {
	/* 2 Block model */
	width: 100%;
	padding: 16px 25px 18px 25px;
	margin-top: 19px;

	/* 4 Visual */
	border: 1px;
	border-color: #ffd933;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-top: 13px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-top: 20px;
	}
}
.get-toolkit__response {
	/* 2 Block model */
	padding-top: 20px;

	/* 3 Typography */
	font-size: 14px;
	color: #ffffff;
}
.get-toolkit__response a {
	/* 3 Typography */
	color: #ffffff;
	text-decoration: underline;
}
