.get-toolkit {
	/* 2 Block model */
	padding: 31px 20px 16px 20px;
	margin: 0 -20px;

	/* 4 Visual */
	background-color: #000000;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding: 39px 22px 10px 33px;
		margin: 0;

		/* 4 Visual */
		border-radius: 10px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		padding: 30px 60px 13px 60px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		padding: 30px 50px 13px 50px;
	}
}
.get-toolkit__title {
	/* 2 Block model */
	margin: 0;
	margin-bottom: 30px;

	/* 3 Typography */
	font-family: $font-second;
	font-size: 24px;
	font-weight: 500;
	line-height: 34px;
	color: #000000;
	text-align: left;
	letter-spacing: -0.19px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 29px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 38px;

		/* 3 Typography */
		font-size: 30px;
		line-height: 40px;
		letter-spacing: -0.184615px;
	}
}
.get-toolkit__item {
	/* 2 Block model */
	margin-bottom: 15px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 14px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 10px;
	}
}
.get-toolkit__item--btn {
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-top: 12px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-top: 0;
	}
}
.get-toolkit .btn {
	/* 2 Block model */
	width: 100%;
	padding: 16px 25px 18px 25px;
	margin-top: 19px;

	/* 4 Visual */
	border: 1px;
	border-color: #ffd933;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-top: 10px;
	}
}
.get-toolkit__response {
	/* 2 Block model */
	padding-top: 20px;

	/* 3 Typography */
	font-size: 14px;
	color: #ffffff;
}
.get-toolkit__response a {
	/* 3 Typography */
	color: #ffffff;
	text-decoration: underline;
}
