section.reviews.mr-mb74
  div.container
    div.row
      div.col-12
        h2.h2 What others say

    div.row
      div.col-12.col-lg-4
        div.row
          div.col-12.col-md-6.col-lg-12
            +testimonial({
              text: 'Tim truly loves his craft and you can feel it&nbsp;in&nbsp;every aspect of&nbsp;his work.', 
              img: 'testimonial__img-andrey', 
              name: 'Andrey Anisimov', 
              company: 'VP&nbsp;Technology @ 8base'
            })
          div.col-12.col-md-6.col-lg-12
            +testimonial({
              text: 'Simply amazing. Seriously.', 
              img: 'testimonial__img-chad', 
              name: 'Chad Perry', 
              company: 'WealthCounsel'
            })
          div.col-12
            +testimonial({
              text: 'Excellent work. Very modern and clean designs for our online project. We&nbsp;will be&nbsp;certainly use again. Highly recommended.', 
              img: 'testimonial__img-harry', 
              name: 'Harry Alexandre', 
              company: 'Touch-Type Read and Spell'
            })
      div.col-12.col-lg-4
        div.row
          div.col-12.col-md-6.col-lg-12
            +testimonial({
                text: 'Excellent Agency. I&rsquo;m already starting up&nbsp;my&nbsp;next contract with them. Strong PM&nbsp;&amp;&nbsp;product skills.', 
                img: 'testimonial__img-marvin', 
                name: 'Marvin Matthew', 
                company: 'Bitsian'
              })
          div.col-12.col-md-6.col-lg-12
            +testimonial({
              text: 'Great experience. Tim is&nbsp;a&nbsp;great designer full of&nbsp;smart ideas and is&nbsp;excellent facilitator of&nbsp;a&nbsp;briefing process. He&nbsp;iterates quickly and very pro-active. He&nbsp;is&nbsp;also a&nbsp;pleasant person to&nbsp;work with.', 
              img: 'testimonial__img-alexander', 
              name: 'Alex Lomizov', 
              company: 'Proved'
            })
          div.col-12
            +testimonial({
              text: '... our user interface was really one of&nbsp;the major weaknesses of&nbsp;our site. Tim came&nbsp;in, and made it&nbsp;one of&nbsp;our great strengths.', 
              img: 'testimonial__img-alan', 
              name: 'Alan Park', 
              company: 'FluentU'
            })
      div.col-12.col-lg-4
        div.row
          div.col-12.col-md-6.col-lg-12
            +testimonial({
                text: 'It&nbsp;was a&nbsp;pleasure to&nbsp;work with Tim. He&nbsp;and his team work fast and are still able to&nbsp;be&nbsp;creative while making a&nbsp;great design. Would definitely recommend hiring Tim for your project.', 
                img: 'testimonial__img-will', 
                name: 'Guilierme Nigri', 
                company: 'Founder @ Audlist'
              })
          div.col-12.col-md-6.col-lg-12
            +testimonial({
              text: 'Not only is&nbsp;Tim a&nbsp;great designer but also an&nbsp;analyst and project manager who examines your business and clients, and then delivers outstanding results.', 
              img: 'testimonial__img-ivan', 
              name: 'Ivan Kuznetsov', 
              company: 'CEO @ Investex'
            })


