.input {
	/* 2 Block model */
	display: flex;
	flex-direction: column;
}
.input label {
	/* 2 Block model */
	padding: 0;
	margin: 0;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
	color: #000000;
}
.input__input {
	/* 2 Block model */
	padding: 13px 25px 12px 22px;
	margin: 0;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 19px;
	font-weight: 300;
	line-height: 19px;
	color: #000000;

	/* 4 Visual */
	cursor: pointer;
	background-color: #F6F6F6;
	border: 2px solid transparent;
	border-radius: 4px;
	outline: none;
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		/* IE10+ CSS styles go here */
		padding: 16px 25px 9px 22px;
	}
}
.input__input--filled {
	/* 4 Visual */
	background-color: #FFFFFF;
	border: 2px solid #FFD933;
}
.input__input::-webkit-input-placeholder {
	/* 3 Typography */
	color: #000000;
	text-align: left;

	/* 4 Visual */
	opacity: 0.3;
}
.input__input::-moz-placeholder {
	/* 3 Typography */
	color: #000000;

	/* 4 Visual */
	opacity: 0.3;
}
.input__input:-moz-placeholder {
	/* 3 Typography */
	color: #000000;
	text-overflow: ellipsis;

	/* 4 Visual */
	opacity: 0.3;
}
.input__input:-ms-input-placeholder {
	/* 3 Typography */
	color: rgba($color: #000000, $alpha: 0.3);
	text-overflow: ellipsis;
}
.input__input[placeholder] {
	/* 3 Typography */
	text-overflow: ellipsis;
}
.input__input:hover {
	/* 4 Visual */
	background-color: #F8F8F8;
}
.input__input:focus {
	/* 4 Visual */
	background-color: #FFFFFF;
	border: 2px solid #FFD933;
}
.input__input:active {
	/* 4 Visual */
	background-color: #FFFFFF;
	border: 2px solid #FFD933;
}
.input__input::-ms-clear {
	/* 2 Block model */
	display: none;
}
