div.address
	span Fill in the form or contact me directly via 
		br
		|e-mail 
		a.link-bg(href="mailto:&#116;&#105;&#109;&#64;&#115;&#116;&#114;&#101;&#98;&#107;&#111;&#118;&#46;&#100;&#101;&#115;&#105;&#103;&#110;") &#116;&#105;&#109;&#64;&#115;&#116;&#114;&#101;&#98;&#107;&#111;&#118;&#46;&#100;&#101;&#115;&#105;&#103;&#110;