div.list-services-sm
	ul
		li.list-services-sm__item Design your digital product from scratch and help the development team build&nbsp;it

		li.list-services-sm__item Improve your digital product UX/UI and help implement these changes
		
		li.list-services-sm__item Build design team and processes at&nbsp;your company

	//- div.list__address
	//- 	include ../address/address.pug