section.confirm-email
	div.container
		div.row
			div.col-12.col-md-10.col-xl-10.offset-md-1.offset-xl-2
				div.confirm-email__top
					img(src="images/icon--rectangle-top.svg" alt="border")
		div.row
			div.col-12.col-md-10.col-xl-10.offset-md-1.offset-xl-2
				div.confirm-email__info
					h1.h0.h0--mob.confirm-email__title Almost there!
					p.text-lg-two You&rsquo;ll receive our toolkit right after confirmation of&nbsp;your e-mail. You wouldn&rsquo;t try and design a&nbsp;glove if&nbsp;you&rsquo;d never seen a&nbsp;hand before, which is&nbsp;why we&nbsp;won&rsquo;t design a&nbsp;user interface before we&rsquo;ve researched who&rsquo;s going to&nbsp;be&nbsp;using it&nbsp;and how they&rsquo;ll interact with&nbsp;it. With that in&nbsp;mind, we&nbsp;start by&nbsp;asking questions.
					p.text-lg-two We&nbsp;aim to&nbsp;understand your business, your customers, your product, and your market. We&nbsp;build a&nbsp;clear picture of&nbsp;your whole ecosystem so&nbsp;that we&nbsp;know where your app fits within&nbsp;it.
		div.row
			div.col-12.col-xl-11.offset-xl-1
				div.confirm-email__number.confirm-email__number--1
					div.confirm-email__value
						span 1
					h2.confirm-email__number-title Check your inbox with an&nbsp;e-mail from Tim Strebkov
	div.confirm-email__img-1
		picture.confirm-email__picture
			source(srcset="images/сonfirm__img-320-01.png, images/сonfirm__img-320-01@2x.png 2x" media="(max-width: 767px)")
			source(srcset="images/сonfirm__img-992-01.png, images/сonfirm__img-992-01@2x.png" media="(min-width: 992px)")
			source(srcset="images/сonfirm__img-768-01.png, images/сonfirm__img-768-01@2x.png" media="(min-width: 768px)")
			img(src="images/сonfirm__img-992-01.png" srcset="images/сonfirm__img-992-01@2x.png 2x" alt="e-mail")
	div.container
		div.row
			div.col-12.col-xl-11.offset-xl-1
				div.confirm-email__number.confirm-email__number--2
					div.confirm-email__value
						span 2
					h2.confirm-email__number-title Click on the confirmation button in the e-mail body
	div.confirm-email__img-2
		picture.confirm-email__picture
			source(srcset="images/сonfirm__img-320-02.png, images/сonfirm__img-320-02@2x.png 2x" media="(max-width: 767px)")
			source(srcset="images/сonfirm__img-992-02.png, images/сonfirm__img-992-02@2x.png" media="(min-width: 992px)")
			source(srcset="images/сonfirm__img-768-02.png, images/сonfirm__img-768-02@2x.png" media="(min-width: 768px)")
			img(src="images/сonfirm__img-992-02.png" srcset="images/сonfirm__img-992-02@2x.png 2x" alt="e-mail")
	div.container
		div.row
			div.col-12.col-xl-11.offset-xl-1
				div.confirm-email__number.confirm-email__number--3
					div.confirm-email__value
						span 3
					div.confirm-email__number-body
						h2.confirm-email__number-title Get your report and make sure you book a&nbsp;FREE 1:1 session with our team member
						p.text-lg-two We&rsquo;ll send a&nbsp;special email with a&nbsp;calendar booking link. You don&rsquo;t have to&nbsp;worry for now.
		div.row
			div.col-12.col-md-10.col-xl-10.offset-md-1
				div.confirm-email__footer
					footer.footer
						p 2019&nbsp;&copy; Strebkov Design. All rights reserved.


