.btn {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	margin: 0;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 16px;
	font-weight: normal;
	line-height: 16px;
	color: #FFFFFF;
	text-decoration: none;
	vertical-align: middle;

	/* 4 Visual */
	cursor: pointer;
	user-select: none;
	background-color: #000000;
	border: 2px solid #000000;
	border-radius: 4px;
	outline: none;

	/* 5 Animation */
	transition: all 0.4s;
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
}
.btn:hover {
	/* 3 Typography */
	color: #000000;

	/* 4 Visual */
	background-color: #FFFFFF;
}
.btn .icon {
	/* 2 Block model */
	box-sizing: inherit;
	flex-shrink: 0;
	width: 15px;
	height: 15px;

	/* 4 Visual */
	fill: #FFFFFF;

	/* 5 Animation */
	transition: all 0.4s;
}
.btn:hover .icon {
	/* 4 Visual */
	fill: #000000;
}
.btn .icon:first-child:not(:last-child) {
	/* 2 Block model */
	margin-right: 15px;
}
.btn .icon:last-child:not(:first-child) {
	/* 2 Block model */
	margin-left: 15px;
}

/* -------------------------------------------- */

/*
 * Modifiers
 *
 */

@import '--block/--block';
@import '--outline/--outline';
@import '--flat/--flat';