.btn {
	padding: 0;
	border: none;
	border-radius: 4px;
	display: inline-block;
	font-weight: 500;
	font-family: $font-second;
	box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	text-decoration: none;
	width: 100%;
	max-width: 300px;
	position: relative;
	outline: none;
	text-align: center;
	background-color: $colot-primary;
}
.btn:hover {
	cursor: pointer;
}
.btn:hover::after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	content: "";
	background-color: rgba(255, 255, 255, 0.15);
}
.btn:active {
	color: #856f0d;
	box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn__text {
	font-size: 19px;
  line-height: 60px;
  text-align: center; 
  color: #000000;
}
.btn:disabled,
.btn[disabled] {
	background-color: #ffe67b;
	box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.05);
}
.btn:disabled .btn__text,
.btn[disabled] .btn__text {
	color: #ccb34c;
}
.btn:disabled:hover::after,
.btn[disabled]:hover::after {
	content: none;
}
.btn--small .btn__text {
	line-height: 40px;
	font-size: 15px;
}