.h1 {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	margin: 0;
	padding-bottom: 20px;
	margin-bottom: 30px;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 30px;
	line-height: 1.4;
	font-weight: bold;
	color: #000000;

	@media(min-width: 768px) {
		font-size: 80px;
	}
}