.img-gray-block {
	/* 2 Block model */
	padding-top: 100px;
	padding-bottom: 90px;
	margin-bottom: 30px;

	/* 4 Visual */
	background-color: #FAFAFA;
}

/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation */

/* 6 Misc */