.slider-case {
	/* 2 Block model */
	display: block;
}
.slider-case__item {
	/* 2 Block model */
	width: 100%;
	max-width: 400px;
	padding: 50px 0;
	padding-right: 30px;
	padding-left: 30px;

	/* 4 Visual */
	outline: none;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-right: 10px;
		padding-left: 10px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		max-width: 470px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		max-width: 400px;
	}
}

/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation */

/* 6 Misc */