div.slider-case
  div.slider-case__item
    +picture-shadow({img: 'slider-case__img-1', alt: 'img'})

  div.slider-case__item
    +picture-shadow({img: 'slider-case__img-2', alt: 'img'})

  div.slider-case__item
    +picture-shadow({img: 'slider-case__img-3', alt: 'img'})
  div.slider-case__item
    +picture-shadow({img: 'slider-case__img-4', alt: 'img'})

  div.slider-case__item
    +picture-shadow({img: 'slider-case__img-5', alt: 'img'})

  div.slider-case__item     
    +picture-shadow({img: 'slider-case__img-6', alt: 'img'})

  div.slider-case__item     
    +picture-shadow({img: 'slider-case__img-7', alt: 'img'})

  div.slider-case__item    
    +picture-shadow({img: 'slider-case__img-8', alt: 'img'})

  div.slider-case__item    
    +picture-shadow({img: 'slider-case__img-9', alt: 'img'})

  div.slider-case__item    
    +picture-shadow({img: 'slider-case__img-10', alt: 'img'})

  div.slider-case__item    
    +picture-shadow({img: 'slider-case__img-11', alt: 'img'})

  div.slider-case__item     
    +picture-shadow({img: 'slider-case__img-12', alt: 'img'})