div.table-price.table-price--services
	div.table-price--services__bg

	table
		thead
			tr
				th
					b Features
				th
					b Basic					
				th.table-price__img-plan
					b Standard
					img.table-price__standart(src="images/table--service__standart.svg" alt="")
				th
					b Advanced

		tbody.table-price__body
			tr
				td
					b Product Definition
					span.table-price__decs User flow based on&nbsp;the user scenarios, information architecture, wireframing, and interactive prototyping
				td Included
				td Included
				td Included

			tr
				td
					b Visual + Interaction Design + UI&nbsp;Kit
					span.table-price__decs App visual identity, high fidelity mockups, UI&nbsp;kit and patterns libraries, specs and metrics
				td Included
				td Included
				td Included

			tr
				td
					b Development Support &amp;&nbsp;Supervision
				td Fully supervised
				td Fully supervised
				td Fully supervised

			tr
				td
					b Copywriting
				td &nbsp;&mdash;
				td Included
				td Included

			tr
				td
					b Product logo design
				td &nbsp;&mdash;
				td Included
				td Included

			tr
				td
					b Store marketing graphics
				td &nbsp;&mdash;
				td Included
				td Included

			tr
				td
					b Clickable prototype
				td &nbsp;&mdash;
				td Included
				td Included

			tr
				td
					b Custom Illustrations
				td &nbsp;&mdash;
				td &nbsp;&mdash;
				td Included

			tr
				td
					b Sound design
				td &nbsp;&mdash;
				td &nbsp;&mdash;
				td Included

			tr
				td
					b Landing page design
				td &nbsp;&mdash;
				td &nbsp;&mdash;
				td Included

			tr
				td 
					b Get in touch
				td
					+btn({text: 'Book free call'})(class="btn--sm scroll-lets-talk")
				td
					+btn({text: 'Book free call'})(class="btn--sm scroll-lets-talk")
				td
					+btn({text: 'Book free call'})(class="btn--sm scroll-lets-talk")