.link-bg {
  color: #000000;
  text-decoration: none;
  display: inline-block;
  background-color: #FFF0AD;
  padding-left: 4px;
  padding-right: 4px;
  transition: all 0.4s;
}
.link-bg:hover {
  background-color: #ffe77b;
}