.image-description {
	/* 2 Block model */
	width: 100%;
	max-width: 565px;
	margin: 0 auto;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 15px;
	font-weight: 300;
	line-height: 21px;
	color: #969696;
	text-align: center;
	letter-spacing: -0.0882353px;
}
.image-description--w-420 {
	/* 2 Block model */
	max-width: 420px;
}