.image-description {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 15px;
	font-weight: 300;
	line-height: 21px;
	color: #969696;
	letter-spacing: -0.0882353px;
}