section.page-inside.page-inside--privacy.page
  div.container
    div.row
      div.col-12.col-md-10.col-lg-9.col-xl-8.offset-md-1.offset-xl-2
        h1.h1 Privacy Policy
        p.text-lg.page-inside__date Effective date: August&nbsp;08, 2018

        p Tim Strebkov&nbsp;(&laquo;us&raquo;, &laquo;we&raquo;, or&nbsp;&laquo;our&raquo;) operates the timstrebkov.com website (the &laquo;Service&raquo;).
        p This page informs you of&nbsp;our policies regarding the collection, use, and disclosure of&nbsp;personal data when you use our Service and the choices you have associated with that data.
        p We&nbsp;use your data to&nbsp;provide and improve the Service. By&nbsp;using the Service, you agree to&nbsp;the collection and use of&nbsp;information in&nbsp;accordance with this policy. Unless otherwise defined in&nbsp;this Privacy Policy, terms used in&nbsp;this Privacy Policy have the same meanings as&nbsp;in&nbsp;our Terms and Conditions, accessible from timstrebkov.com

        h2.h3 Information Collection And Use
        p We&nbsp;collect several different types of&nbsp;information for various purposes to&nbsp;provide and improve our Service to&nbsp;you.

        h2.h3 Types of&nbsp;Data Collected
        p While using our Service, we&nbsp;may ask you to&nbsp;provide&nbsp;us with certain personally identifiable information that can be&nbsp;used to&nbsp;contact or&nbsp;identify you (&laquo;Personal Data&raquo;). Personally identifiable information may include, but is&nbsp;not limited&nbsp;to:
        ul
          li Email address
          li Cookies and Usage Data
        p We&nbsp;may also collect information how the Service is&nbsp;accessed and used (&laquo;Usage Data&raquo;). This Usage Data may include information such as&nbsp;your computer&rsquo;s Internet Protocol address (e.g. IP&nbsp;address), browser type, browser version, the pages of&nbsp;our Service that you visit, the time and date of&nbsp;your visit, the time spent on&nbsp;those pages, unique device identifiers and other diagnostic data.
        p We&nbsp;use cookies and similar tracking technologies to&nbsp;track the activity on&nbsp;our Service and hold certain information.
        p Cookies are files with small amount of&nbsp;data which may include an&nbsp;anonymous unique identifier. Cookies are sent to&nbsp;your browser from a&nbsp;website and stored on&nbsp;your device. Tracking technologies also used are beacons, tags, and scripts to&nbsp;collect and track information and to&nbsp;improve and analyze our Service.
        p You can instruct your browser to&nbsp;refuse all cookies or&nbsp;to&nbsp;indicate when a&nbsp;cookie is&nbsp;being sent. However, if&nbsp;you do&nbsp;not accept cookies, you may not be&nbsp;able to&nbsp;use some portions of&nbsp;our Service.
        p Examples of&nbsp;Cookies we&nbsp;use:
        ul
          li
            b Session Cookies.
            |  We&nbsp;use Session Cookies to&nbsp;operate our Service.
          li
            b Preference Cookies.
            |  We&nbsp;use Preference Cookies to&nbsp;remember your preferences and various settings.
          li
            b Security Cookies
            |  We&nbsp;use Security Cookies for security purposes.
        
        h2.h3 Use of&nbsp;Data
        p Tim Strebkov uses the collected data for various purposes:
        ul
          li To&nbsp;provide and maintain the Service
          li To&nbsp;notify you about changes to&nbsp;our Service
          li To&nbsp;allow you to&nbsp;participate in&nbsp;interactive features of&nbsp;our Service when you choose to&nbsp;do&nbsp;so
          li To&nbsp;provide customer care and support
          li To&nbsp;provide analysis or&nbsp;valuable information so&nbsp;that we&nbsp;can improve the Service
          li To&nbsp;monitor the usage of&nbsp;the Service
          li To&nbsp;detect, prevent and address technical issues

        h2.h3 Transfer Of&nbsp;Data
        p Your information, including Personal Data, may be&nbsp;transferred to&nbsp;&mdash; and maintained on&nbsp;&mdash; computers located outside of&nbsp;your state, province, country or&nbsp;other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.
        p If&nbsp;you are located outside Russian Federation and choose to&nbsp;provide information to&nbsp;us, please note that we&nbsp;transfer the data, including Personal Data, to&nbsp;Russian Federation and process it&nbsp;there.
        p Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.
        p Tim Strebkov will take all steps reasonably necessary to&nbsp;ensure that your data is&nbsp;treated securely and in&nbsp;accordance with this Privacy Policy and no&nbsp;transfer of&nbsp;your Personal Data will take place to&nbsp;an&nbsp;organization or&nbsp;a&nbsp;country unless there are adequate controls in&nbsp;place including the security of&nbsp;your data and other personal information.

        h2.h3 Disclosure Of&nbsp;Data
        p Tim Strebkov may disclose your Personal Data in&nbsp;the good faith belief that such action is&nbsp;necessary&nbsp;to:
        ul
          li To&nbsp;comply with a&nbsp;legal obligation
          li To&nbsp;protect and defend the rights or&nbsp;property of&nbsp;Tim Strebkov
          li To&nbsp;prevent or&nbsp;investigate possible wrongdoing in&nbsp;connection with the Service
          li To&nbsp;protect the personal safety of&nbsp;users of&nbsp;the Service or&nbsp;the public
          li To&nbsp;protect against legal liability

        h2.h3 Security Of&nbsp;Data
        p The security of&nbsp;your data is&nbsp;important to&nbsp;us, but remember that no&nbsp;method of&nbsp;transmission over the Internet, or&nbsp;method of&nbsp;electronic storage is&nbsp;100% secure. While we&nbsp;strive to&nbsp;use commercially acceptable means to&nbsp;protect your Personal Data, we&nbsp;cannot guarantee its absolute security.

        h2.h3 Service Providers
        p We&nbsp;may employ third party companies and individuals to&nbsp;facilitate our Service (&laquo;Service Providers&raquo;), to&nbsp;provide the Service on&nbsp;our behalf, to&nbsp;perform Service-related services or&nbsp;to&nbsp;assist&nbsp;us in&nbsp;analyzing how our Service is&nbsp;used.
        p These third parties have access to&nbsp;your Personal Data only to&nbsp;perform these tasks on&nbsp;our behalf and are obligated not to&nbsp;disclose or&nbsp;use it&nbsp;for any other purpose.

        h2.h3 Analytics
        p We&nbsp;may use third-party Service Providers to&nbsp;monitor and analyze the use of&nbsp;our Service.
        p Google Analytics is&nbsp;a&nbsp;web analytics service offered by&nbsp;Google that tracks and reports website traffic. Google uses the data collected to&nbsp;track and monitor the use of&nbsp;our Service. This data is&nbsp;shared with other Google services. Google may use the collected data to&nbsp;contextualize and personalize the ads of&nbsp;its own advertising network.
        p You can opt-out of&nbsp;having made your activity on&nbsp;the Service available to&nbsp;Google Analytics by&nbsp;installing the Google Analytics opt-out browser add-on. The add-on prevents the Google Analytics JavaScript (ga.js, analytics.js, and dc.js) from sharing information with Google Analytics about visits activity.
        p For more information on&nbsp;the privacy practices of&nbsp;Google, please visit the 
          a.page-inside__mail-link(href="https://policies.google.com/privacy?hl=en") Google Privacy &amp;&nbsp;Terms
          |  web page:

        h2.h3 Links To&nbsp;Other Sites
        p Our Service may contain links to&nbsp;other sites that are not operated by&nbsp;us. If&nbsp;you click on&nbsp;a&nbsp;third party link, you will be&nbsp;directed to&nbsp;that third party&rsquo;s site. We&nbsp;strongly advise you to&nbsp;review the Privacy Policy of&nbsp;every site you visit.
        p We&nbsp;have no&nbsp;control over and assume no&nbsp;responsibility for the content, privacy policies or&nbsp;practices of&nbsp;any third party sites or&nbsp;services.

        h2.h3 Children's Privacy
        p Our Service does not address anyone under the age of&nbsp;18 (&laquo;Children&raquo;).
        p We&nbsp;do&nbsp;not knowingly collect personally identifiable information from anyone under the age of&nbsp;18. If&nbsp;you are a&nbsp;parent or&nbsp;guardian and you are aware that your Children has provided&nbsp;us with Personal Data, please contact&nbsp;us. If&nbsp;we&nbsp;become aware that we&nbsp;have collected Personal Data from children without verification of&nbsp;parental consent, we&nbsp;take steps to&nbsp;remove that information from our servers.

        h2.h3 Changes To&nbsp;This Privacy Policy
        p We&nbsp;may update our Privacy Policy from time to&nbsp;time. We&nbsp;will notify you of&nbsp;any changes by&nbsp;posting the new Privacy Policy on&nbsp;this page.
        p We&nbsp;will let you know via email and/or a&nbsp;prominent notice on&nbsp;our Service, prior to&nbsp;the change becoming effective and update the &laquo;effective date&raquo; at&nbsp;the top of&nbsp;this Privacy Policy.
        p You are advised to&nbsp;review this Privacy Policy periodically for any changes. Changes to&nbsp;this Privacy Policy are effective when they are posted on&nbsp;this page.

        h2.h3 Contact&nbsp;Us
        p If&nbsp;you have any questions about this Privacy Policy, please contact&nbsp;us by&nbsp;email: tim@strebkov.design