.main-services {
	display: flex;
	flex-direction: column;
	padding-bottom: 80px;
	margin: 0 auto;

	@media(min-width: 580px) {
		flex-direction: row;
		justify-content: space-between;
	}
	@media(min-width: 768px) {
		max-width: 700px;
	}
	@media(min-width: 992px) {
		max-width: 940px;
		padding-bottom: 150px;
	}
	@media(min-width: 1200px) {
		max-width: 1180px;
	}
}
.main-services * {
	text-decoration: none;
}
.main-services__item {
	background-color: #000000;
	margin-bottom: 10px;
	color: #ffffff;
	padding: 25px 20px;
	box-sizing: border-box;

	@media(min-width: 580px) {
		width: 49.2%;
	}
	@media(min-width: 768px) {
		border-radius: 10px;
	}
	@media(min-width: 992px) {
		padding: 43px 60px;
	}
}
.main-services__item--orange {
	background-color: $colot-primary;
	color: #000000;
}
.main-services__num {
	display: none;

	@media(min-width: 768px) {
		display: block;
		font-family: $font-main;
		font-weight: 900;
		font-size: 80px;
		line-height: 100px;
	}
	@media(min-width: 992px) {
		font-size: 130px;
		line-height: 130px;
    padding-bottom: 20px;
	}
}
.main-services__title {
	font-family: $font-second;
	font-weight: 500;
	font-size: 21px;
	line-height: 1.4;
	padding-bottom: 20px;

	@media(min-width: 992px) {
		font-size: 24px;
		padding-bottom: 12px;
	}
}
.main-services__text {
	font-family: $font-third;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.4;
	padding-bottom: 24px;

	@media(min-width: 992px) {
		max-width: 380px;
	}
}
.main-services__link {
	position: relative;
	display: inline-block;
	text-decoration: none;
	font-family: $font-second;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.4;
	color: #ffffff;
	padding-right: 20px;
}
.main-services__link:hover {
	opacity: 0.7;
}
.main-services__item--orange .main-services__link {
	color: #000000;
}
.main-services__link::before {
	position: absolute;
	top: 2px;
	right: 0;
	display: block;
	content: "";
	width: 12px;
	height: 18px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxMiAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMiAxN0w5IDkuMTI5MTVMMiAyIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjMiLz48L3N2Zz4=);
	background-size: cover;
}
.main-services__item--orange .main-services__link::before {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxMiAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMiAxN0w5IDkuMTI5MTVMMiAyIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjMiLz48L3N2Zz4=);
}