div.main-services
	div.main-services__item
		div.main-services__num 1

		div.main-services__title Web &amp;&nbsp;Mobile Apps MVP Design

		div.main-services__text Design and bring your fintech MVP to&nbsp;market quickly and cost effectively

		a.main-services__link(href="#") Learn more

	div.main-services__item.main-services__item--orange
		div.main-services__num 2

		div.main-services__title Product design team

		div.main-services__text Hire seasoned design team with proven processes and 18+&nbsp;years of&nbsp;experience at&nbsp;a&nbsp;fraction of&nbsp;a&nbsp;cost

		a.main-services__link(href="#") Learn more