div.main-services
	div.container.container--mob
		div.row
			div.col-12.col-sm-6
				a.main-services__item(href="#")
					div.main-services__num 1

					div.main-services__title Web &amp;&nbsp;Mobile Apps MVP Design

					div.main-services__text Design and bring your MVP to&nbsp;market quickly and cost effectively

					div.main-services__link Learn more

			div.col-12.col-sm-6
				a.main-services__item.main-services__item--orange(href="#")
					div.main-services__num 2

					div.main-services__title Product design team

					div.main-services__text Hire seasoned design team with proven processes and 18+&nbsp;years of&nbsp;experience at&nbsp;a&nbsp;fraction of&nbsp;a&nbsp;cost

					div.main-services__link Coming soon