.case-broker__header {
	/* 2 Block model */
	padding-top: 34px;
	padding-bottom: 30px;
	margin-bottom: 50px;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-top: 22px;
		margin-bottom: 65px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 75px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 97px;
	}
}
.case-broker__header .case__date {
	/* 3 Typography */
	color: #000000;
}
.case-broker__header .h1 {
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 45px;
	}
}
.case-broker__header .text-lg {
	/* 3 Typography */
	color: #4A4A4A;
}
.case-broker__header-img img {
	/* 1 Positioning */
	position: relative;
	left: 50%;

	/* 2 Block model */
	width: 337px;

	/* 4 Visual */
	transform: translate(-55%, 0);
	@media (min-width: 768px) {
		/* 1 Positioning */
		left: 0;

		/* 2 Block model */
		transform: translateX(0);
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		width: 470px;
		margin-left: 0;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		width: 526px;
		margin-left: -99px;
	}
}
.case-broker__slider .img-gray-block {
	/* 2 Block model */
	margin-bottom: 30px;

	/* 4 Visual */
	background-color: #FAFAFA;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-bottom: 10px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-top: 30px;
		padding-bottom: 27px;
	}
}
.case-broker__body-img .img-gray-block {
	/* 2 Block model */
	padding-top: 0;
	padding-bottom: 0;
}
.case-broker__body-img img {
	/* 1 Positioning */
	position: relative;
	left: 50%;

	/* 2 Block model */
	display: block;
	width: 320px;

	/* 4 Visual */
	transform: translateX(-43%);
	@media (min-width: 480px) {
		/* 2 Block model */
		width: 400px;
	}
	@media (min-width: 768px) {
		/* 2 Block model */
		width: 720px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		width: 1100px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		width: 1189px;

		/* 4 Visual */
		transform: translateX(-44%);
	}
}
.case-broker__bottom-img {
	/* 2 Block model */
	margin-bottom: 40px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 57px;
	}
}
.case-broker__bottom-img img {
	/* 1 Positioning */
	position: relative;
	left: 50%;

	/* 2 Block model */
	display: block;
	width: 260px;

	/* 4 Visual */
	transform: translateX(-52%);
	@media (min-width: 480px) {
		/* 2 Block model */
		width: 400px;
	}
	@media (min-width: 768px) {
		/* 2 Block model */
		width: 600px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		width: 800px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		width: 1006px;

		/* 4 Visual */
		transform: translateX(-50%);
	}
}

/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation */

/* 6 Misc */