footer.footer
	p 2020&nbsp;© Strebkov Design. All rights reserved. Please link to&nbsp;the source if&nbsp;copying texts or&nbsp;imagery from this site.
	
	p Business photography by&nbsp;
		a(href="https://alexanderklebe.de" target="_blank") Alexander Klebe
		
	ul.footer__menu
		li
			a(href="#") About 
		li
			a(href="#") Privacy policy 