footer.footer
	p.footer__copy 2018 &copy; Tim Strebkov. All rights reserved.
		br
		|Please link to the source if copying texts or imagery from this site.
		a(href="https://timstrebkov.com/privacy.html") Privacy policy
		br
		|Business photography by 
		a(href="https://alexanderklebe.de" target="_blank") Alexander Klebe