.footer {
	font-size: 12px;
	line-height: 1.6;
	color: $color-gray--lite;
}
.footer p {
	margin: 0;
}
.footer a {
  color: $color-gray--lite;
  text-decoration: underline;
}
.footer a:hover {
	text-decoration: none;
}
.footer__menu {
	margin: 0;
	padding: 2px 0 0 0;
	list-style: none;
}
.footer__menu li {
	padding-right: 15px;
	display: inline-block;
}