section.mvp-design
	div.container
		div.row
			div.col-12.col-md-10.col-xl-8.offset-md-1.offset-xl-2
				div.mvp-design__header
					h1.h1 &ldquo;From the initial idea for the MVP to&nbsp;high quality ready-to-implement designs in&nbsp;just 
						span.h1__border 2&nbsp;months
						|&rdquo;

					span.text-lg
						b &mdash;&nbsp;Cryptology, Singapore fintech startup

					p.text-lg Our professional product design team will help your design and get app MVP to&nbsp;market quickly and cost effectively. Book a&nbsp;free 20-minute call with&nbsp;us and get full clarity on&nbsp;timing and budget for your project.

					+btn({text: 'Book free call', type: 'link', url: 'https://calendly.com/strebkovdesign/introcall', target: '_blank'})(class="btn--lg")

	div.mvp-design__img.mvp-design__img--lg
		picture
			img(src="images/mvp-design__img-1.png" srcset="images/mvp-design__img-1@2x.png 2x" alt="Services")

	div.container.page.mr-mb96
		div.row
			div.col-12.col-md-10.col-xl-8.offset-md-1.offset-xl-2
				p Here&rsquo;s a&nbsp;common story. You have a&nbsp;great idea for an&nbsp;app and you want it&nbsp;brought to&nbsp;market yesterday&mdash;before someone else thinks of&nbsp;the same thing. So, you outsource development, code is&nbsp;written, and the app is&nbsp;built in&nbsp;a&nbsp;bit of&nbsp;a&nbsp;rush. It&nbsp;hits the market, but then the market hits back. Users find it&nbsp;clunky, ugly, hard to&nbsp;understand and the one-star reviews are far from flattering. Now your idea is&nbsp;public, someone else takes it&nbsp;and does it&nbsp;properly. The end.

				p Now here&rsquo;s a&nbsp;better story. You hire&nbsp;us first to&nbsp;get the design right, an&nbsp;experienced product design team (19&nbsp;years and counting) with proven processes and with numerous successes under our belts. So, when the coders get to&nbsp;work, your app lives up&nbsp;to&nbsp;your great idea, and it&nbsp;doesn&rsquo;t cost you a&nbsp;fortune.

				h2.h2 The proven process

				p We&nbsp;help companies create first-class products that meet our customers&rsquo; needs and further their business goals. We&nbsp;take full ownership of&nbsp;the product, helping you through the design stage and supporting you right up&nbsp;to&nbsp;the product launch date and beyond.
				p
					b Discovery &amp;&nbsp;Strategy.
					|  Understand your business, customers, product, and market. Initial research: business requirements review, product audit, market research (competitor research, etc.). Product Strategy: defining users (empathy map, personas), needs in&nbsp;context (storyboards, customer journey maps), existing or&nbsp;competitor solutions (heuristic analysis, feature matrix), framing the problem (POV statements).
				p
					b Product definition and prototyping.
					|  Define the product: user flow based on&nbsp;the user scenarios, informational Architecture. Wireframing and interactive prototyping.
				p
					b Visual design and finalizing user scenarios.
					|  Brand visual identity, high fidelity mockups, UI&nbsp;interactive prototype, UI&nbsp;kit and patterns libraries, specs and metrics. Your dev team will love our deliverables.
				p
					b Delivering development assets, graphics, icons, etc.
				p
					b Development support.
					|  It&rsquo;s always important to&nbsp;manage the implementation process by&nbsp;designers, since it&nbsp;will help you to&nbsp;keep the design quality on&nbsp;mockups and transfer it&nbsp;to&nbsp;the real product. Only designer can see the user experience issues that can be&nbsp;critical for the final customer but might not be&nbsp;seen by&nbsp;the developer. Each of&nbsp;our packages includes 1&nbsp;month&rsquo;s support from our design team. If&nbsp;something changes down the road and the app needs slight adjustments&mdash;we&rsquo;re here to&nbsp;help.

	div.mvp-design__table
		div.container
			div.row
				div.col-12
					h2.h2 Web &amp;&nbsp;Mobile Apps Design Plans

					include ../table-price/--services/--services.pug

	div.container.page
		div.row
			div.col-12.mr-mb70
				h2.h2 Why Strebkov Design

				p.text-lg We&rsquo;re always up&nbsp;to&nbsp;speed with new technologies that attract a&nbsp;younger audience, and we&nbsp;help them to&nbsp;make decisions that make them want to&nbsp;stay with you. We&nbsp;also help you anticipate what they&rsquo;ll want in&nbsp;future because we&rsquo;re all about helping you attract and retain them.

	include ../desc-services/desc-services--1.pug

	include ../reviews/reviews.pug

	include ../companies/companies.pug