.desc-services {
	/* 2 Block model */
	margin-bottom: 17px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 40px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 96px;
	}
}
.desc-services__item {
	/* 2 Block model */
	margin-bottom: 32px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 0;
	}
}
.desc-services__item--fix {
	@media (min-width: 992px) {
		/* 2 Block model */
		max-width: 142px;
		margin: 0 auto;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		max-width: none;
		margin: 0;
	}
}
.desc-services__title {
	/* 1 Positioning */
	position: relative;
	z-index: 5;

	/* 2 Block model */
	display: inline-block;
	height: 34px;
	margin-bottom: 17px;
	@media (min-width: 992px) {
		/* 2 Block model */
		height: 50px;
		margin-bottom: 18px;
	}
}
.desc-services__title::before {
	/* 1 Positioning */
	position: absolute;
	right: 0;
	bottom: 1px;
	left: 0;
	z-index: -1;

	/* 2 Block model */
	display: block;
	width: calc(100% + 12px);
	height: 8px;

	/* 4 Visual */
	content: "";
	background-color: #ff7100;
	@media (min-width: 992px) {
		/* 1 Positioning */
		bottom: 3px;

		/* 2 Block model */
		height: 10px;
		width: calc(100% + 10px);
	}
}
.desc-services__text {
	/* 2 Block model */
	max-width: 280px;
}
