div.desc-services.desc-services--1
	div.container
		div.row
			div.col-6.col-md-3.col-lg-2
				div.desc-services__item
					h2.h2.desc-services__title 19yr
					p We&rsquo;ve been helping tech startups design digital products since 2001

			div.col-6.col-md-3.col-lg-3.col-xl-2
				div.desc-services__item.desc-services__item--fix
					h2.h2.desc-services__title 70+
					p We&nbsp;served more than 70&nbsp;companies from 12&nbsp;countries

			div.col-6.col-md-3.col-lg-2
				div.desc-services__item
					h2.h2.desc-services__title 57
					p Our playbook includes 57&nbsp;standard operation procedures