div.desc-services
  div.container
    div.row
      div.col-12.col-md-4
        div.desc-services__item
          h2.h2 19yr

          p We&rsquo;ve been helping tech startups design digital products since 2001

      div.col-12.col-md-4
        div.desc-services__item
          h2.h2 70+

          p We&nbsp;served more than 70&nbsp;companies from 12&nbsp;countries

      div.col-12.col-md-4
        div.desc-services__item
          h2.h2 57

          p Our playbook includes 57&nbsp;standard operation procedures