div.phase
  div.container
    div.row
      div.col-12
        div.phase__list
          div.phase__item
            div.phase__top
              span Phase&nbsp;1
              h3.h3 Discovery and Planning
            div.phase__body
              p.text Understanding your business, customers, product, and market.
              p.text Initial research: business requirements review, product audit, market research (competitor research, etc.).
              p.text Product strategy: defining users’ needs in context, existing or competitor solutions, framing the problem.

          div.phase__item
            div.phase__top.phase__top--yellow.phase__top--text-white
              span Phase&nbsp;2
              h3.h3 Design and Delivery
            div.phase__body.phase__body--fix-pl
              p.text Product definition and prototyping. User flows based on&nbsp;user scenarios. Information architecture and wireframing.
              p.text Brand visual identity, high fidelity mockups, interactive prototype, UI&nbsp;kit and patterns libraries, specs and metrics. Delivering development assets, graphics, icons, etc.

          div.phase__item
            div.phase__top.phase__top--dark-blue.phase__top--text-white
              span Phase&nbsp;3
              h3.h3 Development Support
            div.phase__body.phase__body--fix-pl
              p.text 15&nbsp;days of&nbsp;development support.
              p.text 1&nbsp;UX/UI reviews of&nbsp;the implemented layouts.
              p.text Tackling questions and design fixes within the initial scope.