.link {
	/* 3 Typography */
	color: blue;
	text-decoration: none;

	/* 4 Visual */
	outline: none;

	/* 5 Animation */
	transition: all 0.4s;
}
.link:hover,
.link:active,
.link:focus {
	/* 3 Typography */
	color: #ff7100;
	text-decoration: underline;

	/* 4 Visual */
	opacity: 0.7;
}
