.picture-shadow {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	width: 100%;
	max-width: 240px;
	margin: 0 auto;
	@media (min-width: 768px) {
		/* 2 Block model */
		max-width: 220px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		max-width: 317px;
	}
}
.picture-shadow::before {
	/* 1 Positioning */
	position: absolute;
	top: 0;
	right: 6%;
	bottom: -8%;
	z-index: 1;

	/* 2 Block model */
	display: block;
	width: 110%;

	/* 4 Visual */
	content: '';
	background-image: url(../images/picture-shadow__bg.png);
	background-size: cover;
}
.picture-shadow img {
	/* 1 Positioning */
	position: relative;
	z-index: 2;

	/* 2 Block model */
	display: block;
	width: 100%;
}
.picture-shadow--big::before {
	/* 1 Positioning */
	top: -3%;
	right: -4%;
	bottom: -15%;

	/* 2 Block model */
	width: 140%;

	/* 4 Visual */
	background-image: url(../images/picture-shadow__bg--big.png);
}