doctype html
html(lang="en")
	include include/head.pug
	+head('About - Strebkov Design')

	body
		div.wrapper
			include ../blocks/mixins.pug

			include ../blocks/header/header.pug

			div.about
				div.container.page
					div.row
						div.col-12.col-md-10.col-lg-8.offset-md-1.offset-lg-2.mr-mb39
							h1.h1 About us
							p.text-lg.text-lg--black.text-lg--md We&rsquo;re Strebkov Design (nice to&nbsp;meet you!) and we&nbsp;make great digital products for fintech companies. We&nbsp;specialize in&nbsp;helping startups get started the right way with UX/UI design that makes your apps work brilliantly for humans.

				include ../blocks/article-img/article-img.pug

				div.container.about__content
					div.row
						div.col-12.col-md-10.col-lg-8.col-xl-6.offset-md-1.offset-lg-0.offset-xl-1.mr-mb63.page
							article.about-article
								p.text-lg-two At&nbsp;Strebkov Design we&rsquo;re experts at&nbsp;elevating fintech brands with apps and online products that your customers will need and want, and part of&nbsp;the reason why we&rsquo;re so&nbsp;good at&nbsp;what we&nbsp;do&nbsp;is&nbsp;because of&nbsp;our 3-phase process. We&rsquo;ve spent 10&nbsp;years shaping it&nbsp;and now we&nbsp;use it&nbsp;on&nbsp;every project. It&nbsp;keeps&nbsp;us on&nbsp;track so&nbsp;we&nbsp;can deliver a&nbsp;better product to&nbsp;you in&nbsp;less time.
								p.text-lg-two Here&rsquo;s how it&nbsp;works:

								ul
									li
										p.text-lg-bold Phase&nbsp;1. Discovery and Strategy
										p.text-lg-two You wouldn&rsquo;t try and design a&nbsp;glove if&nbsp;you&rsquo;d never seen a&nbsp;hand before, which is&nbsp;why we&nbsp;won&rsquo;t design a&nbsp;user interface before we&rsquo;ve researched who&rsquo;s going to&nbsp;be&nbsp;using it&nbsp;and how they&rsquo;ll interact with&nbsp;it. With that in&nbsp;mind, we&nbsp;start by&nbsp;asking questions. We&nbsp;aim to&nbsp;understand your business, your customers, your product, and your market. We&nbsp;build a&nbsp;clear picture of&nbsp;your whole ecosystem so&nbsp;that we&nbsp;know where your app fits within&nbsp;it.
										p.text-lg-two We&nbsp;research your business requirements, audit the product, and conduct market research so&nbsp;we&nbsp;understand both your customers and your competitors. We&nbsp;explore the product strategy, we&nbsp;define your users with empathy maps and personas, and we&nbsp;put their needs in&nbsp;context with customer journey maps and storyboards. We&nbsp;look at&nbsp;any solutions that you or&nbsp;your competitors already offer, and we&nbsp;frame the problem using POV statements.
									li
										p.text-lg-bold Phase&nbsp;2. Design and Delivery
										p.text-lg-two Phase 2&nbsp;begins with product definition and prototyping. We&nbsp;create user flows based on&nbsp;user scenarios and we&nbsp;map informational architecture. We&nbsp;use wireframing and interactive prototyping to&nbsp;hone our designs further.
										p.text-lg-two It&rsquo;s at&nbsp;this time that we&nbsp;also think about your product identity and visual language, exploring product definition and prototyping. We&nbsp;create user flows based on&nbsp;user scenarios and then dive into information architecture and wireframing. From these inquiries we&nbsp;define the brand&rsquo;s visual identity and formalise it&nbsp;with high fidelity mockups, an&nbsp;interactive prototype, a&nbsp;UI kit and patterns libraries, specs and metrics. Finally, we&nbsp;deliver all the finished visual assets like graphics and icons, so&nbsp;your developers can create the product.
									li
										p.text-lg-bold Phase&nbsp;3. Development Support
										p.text-lg-two We&nbsp;want everything to&nbsp;go&nbsp;smoothly, even after we&rsquo;ve delivered, so&nbsp;we&rsquo;ll give you 45&nbsp;to&nbsp;60&nbsp;days of&nbsp;development support (depending on&nbsp;which package you selected) to&nbsp;iron out any creases. This includes regular UX/UI reviews of&nbsp;the layouts our designers built, answers to&nbsp;your questions, and design fixes (within the initial scope of&nbsp;the project) should they be&nbsp;needed.
								h3.h3.h3--md Why you should work with&nbsp;us
								p.text-lg-two We&rsquo;re a&nbsp;group of&nbsp;skilled and passionate practitioners who put ourselves in&nbsp;your users&rsquo; shoes to&nbsp;understand and enhance their journey. We&nbsp;deliver elegant and functional visual interfaces for fintech startups, wherever they may be&nbsp;in&nbsp;the world, and we&nbsp;owe our success to&nbsp;being fast, effective and able to&nbsp;slot right into your startup team.
								p.text-lg-two Click the &rsquo;Book free call&rsquo; button at&nbsp;the bottom of&nbsp;this page to&nbsp;schedule an&nbsp;initial short appointment. We&rsquo;d love to&nbsp;hear about your project goals and tell you how our services can help to&nbsp;launch your startup or&nbsp;raise your current product to&nbsp;the next level.

						div.col-12.col-md-10.col-lg-4.col-xl-3.offset-md-1.offset-lg-0.offset-xl-1
							aside.about__aside
								+testimonial({
									text: 'We&rsquo;ve been very pleased with the work you&rsquo;ve done for&nbsp;us, Tim. Highly recommended!', 
									img: 'testimonial__img-hamzah', 
									name: 'Hamzah Almasyabi', 
									company: 'CEO @ Minted'
								})
								+testimonial({
									text: 'Excellent agency. I&rsquo;m already starting up&nbsp;my&nbsp;next contract with them. Strong project management and product skills.', 
									img: 'testimonial__img-marvin', 
									name: 'Marvin Matthew', 
									company: 'Bitsian'
								})
								+testimonial({
									text: 'Simply amazing. <br>Seriously', 
									img: 'testimonial__img-chad', 
									name: 'Chad Perry', 
									company: 'WealthCounsel'
								})

			div.gray-dark
				div.bottom
					div.container
						div.row.pd-pt88
							div.col-12.col-md-6.offset-lg-1.pd-mobile
								include ../blocks/lets-talk/lets-talk.pug
							div.col-12.col-md-6.col-lg-5.mob-show
								include ../blocks/list-services-sm/list-services-sm.pug
				div.container
					div.row.pd-pb62
						div.col-12.col-lg-7-6.offset-lg-1
							include ../blocks/footer/footer.pug
			div.overlay

		include include/script.pug