doctype html
html(lang="ru")
	include include/head.pug
	+head('Home - Strebkov Design')

	body
		div.about.wrapper
			include ../blocks/mixins.pug

			include ../blocks/header/header.pug

			div.container.page
				div.row
					div.col-12.col-md-10.col-lg-8.offset-md-1.offset-lg-2.pd-pt56.mr-mb54
						h1.h1 About
						p.text-lg Hi! I’m Tim Strebkov, an&nbsp;Art Director, Product Designer and Design Entrepreneur. My&nbsp;team and I&nbsp;at Strebkov Design have lots of&nbsp;experience in&nbsp;the fintech, data research and education industries, but you’ll find that we&nbsp;can lend our skills to&nbsp;virtually any digital product or&nbsp;service that your business might need. 

			include ../blocks/article-img/article-img.pug

			div.container.page.mr-mb85
				div.row
					div.col-12.col-md-10.col-lg-6.offset-md-1
						article
							h2.h2 About
							p Despite having two parents and a&nbsp;grandfather who were graphic and product designers, my&nbsp;first job out of&nbsp;University was working as&nbsp;a&nbsp;programmer for a&nbsp;company that made flight recorders.
							p What was I&nbsp;thinking?
							p I&nbsp;was told that my&nbsp;toolbar icons looked a&nbsp;heck of&nbsp;a&nbsp;lot better than my&nbsp;code, and I’m so&nbsp;glad I&nbsp;listened. I’ve been designing ever since, and nowadays my&nbsp;team and&nbsp;I help to&nbsp;build great digital products from scratch and improve on&nbsp;existing ones.

							h2.h2 What I do
							p Along with my&nbsp;team, I&nbsp;help software companies build digital products that make people happy, because happy customers are the best sort to&nbsp;have.
							p We&nbsp;design structured services for you with clear steps, because clear and simple design will bring those customers to&nbsp;your door.
							p We’re always up&nbsp;to&nbsp;speed with new technologies that attract a&nbsp;younger audience, and we&nbsp;help them to&nbsp;make decisions that make them want to&nbsp;stay with you. We&nbsp;also help you anticipate what they’ll want in&nbsp;future because we’re all about helping you attract and retain them.

							h2.h2 Why work with&nbsp;me?
							p
								b 15+&nbsp;years of&nbsp;experience in&nbsp;usability and visual interface design.
								|Effective design is&nbsp;my&nbsp;passion. I&nbsp;get involved in&nbsp;everything from rough&nbsp;UX concepts to&nbsp;finished UIs, from development support to&nbsp;building design systems and processes. I’m always looking for the best solutions for your business.
							p
								b Diverse experience in&nbsp;10&nbsp;industries across lots of&nbsp;countries.
								|Including data research firms, investment brokers, online education companies and many more. I’ve enjoyed working with folks from the USA, UK, China, Germany, Austria, Hong Kong, Singapore, Malta, Latvia, India, Russia, and Ukraine, and I’m happy to&nbsp;say they’ve all been delighted with the results. I&nbsp;know this because they tell me&nbsp;so&nbsp;and because on&nbsp;average they retain my&nbsp;services for 6&nbsp;years.
							p
								b Lasting relationships.
								|One client has been coming back to&nbsp;us since 2006, and&nbsp;I put this longevity down to&nbsp;our boutique approach. I’m the Art Director and Manager on&nbsp;every project, which means that as&nbsp;well as&nbsp;designing up&nbsp;a&nbsp;storm&nbsp;I use my&nbsp;tried and tested methods to&nbsp;keep all those plates spinning at&nbsp;once, so&nbsp;you’ll never need to&nbsp;micromanage our work.
							p This means your development team will get exactly what they need, including high-quality layouts in&nbsp;Sketch/Zeplin, clear text instructions, development support and regular UX/UI reviews. And on&nbsp;the practical side, we’ve established 2&nbsp;legal entities in&nbsp;different countries to&nbsp;ensure that dealing with&nbsp;us is&nbsp;a&nbsp;breeze.

							h2.h2 How to&nbsp;start working with&nbsp;me
							p Click &rsquo;Book free call&rsquo; button at&nbsp;the bottom of&nbsp;this page and schedule a&nbsp;first short appointment with me&nbsp;to&nbsp;discuss your project goals and if&nbsp;my&nbsp;team and&nbsp;I are able to&nbsp;help you.

					div.col-12.col-md-10.col-lg-4.col-xl-3.offset-md-1.offset-lg-0.offset-xl-1
						aside.about__aside
							+testimonial({
								text: 'Tim truly loves his craft and you can feel it in every aspect of&nbsp;his work.', 
								img: 'testimonial__img-andrey', 
								name: 'Andrey Anisimov', 
								company: 'VP Technology @ 8base'
							})
							+testimonial({
								text: 'Not only is&nbsp;Tim a&nbsp;great designer but also an analyst and project manager who examines your business and clients, and then delivers outstanding results', 
								img: 'testimonial__img-ivan', 
								name: 'Ivan Kuznetsov', 
								company: 'CEO @ Investex'
							})
							+testimonial({
								text: 'Simply amazing. <br>Seriously', 
								img: 'testimonial__img-chad', 
								name: 'Chad Perry', 
								company: 'WealthCounsel'
							})

			div.bottom.gray-dark
				div.container
					div.row.pd-pt100.mr-mb94
						div.col-12.col-md-6.offset-lg-1.pd-mobile
							include ../blocks/lets-talk/lets-talk.pug
						div.col-12.col-md-6.col-lg-5
							include ../blocks/list-services-sm/list-services-sm.pug

			div.gray-dark
				div.container
					div.row.pd-pb62
						div.col-12.col-lg-7-6.offset-lg-1
							include ../blocks/footer/footer.pug

		include include/script.pug