doctype html
html(lang="en")
	include include/head.pug
	+head('Case-updown-mobile - Strebkov Design')

	body
		div.wrapper
			include ../blocks/mixins.pug

			include ../blocks/header/header.pug

			div.case-updown.case-updown--mobile
				section.case-updown__header
					div.container
						div.row
							div.col-12.col-md-6.col-lg-4.offset-xl-1
								div.case__info
									span.case__date Undisclosed client, 2015&ndash;2016
									h1.h1 Mobile apps for a&nbsp;binary options broker
									p.text-lg proved is&nbsp;a&nbsp;smart service designed to&nbsp;test-market products or&nbsp;ideas. Startups or&nbsp;established companies can receive fast, cost-effective res ults using a&nbsp;streamlined, carefully calibrated system.
									p.text-lg proved&rsquo;s cofounders are professional research specialists who have tested thousands of&nbsp;products, services and promotional ideas for global brands. With Proved, they created an&nbsp;affordable market-research tool for small businesses and entrepreneurs.

							div.col-12.col-md-6
								div.case-updown__header-img
									picture
										img(src="images/case-updown__header-1.png" srcset="images/case-updown__header-1@2x.png 2x" alt="Mobile apps for a&nbsp;binary options broker")

				div.container.page.mr-mb86
					div.row
						div.col-12.col-md-10.col-xl-8.offset-md-1.offset-xl-2
							h2.h2 The Opportunity
							p FluentU is&nbsp;an&nbsp;application that helps teach foreign language skills using real-world videos. Originally an&nbsp;educational resource for Chinese language learners, FluentU soon expanded to&nbsp;other languages. The program helps users learn vocabulary by&nbsp;watching video content&nbsp;&mdash; commercials, music videos, news, etc. &mdash;&nbsp;in&nbsp;the target language.
							p All videos have subtitles in&nbsp;both English and the target language, and there is&nbsp;detailed vocabulary information available for each word. After watching the video, the user completes a&nbsp;short quiz. The system tracks learned words and supplies content that includes newly learned vocabulary.

							h2.h2 Our Approach
							p FluentU is&nbsp;an&nbsp;application that helps teach foreign language skills using real-world videos. Originally an&nbsp;educational resource for Chinese language learners, FluentU soon expanded to&nbsp;other languages. The program helps users learn vocabulary by&nbsp;watching video content&nbsp;&mdash; commercials, music videos, news, etc. &mdash;&nbsp;in&nbsp;the target language.
							p All videos have subtitles in&nbsp;both English and the target language, and there is&nbsp;detailed vocabulary information available for each word. After watching the video, the user completes a&nbsp;short quiz. The system tracks learned words and supplies content that includes newly learned vocabulary.

				div.img-gray-block.img-gray-block--lg
					div.container
						div.row
							div.col-12.col-md-4.mr-mb60
								+picture-shadow({img: 'case-updown__img-1', alt: 'FluentU'})(class="picture-shadow--big")

							div.col-12.col-md-4.mr-mb60
								+picture-shadow({img: 'case-updown__img-2', alt: 'FluentU'})(class="picture-shadow--big")

							div.col-12.col-md-4.mr-mb60
								+picture-shadow({img: 'case-updown__img-3', alt: 'FluentU'})(class="picture-shadow--big")

				div.container.mr-mb96
					div.row
						div.col-12
							p.image-description FluentU is&nbsp;an&nbsp;application that helps teach foreign language skills using real-world videos. Originally an&nbsp;educational resource for Chinese language learners, FluentU soon expanded to&nbsp;other languages. The program helps users learn vocabulary by&nbsp;watching video content&nbsp;&mdash; commercials, music videos, news, etc.

				div.img-gray-block.img-gray-block--lg
					div.container
						div.row
							div.col-12.col-md-4.mr-mb60
								+picture-shadow({img: 'case-updown__img-4', alt: 'FluentU'})(class="picture-shadow--big")

							div.col-12.col-md-4.mr-mb60
								+picture-shadow({img: 'case-updown__img-5', alt: 'FluentU'})(class="picture-shadow--big")

							div.col-12.col-md-4.mr-mb60
								+picture-shadow({img: 'case-updown__img-6', alt: 'FluentU'})(class="picture-shadow--big")

				div.container.mr-mb96
					div.row
						div.col-12
							p.image-description FluentU is&nbsp;an&nbsp;application that helps teach foreign language skills using real-world videos. Originally an&nbsp;educational resource for Chinese language learners, FluentU soon expanded to&nbsp;other languages. The program helps users learn vocabulary by&nbsp;watching video content&nbsp;&mdash; commercials, music videos, news, etc.


				div.container.mr-mb127
					div.row.page
						div.col-12.col-md-10.col-xl-8.offset-md-1.offset-xl-2
							h2.h2 The Outcome
							p FluentU is&nbsp;an&nbsp;application that helps teach foreign language skills using real-world videos. Originally an&nbsp;educational resource for Chinese language learners, FluentU soon expanded to&nbsp;other languages. The program helps users learn vocabulary by&nbsp;watching video content&nbsp;&mdash; commercials, music videos, news, etc. &mdash;&nbsp;in&nbsp;the target language.
							p All videos have subtitles in&nbsp;both English and the target language, and there is&nbsp;detailed vocabulary information available for each word. After watching the video, the user completes a&nbsp;short quiz. The system tracks learned words and supplies content that includes newly learned vocabulary.

			div.gray-dark
				div.bottom
					div.container
						div.row.pd-pt88
							div.col-12.col-md-6.offset-lg-1.pd-mobile
								include ../blocks/lets-talk/lets-talk.pug
							div.col-12.col-md-6.col-lg-5.mob-show
								include ../blocks/list-services-sm/list-services-sm.pug
				div.container
					div.row.pd-pb62
						div.col-12.col-lg-7-6.offset-lg-1
							include ../blocks/footer/footer.pug

		include include/script.pug