doctype html
html(lang="en")
	include include/head.pug
	+head('Case-broker - Strebkov Design')

	body
		div.case-broker.wrapper
			include ../blocks/mixins.pug

			include ../blocks/header/header.pug

			section.case-broker__header.gray
				div.container
					div.row
						div.col-12.col-md-5.offset-md-1
							div.case__info
								span.case__date Undisclosed client, 2013—Present
								h1.h1 Mobile trading platforms for investments company
								p.text-lg proved is&nbsp;a&nbsp;smart service designed to&nbsp;test-market products or&nbsp;ideas. Startups or&nbsp;established companies can receive fast, cost-effective results using a&nbsp;streamlined, carefully calibrated system.
								p.text-lg proved&rsquo;s cofounders are professional research specialists who have tested thousands of&nbsp;products, services and promotional ideas for global brands. With Proved, they created an&nbsp;affordable market-research tool for small businesses and entrepreneurs.

						div.col-12.col-md-6
							div.case-broker__header-img
								picture
									img(src="images/case-broker__img-header-1.png" srcset="images/case-broker__img-header-1@2x.png 2x" alt="Mobile trading platforms for investments company")

			div.container.page.mr-mb46
				div.row
					div.col-12.col-md-8.offset-md-2
						h2.h2 The Opportunity
						p FluentU is&nbsp;an&nbsp;application that helps teach foreign language skills using real-world videos. Originally an&nbsp;educational resource for Chinese language learners, FluentU soon expanded to&nbsp;other languages. The program helps users learn vocabulary by&nbsp;watching video content&nbsp;&mdash; commercials, music videos, news, etc. &mdash;&nbsp;in&nbsp;the target language.
						p All videos have subtitles in&nbsp;both English and the target language, and there is&nbsp;detailed vocabulary information available for each word. After watching the video, the user completes a&nbsp;short quiz. The system tracks learned words and supplies content that includes newly learned vocabulary.

						h2.h2 Our Approach
						p FluentU is&nbsp;an&nbsp;application that helps teach foreign language skills using real-world videos. Originally an&nbsp;educational resource for Chinese language learners, FluentU soon expanded to&nbsp;other languages. The program helps users learn vocabulary by&nbsp;watching video content&nbsp;&mdash; commercials, music videos, news, etc. &mdash;&nbsp;in&nbsp;the target language.
						p All videos have subtitles in&nbsp;both English and the target language, and there is&nbsp;detailed vocabulary information available for each word. After watching the video, the user completes a&nbsp;short quiz. The system tracks learned words and supplies content that includes newly learned vocabulary.
						
			div.case-broker__slider
				div.img-gray-block
					div.container
						div.row
							div.col-12
								include ../blocks/slider-case/slider-case.pug

			div.container.mr-mb85
				div.row
					div.col-12
						p.image-description FluentU is&nbsp;an&nbsp;application that helps teach foreign language skills using real-world videos. Originally an&nbsp;educational resource for Chinese language learners, FluentU soon expanded to&nbsp;other languages. The program helps users learn vocabulary by&nbsp;watching video content&nbsp;&mdash; commercials, music videos, news, etc.

			div.img-gray-block.img-gray-block
				div.container
					div.row
						div.col-12.col-md-4.mr-mb60
							+picture-shadow({img: 'case-broker__img-1', alt: 'img'})

						div.col-12.col-md-4.mr-mb60
							+picture-shadow({img: 'case-broker__img-2', alt: 'img'})
			
						div.col-12.col-md-4.mr-mb60
							+picture-shadow({img: 'case-broker__img-3', alt: 'img'})

			div.container.mr-mb85
				div.row
					div.col-12
						p.image-description FluentU is&nbsp;an&nbsp;application that helps teach foreign language skills using real-world videos. Originally an&nbsp;educational resource for Chinese language learners, FluentU soon expanded to&nbsp;other languages. The program helps users learn vocabulary by&nbsp;watching video content&nbsp;&mdash; commercials, music videos, news, etc.

			div.img-gray-block.img-gray-block--lg
				div.container
					div.row
						div.col-12.col-md-4.mr-mb60
							+picture-shadow({img: 'case-broker__img-4', alt: 'img'})(class="picture-shadow--big")

						div.col-12.col-md-4.mr-mb60
							+picture-shadow({img: 'case-broker__img-5', alt: 'img'})(class="picture-shadow--big")
			
						div.col-12.col-md-4.mr-mb60
							+picture-shadow({img: 'case-broker__img-6', alt: 'img'})(class="picture-shadow--big")

			div.container.mr-mb85
				div.row
					div.col-12
						p.image-description FluentU is&nbsp;an&nbsp;application that helps teach foreign language skills using real-world videos. Originally an&nbsp;educational resource for Chinese language learners, FluentU soon expanded to&nbsp;other languages. The program helps users learn vocabulary by&nbsp;watching video content&nbsp;&mdash; commercials, music videos, news, etc.

			div.case-broker__body-img
				div.img-gray-block
					picture
						img(src="images/case-broker__body-img.png" srcset="images/case-broker__body-img@2x.png 2x" alt="img")

			div.container
				div.row
					div.col-12.mr-mb114
						p.image-description FluentU is&nbsp;an&nbsp;application that helps teach foreign language skills using real-world videos. Originally an&nbsp;educational resource for Chinese language learners, FluentU soon expanded to&nbsp;other languages. The program helps users learn vocabulary by&nbsp;watching video content&nbsp;&mdash; commercials, music videos, news, etc.

				div.row
					div.col-12
						div.case-broker__bottom-img
							picture
								img(src="images/case-broker__bottom-img.png" srcset="images/case-broker__bottom-img@2x.png 2x" alt="img")
				div.row
					div.col-12.mr-mb70
						p.image-description FluentU is&nbsp;an&nbsp;application that helps teach foreign language skills using real-world videos. Originally an&nbsp;educational resource for Chinese language learners, FluentU soon expanded to&nbsp;other languages. The program helps users learn vocabulary by&nbsp;watching video content&nbsp;&mdash; commercials, music videos, news, etc.

			div.container.page.mr-mb79
				div.row
					div.col-12.col-md-8.offset-md-2
						h2.h2 The Opportunity
						p FluentU is&nbsp;an&nbsp;application that helps teach foreign language skills using real-world videos. Originally an&nbsp;educational resource for Chinese language learners, FluentU soon expanded to&nbsp;other languages. The program helps users learn vocabulary by&nbsp;watching video content&nbsp;&mdash; commercials, music videos, news, etc. &mdash;&nbsp;in&nbsp;the target language.
						p All videos have subtitles in&nbsp;both English and the target language, and there is&nbsp;detailed vocabulary information available for each word. After watching the video, the user completes a&nbsp;short quiz. The system tracks learned words and supplies content that includes newly learned vocabulary.

			
			div.bottom.gray-dark
				div.container
					div.row.pd-pt100.mr-mb94
						div.col-12.col-md-6.offset-lg-1.pd-mobile
							include ../blocks/lets-talk/lets-talk.pug
						div.col-12.col-md-6.col-lg-5
							include ../blocks/list-services-sm/list-services-sm.pug

			div.gray-dark
				div.container
					div.row.pd-pb62
						div.col-12.col-lg-7-6.offset-lg-1
							include ../blocks/footer/footer.pug

		include include/script.pug