doctype html
html(lang="en")
	include include/head.pug
	+head('Claim Free Session - Strebkov Design')

	body
		div.wrapper-fix
			include ../blocks/mixins.pug

			include ../blocks/header/--in-header.pug

			include ../blocks/uxdesigntoolkit/uxdesigntoolkit.pug


		include include/script.pug