doctype html
html(lang="en")
	include include/head.pug
	+head('Claim Free Session - Strebkov Design')

	body
		div.wrapper-fix
			include ../blocks/mixins.pug

			include ../blocks/claim-free/claim-free.pug

		include include/script.pug