doctype html
html(lang="en")
	include include/head.pug
	+head('Confirm Email - Strebkov Design')

	body
		div.content-only.wrapper-fix
			include ../blocks/mixins.pug

			div.content-only__body
				include ../blocks/confirm-email/confirm-email.pug

			div.content-only__footer
				include ../blocks/footer/footer-content-only.pug

		include include/script.pug