doctype html
html(lang="en")
	include include/head.pug
	+head('Done')

	body
		div.container
			div.done
				h1.h1 Done.

				p Thank you for your interest in my work. Now I have your email and I’ll try to get back to you as soon as I can with additional information about how I can help your business.

				include ../blocks/btn/btn.pug
				+btn({type: 'link', url: '/', text: 'Go to Home page'})

		include include/script.pug