doctype html
html(lang="en")
	include include/head.pug
	+head('Home - Strebkov Design')

	body
		div.wrapper
			include ../blocks/mixins.pug

			a(name="top")
			include ../blocks/header/header.pug

			div.container
				include ../blocks/home-top/home-top.pug
			//- a(name="services")
			//- include ../blocks/main-services/main-services.pug

			include ../blocks/companies/companies.pug

			include ../blocks/experts/experts.pug

			div.container
				div.row
					div.col-12.col-md-10.offset-md-1
						a(name="case_studies")
						h2.h2.h2--mb-sm Trusted by&nbsp;the financial industry

						p.text-lg.text-lg--md.text-lg--mb-lg We&rsquo;re always up&nbsp;to&nbsp;speed with new technologies that attract a&nbsp;younger audience, and we&nbsp;help them to&nbsp;make decisions that make them want to&nbsp;stay with you. We&nbsp;also help you anticipate what they&rsquo;ll want in&nbsp;future because we&rsquo;re all about helping you attract and retain them.

			include ../blocks/cat/cat.pug

			div.gray-dark
				div.bottom
					div.container
						div.row.pd-pt88
							div.col-12.col-md-6.offset-lg-1.pd-mobile
								include ../blocks/lets-talk/lets-talk.pug
							div.col-12.col-md-6.col-lg-5.mob-show
								include ../blocks/list-services-sm/list-services-sm.pug
				div.container
					div.row.pd-pb62
						div.col-12.col-lg-7-6.offset-lg-1
							include ../blocks/footer/footer.pug

		include include/script.pug