doctype html
html(lang="en")
	include include/head.pug
	+head('Index - Strebkov Design')

	body
		include ../blocks/mixins.pug
		div.intro-page
			div.container
				div.row.justify-content-center
					div.col-12.col-lg-6
						div.intro-page__top
							include ../blocks/logo/logo.pug 

						ul.intro-page__list
							li.intro-page__item
								a(href="home.html" target="_blank") home

							li.intro-page__item
								a(href="about.html" target="_blank") about

							li.intro-page__item
								a(href="mvp-design.html" target="_blank") mvp-design

							li.intro-page__item
								a(href="outsource-design.html" target="_blank") outsource-design

							li.intro-page__item
								a(href="case-broker.html" target="_blank") case-broker

							li.intro-page__item
								a(href="case-cryptology.html" target="_blank") case-cryptology

							li.intro-page__item
								a(href="case-updown.html" target="_blank") case-updown

							li.intro-page__item
								a(href="case-updown-mobile.html" target="_blank") case-updown-mobile

							li.intro-page__item
								a(href="outsourcing.html" target="_blank") outsourcing

							li.intro-page__item
								a(href="privacy.html" target="_blank") privacy

							li.intro-page__item
								a(href="uxdesigntoolkit.html" target="_blank") uxdesigntoolkit

							li.intro-page__item
								a(href="get-funded.html" target="_blank") get-funded

							li.intro-page__item
								a(href="blog.html" target="_blank") blog 

							li.intro-page__item
								a(href="post.html" target="_blank") post

							li.intro-page__item
								a(href="confirm-email.html" target="_blank") Confirm email

							li.intro-page__item
								a(href="claim-free.html" target="_blank") Claim Free Session

							li.intro-page__item
								a(href="design-gazette.html" target="_blank") Fintech Design Gazette

							li.intro-page__item
								a(href="refine.html" target="_blank") Refine
		include include/script.pug