doctype html
html(lang="en")
	include include/head.pug
	+head('Outsource-design - Strebkov Design')

	body
		div.wrapper
			include ../blocks/mixins.pug

			include ../blocks/header/header.pug

			include ../blocks/mvp-design/mvp-desing--outsource.pug

			div.bottom.gray-dark
				div.container
					div.row.pd-pt100.mr-mb94
						div.col-12.col-md-6.offset-lg-1.pd-mobile
							include ../blocks/lets-talk/lets-talk.pug
						div.col-12.col-md-6.col-lg-5
							include ../blocks/list-services-sm/list-services-sm.pug

			div.gray-dark
				div.container
					div.row.pd-pb62
						div.col-12.col-lg-7-6.offset-lg-1
							include ../blocks/footer/footer.pug

		include include/script.pug