doctype html
html(lang="ru")
	include include/head.pug
	+head('Style Guide')

	body
		include ../blocks/mixins.pug
		
		div.container
			div.row
				div.col-12
					div.mr-mb10
						h1.h0 h0
						h1.h1 h1
						h2.h2 h2
						h3.h3 h3
						p.lead Lead
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum hic vel eligendi eos labore expedita quas consequuntur numquam nulla quo molestiae obcaecati laborum ipsum, incidunt doloremque, fuga atque! Cupiditate, sit.
						p.text-lg Text Lg
						p.image-description Imgae description

					div.mr-mb10
						p Colors
						p.color-1 Color 1 - #000000
						p.color-2 Color 2 - #FFFFFF
						p.color-3 Color 3 - #FFD933
						p.color-4 Color 4 - #4A4A4A
						p.color-5 Color 5 - #969696
						p.color-6 Color 6 - #FAFAFA
						p.color-7 Color 7 - #FBFBFB
						p.color-8 Color 8 - #999999
						p.color-9 Color 9 - #7ED321

			div.row
				div.col-12
					br
					br
					hr
					br
					br

		include ../blocks/main-services/main-services.pug

		include include/script.pug