doctype html
html(lang="en")
	include include/head.pug
	+head('Uxdesigntoolkit - Strebkov Design')

	body
		include ../blocks/mixins.pug

		include ../blocks/header/--in-header.pug

		include ../blocks/uxdesigntoolkit/uxdesigntoolkit.pug

			
		include include/script.pug