.uxdesigntoolkit__text {
	/* 2 Block model */
	width: 100%;
	max-width: 439px;
	margin-bottom: 60px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 0;
	}
}
.uxdesigntoolkit__text .h1 {
	/* 2 Block model */
	margin-bottom: 43px;
}
.uxdesigntoolkit__text p {
	/* 2 Block model */
	margin-bottom: 10px;
}
.uxdesigntoolkit__text .text-lg {
	/* 2 Block model */
	padding-top: 24px;
}
.uxdesigntoolkit__img {
	/* 2 Block model */
	margin-bottom: 21px;
}
.uxdesigntoolkit__bottom {
	/* 2 Block model */
	padding-top: 80px;
	padding-bottom: 67px;
}

/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation */

/* 6 Misc */