section.uxdesigntoolkit
  div.container.mr-mb148
    div.row
      div.col-12.col-md-5.offset-md-1
        div.uxdesigntoolkit__text
          h1.h1 Attention Fintech Founders, CEOs and CTOs! Building a&nbsp;Mobile or&nbsp;Web Application?
          p Not sure where to&nbsp;start?
          p Download our UX&nbsp;Design Toolkit to&nbsp;help you plan and build a&nbsp;better fintech app.
          p Includes templates for User Personas, Feature Matrix, POV Statements, How Might&nbsp;We.
          p.text-lg
            b Not only will this toolkit help you be&nbsp;more successful with your app, but we&nbsp;also include a&nbsp;complimentary 1&nbsp;on 1&nbsp;app blueprinting session with each download!

      div.col-12.col-md-5
        include ../get-toolkit/get-toolkit.pug

  div.uxdesigntoolkit__bottom.gray-dark
    div.container
      div.row.mr-mb45
        div.col-12.col-md-5.offset-md-1
          div.uxdesigntoolkit__img
            img.img(src="images/uxdesigntoolkit__img-1.jpg", srcset="images/uxdesigntoolkit__img-1@2x.jpg 2x", alt="img")

        div.col-12.col-md-5
          div.uxdesigntoolkit__img
            img.img(src="images/uxdesigntoolkit__img-2.jpg", srcset="images/uxdesigntoolkit__img-2@2x.jpg 2x", alt="img")

        div.col-12.col-md-5.offset-md-1
          div.uxdesigntoolkit__img
            img.img(src="images/uxdesigntoolkit__img-3.jpg", srcset="images/uxdesigntoolkit__img-3@2x.jpg 2x", alt="img")

        div.col-12.col-md-5
          div.uxdesigntoolkit__img
            img.img(src="images/uxdesigntoolkit__img-4.jpg", srcset="images/uxdesigntoolkit__img-4@2x.jpg 2x", alt="img")
      
      div.row
        div.col-12.col-md-5.offset-md-1
          footer.footer
            p 2019&nbsp;&copy; Strebkov Design. All rights reserved.