.uxdesigntoolkit__top {
	/* 2 Block model */
	margin-bottom: 87px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 20px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 46px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 72px;
	}
}
.uxdesigntoolkit__text {
	/* 2 Block model */
	width: 100%;
	max-width: 439px;
	margin-bottom: 47px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 0;
	}
}
.uxdesigntoolkit__text .h0 {
	/* 2 Block model */
	margin-bottom: 30px;
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 40px;
	}
}
.uxdesigntoolkit__text .text-lg-thre {
	/* 2 Block model */
	margin-bottom: 24px;
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 29px;
	}
}
.uxdesigntoolkit .get-toolkit {
	/* 4 Visual */
	background-color: #ffffff;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.05), 0 5px 40px rgba(39, 57, 76, 0.1);
}
.uxdesigntoolkit__body .container {
	/* 2 Block model */
	padding-right: 0;
	padding-left: 0;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-right: 10px;
		padding-left: 10px;
	}
}
.uxdesigntoolkit__body .col-12 {
	/* 2 Block model */
	padding-right: 0;
	padding-left: 0;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-right: 10px;
		padding-left: 10px;
	}
}
.uxdesigntoolkit__img img {
	/* 1 Positioning */
	position: relative;
	top: 0;

	/* 2 Block model */
	display: inline-block;
	width: 910px;

	/* 4 Visual */
	transform: translate(-24.5%, 0);
	@media (min-width: 500px) {
		/* 4 Visual */
		transform: translate(-16.5%, 0);
	}
	@media (min-width: 580px) {
		/* 4 Visual */
		transform: translate(-14.5%, 0);
	}
	@media (min-width: 768px) {
		/* 1 Positioning */
		position: static;

		/* 2 Block model */
		display: block;
		width: 100%;
		margin: 0 auto;

		/* 4 Visual */
		transform: translate(0, 0);
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		max-width: 1042px;
	}
}
.uxdesigntoolkit__bottom {
	/* 2 Block model */
	padding-top: 45px;
	padding-bottom: 30px;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-top: 122px;
		padding-bottom: 30px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-top: 56px;
		padding-bottom: 65px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		padding-top: 106px;
	}
}
.uxdesigntoolkit__bottom .footer {
	/* 2 Block model */
	padding-top: 20px;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-top: 38px;
	}
}
