.text-lg {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 17px;
	font-weight: 300;
	line-height: 25px;
	color: #4a4a4a;
	letter-spacing: -0.1px;
	@media (min-width: 992px) {
		/* 3 Typography */
		font-size: 18px;
		line-height: 28px;
		letter-spacing: -0.105882px;
	}
}
.text-lg-two {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	color: #000000;
	letter-spacing: -0.0941177px;
	@media (min-width: 992px) {
		/* 3 Typography */
		font-size: 18px;
		line-height: 28px;
		letter-spacing: -0.105882px;
	}
}
.text-lg-thre {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 20px;
	font-weight: 300;
	line-height: 25px;
	color: #000000;
	letter-spacing: -0.117647px;
	@media (min-width: 992px) {
		/* 3 Typography */
		font-size: 22px;
		line-height: 32px;
		letter-spacing: normal;
	}
}
.text-lg-firth {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-second;
	font-size: 20px;
	font-weight: 500;
	line-height: 34px;
	color: #000000;
	letter-spacing: -0.123077px;
	@media (min-width: 992px) {
		/* 3 Typography */
		font-size: 22px;
		line-height: 32px;
		letter-spacing: normal;
	}
}
.text-lg-bold {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-second;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #000000;
	letter-spacing: -0.0984615px;
	@media (min-width: 992px) {
		/* 3 Typography */
		font-size: 20px;
		line-height: 28px;
		letter-spacing: -0.123077px;
	}
}
.text-lg--md {
	/* 3 Typography */
	color: #000000;
	@media (min-width: 992px) {
		/* 3 Typography */
		font-size: 22px;
		line-height: 32px;
		letter-spacing: normal;
	}
}
.text-lg--black {
	/* 3 Typography */
	color: #000000;
}
.text-lg--mb-lg {
	/* 2 Block model */
	margin-bottom: 60px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 72px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 78px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 75px;
	}
}
