nav.menu
	ul.menu__list
		li.menu__item
			a(href="#top") Home

		li.menu__item
			a(href="#services") Services

		li.menu__item
			a(href="#case_studies") Case Studies

		li.menu__item
			a(href="#why_strebkov") Why Strebkov
