nav.menu
	ul.menu__list
		li.menu__item
			a(href="#top") Home

		li.menu__item.menu__item-dropdown
			span.menu__item-link-dropdown Products
			div.menu__wrapper-dropdown
				ul.menu__level-2
					li.menu__level-2-item
						a.menu__level-2-link(href="#")
							+icon('icon--angle-30', 'icon--30')
							div.menu__info
								p.h3.menu__info-title Validate™
								p.menu__info__text You have an&nbsp;idea about your future project or&nbsp;business and you want to&nbsp;make a&nbsp;basic design to&nbsp;share with your partners, team members, and investors.

					li.menu__level-2-item
						div.menu__level-2-div
							+icon('icon--square-30', 'icon--30')
							div.menu__info
								p.h3.menu__info-title Launch™
								p.menu__info__text Even if&nbsp;you&rsquo;re a&nbsp;pre-seed fintech startup, you can still stand out with a&nbsp;great web app.
					li.menu__level-2-item
						div.menu__level-2-div
							+icon('icon--polygon-30', 'icon--30')
							div.menu__info
								p.h3.menu__info-title Lift™
								p.menu__info__text Our top digital product design offering for financial companies that want to dominate their market.
					li.menu__level-2-item
						div.menu__level-2-div
							+icon('icon--circle-30', 'icon--30')
							div.menu__info
								p.h3.menu__info-title Refine™
								p.menu__info__text Get a&nbsp;reliable seasoned product design team to&nbsp;work on&nbsp;your product at&nbsp;a&nbsp;fraction of&nbsp;the cost of&nbsp;in-house personnel.

		li.menu__item.menu__item--active
			a(href="#case_studies") Case Studies

		li.menu__item
			a(href="blog.html") Blog