.h3 {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 28px;
	font-weight: 700;
	line-height: 34px;
	color: #000000;
	@media (min-width: 768px) {
		/* 3 Typography */
		font-size: 36px;
		line-height: 42px;
	}
	@media (min-width: 992px) {
		/* 3 Typography */
		font-size: 40px;
		line-height: 48px;
	}
	@media (min-width: 1200px) {
		/* 3 Typography */
		font-size: 52px;
		line-height: 60px;
	}
	@media (min-width: 1400px) {
		/* 3 Typography */
		font-size: 58px;
		line-height: 64px;
	}
	@media (min-width: 1920px) {
		/* 3 Typography */
		font-size: 60px;
		line-height: 66px;
	}
}