.h3 {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-second;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #000000;
	letter-spacing: -0.0984615px;
	@media (min-width: 992px) {
		/* 3 Typography */
		font-size: 20px;
		line-height: 28px;
		letter-spacing: -0.123077px;
	}
}
.h3--md {
	/* 3 Typography */
	font-size: 24px;
	line-height: 34px;
	letter-spacing: -0.147692px;
	@media (min-width: 992px) {
		/* 3 Typography */
		font-size: 30px;
		line-height: 40px;
		letter-spacing: -0.184615px;
	}
}
.h3-2 {
	/* 2 Block model */
	margin: 0;
	
	/* 3 Typography */
	font-family: $font-second;
	font-size: 30px;
	font-weight: 500;
	line-height: 40px;
	color: #000000;
	letter-spacing: -0.18px;
}