div.star-reviews
	div.container
		div.row
			div.col-12.col-md-4
				div.star-reviews__item
					div.star-reviews__body-stars
						+icon('', '')
						+icon('', '')
						+icon('', '')
						+icon('', '')
						+icon('', '')
					div.star-reviews__text
			div.col-12.col-md-4
				div.star-reviews__item
					div.star-reviews__body-stars
						+icon('', '')
						+icon('', '')
						+icon('', '')
						+icon('', '')
						+icon('', '')
					div.star-reviews__text
			div.col-12.col-md-4
				div.star-reviews__item
					div.star-reviews__body-stars
						+icon('', '')
						+icon('', '')
						+icon('', '')
						+icon('', '')
						+icon('', '')
					div.star-reviews__text
