div.star-reviews
	div.container
		div.row
			div.col-12.col-md-4
				div.star-reviews__item
					div.star-reviews__body-stars
						+icon('icon--star', 'icon--20')
						+icon('icon--star', 'icon--20')
						+icon('icon--star', 'icon--20')
						+icon('icon--star', 'icon--20')
						+icon('icon--star', 'icon--20')
					div.star-reviews__text &ldquo;very pleased with the work you&rsquo;ve done for&nbsp;us&rdquo;

			div.col-12.col-md-4
				div.star-reviews__item
					div.star-reviews__body-stars
						+icon('icon--star', 'icon--20')
						+icon('icon--star', 'icon--20')
						+icon('icon--star', 'icon--20')
						+icon('icon--star', 'icon--20')
						+icon('icon--star', 'icon--20')
					div.star-reviews__text &ldquo;strong project management and product skills&rdquo;
			div.col-12.col-md-4
				div.star-reviews__item
					div.star-reviews__body-stars
						+icon('icon--star', 'icon--20')
						+icon('icon--star', 'icon--20')
						+icon('icon--star', 'icon--20')
						+icon('icon--star', 'icon--20')
						+icon('icon--star', 'icon--20')
					div.star-reviews__text &ldquo;Simply amazing.
						br
						|Seriously.&rdquo;
