section.post
	div.post__top
		div.container
			div.row
				div.col-12
					h1.h0.post__title How Much Does It&nbsp;Cost to&nbsp;Build a&nbsp;Mobile App MVP?
					span.post__time 8 min read
					div.post__img
						img(src="images/post__img-01.jpg" srcset="images/post__img-01.jpg 2x" alt="img" title="img")
	div.post__body
		div.container
			div.row
				div.col-2
					div.post__share 
						span.post__share-tex Share
						ul.post__social
							li.post__social__item
								a(href="#" target="_blank")
									+icon('icon--instagram-32', 'icon--32')
							li.post__social__item
								a(href="#" target="_blank")
									+icon('icon--twitter-32', 'icon--32')
							li.post__social__item
								a(href="#" target="_blank")
									+icon('icon--linkedin-32', 'icon--32')

				div.col-12.col-md-9.col-lg-8
					p.text-lg.text-lg--black.text-lg--md.post__text-top To&nbsp;make your finance app successful in&nbsp;2020, you&rsquo;re going to&nbsp;need to&nbsp;include features that your users want, and also think about how to&nbsp;attract them to&nbsp;your product and keep them loyal for the long term. Here&rsquo;s what we&nbsp;think you need to&nbsp;focus&nbsp;on:
					h2.post__subtitle Tight Security
					p.text-lg.text-lg--black.text-lg--md Cybercriminals look at&nbsp;finance apps in&nbsp;the same way that bears look at&nbsp;honeycomb. They&rsquo;ll stop at&nbsp;nothing to&nbsp;bypass security and steal users&rsquo; private information. Data breaches are doubly bad because criminals don&rsquo;t just steal your customers&rsquo; data and money, they also steal your reputation, which is&nbsp;the hardest thing to&nbsp;recover. No&nbsp;one will want to&nbsp;use your app if&nbsp;you can&rsquo;t give your customers a&nbsp;cast-iron guarantee that their cash and data will both be&nbsp;safe. Meeting the minimum legal standards required for data security is&nbsp;fine, but if&nbsp;you really want to&nbsp;inspire confidence in&nbsp;your product then it&rsquo;s worth outsourcing your app security to&nbsp;experts in&nbsp;the field. Cybersecurity is&nbsp;a&nbsp;constantly evolving field, so&nbsp;it&nbsp;makes sense to&nbsp;entrust it&nbsp;to&nbsp;industry specialists. They can add features like:
					ul.post__list
						li.post__item
							p.post__item-text asking for password again to&nbsp;update personal details
						li.post__item
							p.post__item-text only showing the last few digits of&nbsp;card numbers
						li.post__item
							p.post__item-text limiting the number of&nbsp;login attempts
						li.post__item
							p.post__item-text location tracking to&nbsp;stop fraudulent transactions on&nbsp;your card in&nbsp;other countries
					p.text-lg.text-lg--black.text-lg--md.post__text-body Two other big areas to&nbsp;cover are KYC (know your customer) and AML (anti-money-laundering). A &lsquo;knowing your customer&rsquo; policy should keep fraudsters out without hurting your conversion rates. It&rsquo;s important to&nbsp;have one because if&nbsp;your app makes it&nbsp;so&nbsp;easy to&nbsp;sign up&nbsp;then you must make sure that only the right people&nbsp;do. That&rsquo;s why you need a&nbsp;KYC procedure at&nbsp;signup to&nbsp;ensure that you aren&rsquo;t potentially opening the door to&nbsp;criminals, particularly because criminals will always look to&nbsp;exploit weaknesses in&nbsp;the defences of&nbsp;industry start-ups. KYC can include AI-driven identity checks, proofs of&nbsp;address, &lsquo;liveness&rsquo; checks to&nbsp;make sure customers are who they say they are using photos, video, or&nbsp;live streaming, and more.
					p.text-lg.text-lg--black.text-lg--md Anti-money-laundering procedures are needed to&nbsp;ensure that people of&nbsp;concern who may be&nbsp;involved in&nbsp;drug-trafficking, terrorism, or&nbsp;other illegal activities don&rsquo;t get access to&nbsp;financial institutions to&nbsp;launder their funds. Many financial authorities around the world require institutions to&nbsp;demonstrate that they are able to&nbsp;monitor transactions, respond to&nbsp;suspicious activity and pass on&nbsp;their concerns to&nbsp;the authorities.
			div.row
				div.col-12
					div.post__img.post__img--1
						img(src="images/post__img-01.jpg" srcset="images/post__img-01.jpg 2x" alt="img" title="img")
			div.row
				div.col-12.col-md-9.col-lg-8.offset-md-2
					p.text-lg.text-lg--black.text-lg--md.post__text-body-1 Anti-money-laundering procedures are needed to&nbsp;ensure that people of&nbsp;concern who may be&nbsp;involved in&nbsp;drug-trafficking, terrorism, or&nbsp;other illegal activities don&rsquo;t get access to&nbsp;financial institutions to&nbsp;launder their funds. Many financial authorities around the world require institutions to&nbsp;demonstrate that they are able to&nbsp;monitor transactions, respond to&nbsp;suspicious activity and pass on&nbsp;their concerns to&nbsp;the authorities.
					p.text-lg-firth.post__text-body-2 Example:
			div.row
				div.col-12.col-md-4.offset-md-2
					div.post__example
						a.post__link(href="#" target="_blank") nowsecure.com
						p.post__example-text Offers comprehensive mobile app testing software
					div.post__example
						a.post__link(href="#" target="_blank") https://www.ally.com/
						p.post__example-text Ally bank lets users limit transactions with different categories of&nbsp;merchants, making it&nbsp;ideal for someone with a&nbsp;gambling problem for instance.
				div.col-12.col-md-4.offset-md-1.offset-lg-0
					div.post__example
						a.post__link(href="#" target="_blank") getmati.com 
						p.post__example-text offers a&nbsp;one-stop platform for user identity verification services.
					div.post__example
						a.post__link(href="#" target="_blank") https://monzo.com/  
						p.post__example-text Its notable feature called &ldquo;drunk mode&rdquo; lets users set a&nbsp;spending limit for the night when they&rsquo;re &lsquo;out on&nbsp;the town.&rsquo;

