.menu-mobile {
	/* 1 Positioning */
	position: fixed;
	top: -100vh;
	left: 0;
	z-index: -1;

	/* 2 Block model */
	width: 100%;
	height: 100vh;

	/* 4 Visual */
	background-color: #FFFFFF;
	opacity: 0;

	/* 5 Animation */
	transition: all 0.6s;
}
.menu-mobile--open {
	/* 1 Positioning */
	top: 0;
	z-index: 1000;

	/* 2 Block model */
	display: block;

	/* 4 Visual */
	opacity: 1;

	/* 5 Animation */
	transition: all 0.4s;
}
.menu-mobile__list {
	/* 2 Block model */
	width: 100%;
	padding: 68px 0 0 0;
	margin: 0;

	/* 4 Visual */
	list-style: none;
}
.menu-mobile li {
	/* 4 Visual */
	border-bottom: 1px solid #F4F4F4;

	/* 5 Animation */
	transition: all 0.4s;
}
.menu-mobile li:last-child {
	/* 4 Visual */
	border: none;
}
.menu-mobile li.menu-mobile__item--active,
li.current_page_item {
	/* 4 Visual */
	background-color: #FFD933;
}
.menu-mobile li:hover {
	/* 4 Visual */
	background-color: #FFD933;
}
.menu-mobile a {
	/* 2 Block model */
	display: block;
	width: 100%;

	/* 3 Typography */
	font-family: $font-third;
	font-size: 19px;
	font-weight: 900;
	line-height: 60px;
	color: #000000;
	text-align: center;
	text-decoration: none;
}