nav.menu-mobile
	ul.menu-mobile__list
		li.menu-mobile__item
			a(href="#services") Services

		li.menu-mobile__item.menu-mobile__item--active
			a(href="#case_studies") Case Studies

		li.menu-mobile__item
			a(href="#why_strebkov") Why Strebkov