.h0 {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-second;
	font-size: 36px;
	font-weight: 500;
	line-height: 46px;
	color: #000000;
	letter-spacing: -0.221538px;
	@media (min-width: 992px) {
		/* 3 Typography */
		font-size: 60px;
		line-height: 70px;
		letter-spacing: -0.369231px;
	}
}