.home-top--getfunded {
	/* 2 Block model */
	padding-top: 48px;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-top: 60px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-top: 82px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		padding-top: 69px;
	}
}
.home-top--getfunded .h0 {
	/* 2 Block model */
	padding-top: 0;
	margin-bottom: 12px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 21px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 41px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 34px;
	}
}
.home-top--getfunded .h2 {
	/* 2 Block model */
	margin-bottom: 19px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 24px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 20px;
	}
}
.home-top--getfunded .lead {
	/* 2 Block model */
	margin-bottom: 0;
}
.home-top--getfunded .home-top__bottom {
	/* 2 Block model */
	padding-top: 40px;
	@media (min-width: 992px) {
		/* 2 Block model */
		align-items: flex-start;
		justify-content: space-between;
		padding-top: 40px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		flex-direction: column;
		justify-content: flex-start;
		padding-top: 36px;
	}
}
.home-top--getfunded .home-top__bottom .btn {
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 31px;
	}
}
.home-top--getfunded .home-top__text {
	/* 2 Block model */
	margin-left: 0;
	@media (min-width: 992px) {
		/* 2 Block model */
		width: 320px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		width: auto;
		max-width: 100%;
		padding-left: 0;
	}
}
.home-top--getfunded .home-top__icon {
	/* 1 Positioning */
	position: absolute;
	z-index: 1;

	/* 2 Block model */
	display: none;
	@media (min-width: 768px) {
		/* 2 Block model */
		display: block;
	}
}
.home-top--getfunded .home-top__icon-02 {
	@media (min-width: 768px) {
		/* 1 Positioning */
		top: 294px;
		left: -39px;
	}
	@media (min-width: 992px) {
		/* 1 Positioning */
		top: 324px;
		left: 0;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		display: none;
	}
}
.home-top--getfunded .home-top__icon-03 {
	/* 2 Block model */
	display: none;
	@media (min-width: 768px) {
		/* 1 Positioning */
		top: -159px;
		right: 154px;

		/* 2 Block model */
		display: block;
		width: 165px;
	}
	@media (min-width: 992px) {
		/* 1 Positioning */
		top: -159px;
		right: 222px;
	}
	@media (min-width: 1200px) {
		/* 1 Positioning */
		top: -179px;
		right: 275px;
	}
}
.home-top--getfunded .home-top__icon-04 {
	/* 1 Positioning */
	top: auto;
	@media (min-width: 768px) {
		/* 1 Positioning */
		right: -104px;
		top: 284px;

		/* 2 Block model */
		display: block;
		width: 190px;
	}
	@media (min-width: 992px) {
		/* 1 Positioning */
		right: -98px;
		top: 314px;

		/* 2 Block model */
		width: 188px;
	}
	@media (min-width: 1200px) {
		/* 1 Positioning */
		right: -9px;
		top: 420px;
	}
}
.home-top--getfunded .home-top__icon-05 {
	/* 2 Block model */
	display: none;
	@media (min-width: 768px) {
		/* 1 Positioning */
		top: -4px;
		right: -81px;

		/* 2 Block model */
		display: block;
		width: 150px;
	}
	@media (min-width: 992px) {
		/* 1 Positioning */
		top: 3px;
		right: -98px;

		/* 2 Block model */
		width: 149px;
	}
	@media (min-width: 1200px) {
		/* 1 Positioning */
		top: 66px;
		right: -165px;
	}
}
.home-top--getfunded .home-top__icon-06 {
	@media (min-width: 768px) {
		/* 2 Block model */
		display: none;
	}
	@media (min-width: 1200px) {
		/* 1 Positioning */
		top: 294px;
		left: -85px;

		/* 2 Block model */
		display: block;
	}
}
