div.home-top
	img.home-top__icon.home-top__icon-01(src="images/home-top__icon-01.svg" alt="icon")
	img.home-top__icon.home-top__icon-02(src="images/home-top__icon-02.svg" alt="icon")
	img.home-top__icon.home-top__icon-03(src="images/home-top__icon-03.svg" alt="icon")
	img.home-top__icon.home-top__icon-04(src="images/home-top__icon-04.svg" alt="icon")
	img.home-top__icon.home-top__icon-05(src="images/home-top__icon-05.svg" alt="icon")
	img.home-top__icon.home-top__icon-06(src="images/home-top__icon-06.svg" alt="icon")

	h1.h1 Digital products design for the fintech industry

	p.lead We&nbsp;help fintech startups, brokers, payment systems and other financial companies build products that delight people, reinforce loyalty and boost revenues.