.home-top {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	padding-bottom: 50px;
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-bottom: 110px;
	}
}
.home-top * {
	/* 1 Positioning */
	position: relative;
	z-index: 2;
}
.home-top__icon {
	/* 1 Positioning */
	position: absolute;
	z-index: 1;

	/* 2 Block model */
	display: none;
	@media (min-width: 1200px) {
		/* 2 Block model */
		display: block;
	}
}
.home-top__icon-01,
.home-top__icon-02,
.home-top__icon-03,
.home-top__icon-04,
.home-top__icon-05 {
	/* 2 Block model */
	display: block;
}
.home-top__icon-01 {
	/* 2 Block model */
	display: none;
	@media (min-width: 992px) {
		/* 1 Positioning */
		top: 8px;
		left: -181px;

		/* 2 Block model */
		display: block;
	}
	@media (min-width: 1200px) {
		/* 1 Positioning */
		top: -12px;
		left: -223px;
	}
}
.home-top__icon-02 {
	/* 2 Block model */
	display: none;
	@media (min-width: 992px) {
		/* 1 Positioning */
		bottom: 212px;
		left: -35px;

		/* 2 Block model */
		display: block;
	}
	@media (min-width: 1200px) {
		/* 1 Positioning */
		top: 334px;
		bottom: auto;
		left: -86px;
	}
}
.home-top__icon-03 {
	/* 2 Block model */
	display: none;
	@media (min-width: 768px) {
		/* 1 Positioning */
		top: -9px;
		right: -19px;

		/* 2 Block model */
		display: block;
		width: 146px;
	}
	@media (min-width: 992px) {
		/* 1 Positioning */
		top: 8px;
		right: -25px;

		/* 2 Block model */
		width: 165px;
	}
	@media (min-width: 1200px) {
		/* 1 Positioning */
		top: -10px;
		right: 202px;
	}
}
.home-top__icon-04 {
	/* 2 Block model */
	display: none;
	@media (min-width: 768px) {
		/* 1 Positioning */
		right: -78px;
		bottom: 89px;

		/* 2 Block model */
		display: block;
		width: 148px;
	}
	@media (min-width: 992px) {
		/* 1 Positioning */
		top: 334px;
		right: -29px;
		bottom: auto;

		/* 2 Block model */
		width: 188px;
	}
	@media (min-width: 1200px) {
		/* 1 Positioning */
		top: 314px;
		right: 197px;
	}
}
.home-top__icon-05 {
	/* 2 Block model */
	display: none;
	@media (min-width: 768px) {
		/* 1 Positioning */
		top: 129px;
		right: -87px;

		/* 2 Block model */
		display: block;
		width: 139px;
	}
	@media (min-width: 992px) {
		/* 1 Positioning */
		top: 171px;
		right: -100px;

		/* 2 Block model */
		width: 149px;
	}
	@media (min-width: 1200px) {
		/* 1 Positioning */
		top: 151px;
		right: -63px;
	}
}
.home-top .h0 {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	max-width: 650px;
	padding-top: 48px;
	margin: 0;
	margin-bottom: 28px;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-top: 56px;
		padding-bottom: 0;
		margin-bottom: 58px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-top: 105px;
		margin-bottom: 28px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		padding-top: 85px;
		margin-bottom: 30px;
	}
}
.home-top .lead {
	/* 2 Block model */
	margin-bottom: 40px;
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 44px;
	}
}
.home-top__bottom {
	/* 2 Block model */
	display: flex;
	flex-direction: column;
	@media (min-width: 768px) {
		/* 2 Block model */
		align-items: flex-start;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		flex-direction: row;
		align-items: center;
	}
}
.home-top__text {
	/* 2 Block model */
	padding-top: 20px;
	margin: 0;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 13px;
	font-weight: 375;
	line-height: 17px;
	color: #000000;
	letter-spacing: -0.0764706px;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-top: 21px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		max-width: 350px;
		padding-top: 0;
		margin-left: 29px;

		/* 3 Typography */
		font-size: 14px;
		line-height: 21px;
		letter-spacing: -0.0823529px;
	}
}

/* -------------------------------------------- */

/*
 * Modifiers
 *
 */

@import "--getfunded";
