div.home-top.home-top--getfunded
	img.home-top__icon.home-top__icon-02(src="images/home-top__icon-02.svg" alt="icon")
	img.home-top__icon.home-top__icon-03(src="images/home-top__icon-03.svg" alt="icon")
	img.home-top__icon.home-top__icon-04(src="images/home-top__icon-04.svg" alt="icon")
	img.home-top__icon.home-top__icon-05(src="images/home-top__icon-05.svg" alt="icon")

	div.row
		div.col-12.col-md-9.col-xl-8col-xl-6.offset-md-1
			h1.h0 Strategic product design partner for financial companies
	div.row
		div.col-12.col-md-9.col-lg-7.col-xl-6.offset-md-1
			p.lead We help fintech startups, brokers, payment systems and other financial companies build products that delight people, reinforce loyalty and boost revenues.
	div.row
		div.col-12.col-md-9.col-md-8.col-xl-7.offset-md-1
			div.home-top__bottom
				+btn({text: 'Schedule Free Call', type: 'link', url: '#'})
				p.home-top__text A&nbsp;free 20-minute call that gets you full clarity on&nbsp;timing and budget for your project.