div.home-top.home-top--getfunded
	img.home-top__icon.home-top__icon-02(src="images/home-top__icon-02.svg" alt="icon")
	img.home-top__icon.home-top__icon-03(src="images/home-top__icon-03.svg" alt="icon")
	img.home-top__icon.home-top__icon-04(src="images/home-top__icon-04.svg" alt="icon")
	img.home-top__icon.home-top__icon-05(src="images/home-top__icon-05.svg" alt="icon")
	img.home-top__icon.home-top__icon-06(src="images/home-top__icon-06.svg" alt="icon")

	div.row
		div.col-12.col-md-8.col-xl-7.offset-md-2
			h1.h0 Get Funded™
	div.row
		div.col-12.col-md-8.col-xl-7.offset-md-2
			h2.h2 Sell your vision to&nbsp;
				span.h2__bg-yelow  investors with a&nbsp;beautiful and 
				| functional MVP design. Show your partners and team members what you already know. Win backers and believers to&nbsp;get your project funded.
			p.lead Today, the startup community moves fast. It&rsquo;s not about who has the great idea first, it&rsquo;s about who gets it&nbsp;funded first. An&nbsp;eye-catching MVP design can energize your idea and show investors why it&nbsp;deserves their attention.
	div.row
		div.col-12.col-md-8.col-xl-7.offset-md-2
			div.home-top__bottom
				+btn({text: 'Schedule Free Call', type: 'link', url: '#'})
				p.small-text.home-top__text We&rsquo;ve helped dozens of&nbsp;founders kickstart their projects with great design. See how we&nbsp;can do&nbsp;the same for you too with a&nbsp;free 20-minute call.