div.container
	div.row
		div.col-12.col-md-11.col-xl-10.offset-md-1
			div.companies
				ul.companies__list
					li.companies__item
						img(src="images/companies__minted.svg" alt="minted" title="minted")

					li.companies__item
						img(src="images/companies__exante.svg" alt="exante" title="exante")

					li.companies__item
						img(src="images/companies__investex.svg" alt="investex" title="investex")

					li.companies__item
						img(src="images/companies__wirecapital.svg" alt="wirecapital" title="wirecapital")

					li.companies__item
						img(src="images/companies__сryptology.svg" alt="сryptology" title="сryptology")