div.container
	div.row
		div.col-12
			div.companies
				ul.companies__list
					li.companies__item
						img(src="images/companies__fastuna.svg", alt="fastuna", title="fastuna")

					li.companies__item
						img(src="images/companies__investex.svg", alt="investex", title="investex")

					li.companies__item
						img(src="images/companies__wirecapital.svg", alt="wirecapital", title="wirecapital")

					li.companies__item
						img(src="images/companies__cryptology.svg", alt="Cryptology", title="Cryptology")

					li.companies__item
						img(src="images/companies__xcfd.svg", alt="xcfd", title="xcfd")

					li.companies__item
						img(src="images/companies__insider.svg", alt="Insider", title="Insider")

					li.companies__item
						img(src="images/companies__datatile.svg", alt="Datatile", title="Datatile")

					li.companies__item
						img(src="images/companies__updown.svg", alt="Updown", title="Updown")

					li.companies__item
						img(src="images/companies__exante.svg", alt="Exante", title="Exante")

					li.companies__item
						img(src="images/companies__proved.svg", alt="Proved", title="Proved")