div.companies
	ul.companies__list
		li.companies__item
			svg(class="companies__icon")
				use(xlink:href="images/svg/symbols.svg#companies__datatile")

		li.companies__item
			svg(class="companies__icon")
				use(xlink:href="images/svg/symbols.svg#companies__fastuna")

		li.companies__item
			svg(class="companies__icon")
				use(xlink:href="images/svg/symbols.svg#companies__glomerus")

		li.companies__item
			svg(class="companies__icon")
				use(xlink:href="images/svg/symbols.svg#companies__exante")

		li.companies__item
			svg(class="companies__icon")
				use(xlink:href="images/svg/symbols.svg#companies__group")

		li.companies__item
			svg(class="companies__icon")
				use(xlink:href="images/svg/symbols.svg#companies__tiburon")

		li.companies__item
			svg(class="companies__icon")
				use(xlink:href="images/svg/symbols.svg#companies__investex")

		li.companies__item
			svg(class="companies__icon")
				use(xlink:href="images/svg/symbols.svg#companies__insider")

		li.companies__item
			img(src="images/companies__wirecapital.svg", alt="")

		li.companies__item
			img(src="images/companies__fluentu.svg", alt="")

		li.companies__item
			img(src="images/companies__updown.svg", alt="")

		li.companies__item
			img(src="images/companies__cryptology.svg", alt="")