div.container
	div.row
		div.col-12
			div.companies
				ul.companies__list
					li.companies__item
						img(src="images/companies__fastuna.svg", alt="")

					li.companies__item
						img(src="images/companies__investex.svg", alt="")

					li.companies__item
						img(src="images/companies__wirecapital.svg", alt="")

					li.companies__item
						img(src="images/companies__cryptology.svg", alt="")

					li.companies__item
						img(src="images/companies__xcfd.svg", alt="")

					li.companies__item
						img(src="images/companies__insider.svg", alt="")

					li.companies__item
						img(src="images/companies__datatile.svg", alt="")

					li.companies__item
						img(src="images/companies__updown.svg", alt="")

					li.companies__item
						img(src="images/companies__exante.svg", alt="")

					li.companies__item
						img(src="images/companies__proved.svg", alt="")