.small-text {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 13px;
	font-weight: 300;
	line-height: 17px;
	color: #000000;
	letter-spacing: -0.0764706px;
	@media (min-width: 992px) {
		/* 3 Typography */
		font-size: 14px;
		line-height: 18px;
		letter-spacing: -0.0823529px;
	}
}
.design-gazette__form {
	/* 2 Block model */
	margin-bottom: 35px;
}
.small-text--gray {
	/* 3 Typography */
	color: #818080;
}
