div.lets-talk
	h3.lets-talk__title Let’s talk.

	p.lets-talk__desc Book a&nbsp;free 20-minute call with&nbsp;us and get full clarity on&nbsp;timing and budget for your project

	include ../btn/btn.pug
	+btn({text: 'Book free call', type: 'link', url: 'https://calendly.com/strebkovdesign/introcall', target: '_blank'})

	p.lets-talk__bottom After pressing the button above you&rsquo;ll be&nbsp;redirected to&nbsp;Calendly&nbsp;&mdash; an&nbsp;appointment booking service that we&rsquo;re using