.lets-talk {
	background-color: $color-white;
	border-radius: 10px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.05);
  padding: 20px 30px;
  margin-bottom: 40px;  

  @media(min-width: 992px) {
    padding: 24px 30px;
  }
  @media(min-width: 1200px) {
    padding: 30px 40px;
  }
}
.lets-talk .h1 {
  /* 1 Positioning */ 
  
  /* 2 Block model */ 
  margin-top: 0;
  margin-bottom: 15px;

  /* 3 Typography */ 

  /* 4 Visual */ 
  
  /* 5 Animation*/ 
  
  /* 6 Misc */  

  @media(min-width: 1200px) {
    /* 2 Block model */ 
    margin-top: 3px;
    margin-bottom: 16px;
  }
}
.lets-talk__desc {
	font-size: 15px;
  font-weight: normal;
  line-height: 1.4em;
  color: $color-text_1;
  margin-top: 0;
  margin-bottom: 20px;
}
.lets-talk__form {
	display: flex;
	flex-direction: column;
	margin-bottom: 24px;

  @media(min-width: 992px) {
    flex-direction: row;
    align-items: flex-start;
  }
}
.lets-talk__form .input {
	margin-bottom: 9px;  

  @media(min-width: 992px) {
    margin-bottom: 0;
    flex: 0 0 230px;
    margin-right: 8px;
  }
  @media(min-width: 1200px) {
    flex: 0 0 290px;
    margin-right: 10px;
  }
}
.lets-talk__bottom {
	font-size: 13px;
  font-weight: normal;
  line-height: 1.31em;
  color: $color-text_2;
  padding-bottom: 7px;

  @media(min-width: 992px) {
    margin-bottom: 0;
  }
}
.lets-talk .btn,
.lets-talk input {
  max-width: 100%; 
}