div.lets-talk
	h3.lets-talk__title Let’s talk.

	p.lets-talk__desc Book a&nbsp;free 20-minute call with&nbsp;us and get full clarity on&nbsp;timing and budget for your project. We use Calendly + Zoom.us for booking appointments.

	+btn({text: 'Book free call', type: 'link', url: 'https://calendly.com/strebkovdesign/introcall', target: '_blank'})