div.table-price
	div.container.container--mob
		div.row
			div.col-12
				table
					thead
						tr
							th
								b Features
							th
								b Starter
							th.table-price__img-plan
								b Standard
								img.table-price__standart(src="images/table--service__standart.svg" alt="")
							th
								b Pro

					tbody
						tr
							td
								b.table-price__b-mb-0 Client’s size
							td Product teams up to 5 engineers and up to 3 digital products, e. g. website + web app + iOS app
							td Up to 10 engineers<br> Up to 5 digital products
							td Up to 20 engineers<br> Up to 8 digital products

						tr
							td
								b.table-price__b-mb-0 Monthly cost
							td
								b €2,300
							td
								b €4,200
							td
								b €6,800

						tr
							td
								b.table-price__b-mb-0 Art Director
							td
								i.check
							td
								i.check
							td
								i.check

						tr
							td
								b.table-price__b-mb-0 Designer
							td
								i.check
							td
								i.check
							td
								i.check

						tr
							td
								b.table-price__b-mb-0 Project Manager
							td
								i.check
							td
								i.check
							td
								i.check

						tr
							td
								b Ongoing design work + new projects

								span.table-price__decs New projects, updates and redesigns in existing modules, design QA support
							td 40 hrs / month
							td 60 hrs / month
							td 100 hrs / month

						tr
							td
								b UX/UI QA sessions 
								span.table-price__decs Each week (or&nbsp;two weeks) your development team will get clear screen-by-screen instructions for fixing critical&nbsp;UX and&nbsp;UI issues in&nbsp;the working product
							td 4 hrs / month
							td 8 hrs / month
							td 16 hrs / month

						tr
							td
								b Usability Testing 
								span.table-price__decs We partner with professional research companies and conduct user testing of critical parts of the product 
							td 1 test / month
							td 2 tests / month
							td 2 tests / month

						tr
							td
								b Custom & stock imagery, copywriting services
								span.table-price__decs Together we define a unique visual style and work with a professional illustrator on lovely icons and illustrations to improve the look and feel of your product. This can be a hand-drawn empty state icon or a funny image for your 404 page etc.
							td Available at agreed additional price
							td Equal to €300 / month
							td Equal to €700 / month

						tr
							td 
								b.table-price__b-mb-0 Get in touch
							td
								+btn({text: 'Book free call'})(class="btn--sm scroll-lets-talk")
							td
								+btn({text: 'Book free call'})(class="btn--sm scroll-lets-talk")
							td
								+btn({text: 'Book free call'})(class="btn--sm scroll-lets-talk")