.menu__list {
	/* 2 Block model */
	display: flex;
	padding: 0;
	margin: 0;

	/* 4 Visual */
	list-style: none;
}
.menu a {
	/* 3 Typography */
	font-family: $font-second;
	font-size: 14px;
	font-weight: 500;
	line-height: 39px;
	color: #000000;
	text-decoration: none;
}
.menu a:hover {
	/* 4 Visual */
	opacity: 0.7;
}
.menu li.menu__item {
	/* 2 Block model */
	margin: 0 15px;
	@media (min-width: 992px) {
		/* 2 Block model */
		margin: 0 15px;
	}
}
.menu li.menu__item:first-child {
	/* 2 Block model */
	margin: 0;
	@media (min-width: 992px) {
		/* 2 Block model */
		margin: 0 20px 0 0;
	}
}
.menu li.menu__item:first-child a {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	display: block;
	width: 20px;
	height: 39px;

	/* 3 Typography */
	font-size: 0;
}
.menu li.menu__item:first-child a::before {
	/* 1 Positioning */
	position: absolute;
	top: 12px;
	left: 5px;

	/* 2 Block model */
	display: block;
	width: 14px;
	height: 14px;

	/* 4 Visual */
	content: "";
	background-image: url(../images/menu__home--in.svg);
}
.menu li.menu__item--active {
	/* 1 Positioning */
	position: relative;
}
.menu li.menu__item--active,
.current_page_item::before {
	/* 1 Positioning */
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;

	/* 2 Block model */
	display: block;
	height: 4px;

	/* 4 Visual */
	content: "";
	background-color: #FFD933;
}
.menu li.menu__item img {
	/* 2 Block model */
	padding: 0 11px;
}
.menu .icon--home {
	/* 4 Visual */
	stroke: #000000;
}