nav.menu
	ul.menu__list
		li.menu__item
			a(href="/")
				img.menu__home(src="images/menu__home.svg", alt="")

		li.menu__item.menu__item--active
			a(href="about.html") About

		li.menu__item
			a(href="price.html") Plans & Pricing