.list {	
  @media(min-width: 768px) {
  	max-width: 285px;
  }
  @media(min-width: 1200px) {
  	max-width: 340px;
  }
}
.list ul {
	padding: 0 0 0 30px;	
	margin: 0;
	font-family: $font-third;
	font-weight: 300;
	list-style: none;
	font-size: 14px;
  font-weight: normal;
  line-height: 1.4em;
  letter-spacing: -0.08px;
  color: #000000;
}
.list__item {
	margin-bottom: 26px;
	position: relative;
}
.list__item::before {
	position: absolute;
	top: -1px;
	left: -32px;
	display: block;
	content: "";
	width: 22px;
  height: 17px; 
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIxNyIgdmlld0JveD0iMCAwIDIyIDE3Ij4KICAgIDxwYXRoIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlPSIjN0VEMzIxIiBzdHJva2Utd2lkdGg9IjQiIGQ9Ik0yIDguMTg0TDcuODc2IDE0IDIwIDIiLz4KPC9zdmc+Cg==');
}