.testimonial {
	/* 2 Block model */
	padding-bottom: 37px;
	margin-bottom: 20px;
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 0;
	}
}
.testimonial__body {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	padding: 20px 22px 28px 25px;

	/* 4 Visual */
	border: solid 5px #FFD933;
	border-radius: 10px;
}
.testimonial__body::before {
	/* 1 Positioning */
	position: absolute;
	right: 39px;
	bottom: -42px;
	z-index: 2;

	/* 2 Block model */
	display: block;
	width: 64px;
	height: 42px;
	overflow: hidden;

	/* 4 Visual */
	content: "";
	background-image: url(../images/testimonial.svg);
}
.testimonial__text {
	/* 2 Block model */
	margin-bottom: 26px;

	/* 3 Typography */
	font-family: $font-second;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.45;
	color: #000000;
	letter-spacing: -0.110769px;
}
.testimonial__bottom {
	/* 2 Block model */
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 5px;
}
.testimonial__bottom img {
	/* 2 Block model */
	display: block;
	width: 43px;
	height: 43px;

	/* 4 Visual */
	border-radius: 50%;
}
.testimonial__info {
	/* 2 Block model */
	padding-left: 12px;
}
.testimonial__info h3 {
	/* 2 Block model */
	margin-top: 3px;
	margin-bottom: 6px;

	/* 3 Typography */
	font-family: $font-second;
	font-size: 13px;
	font-weight: 500;
	line-height: 0.85;
	color: #000000;
}
.testimonial__info span {
	/* 2 Block model */
	display: block;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 13px;
	font-weight: 300;
	line-height: 0.85;
	color: #000000;
}