mixin testimonial(data)
	div.testimonial(class!=attributes.class)
		div.testimonial__body
			p.testimonial__text!=data.text

			div.testimonial__bottom
				img(src="images/"+data.img+".jpg" srcset="images/"+data.img+"@2x.jpg 2x", alt=data.name)

				div.testimonial__info
					h3.testimonial__name!=data.name

					span!=data.company