div.lets-keep
	div.lets-keep__top
		h2.lets-keep__title Let’s keep in touch!
		p.lets-keep__text Join our newsletter for more usefull content, tips and news
	form.lets-keep__form(action="#" method="post")
		div.lets-keep__form-item
			+input({type: 'text', name: 'EMAIL_2', placeholder: 'Your e-mail'})
		div.lets-keep__form-item
			+btn({text: 'Subscribe', type: 'submit', name: 'subscribe_2'})

