.header {
	width: 100%;
	border-bottom: 1px solid #000000;

	@media(min-width: 768px) {
		border-bottom: 1px solid transparent;
	}
}
.header .container {
	@media(max-width: 767px) {
		max-width: 100%;
	}
}
.header__in {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 70px;

	@media(min-width: 768px) {
		height: 80px;
	}
	@media(min-width: 1200px) {
		height: 100px;
	}
}
.header .menu {
	display: none;

	@media(min-width: 768px) {
		display: block;
		padding-left: 8px;
	}
	@media(min-width: 992px) {
		padding-left: 12px;
	}
	@media(min-width: 1200px) {
		padding-left: 24px;
	}
}
.header .logo,
.header .icon--logo {
	width: 100px;
	height: 46px;

	@media(min-width: 768px) {
		width: 120px;
		height: 55px;
	}
}
.header .hamburger{
	@media(min-width: 768px) {
		display: none;
	}
}

.header--scrolled {
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	z-index: 99999;
	transition: all 0.3s;
}
.header--scrolled .header__in {
	height: 50px;

	@media(min-width: 768px) {
		height: 60px;
	}
	@media(min-width: 1200px) {
		height: 70px;
	}
}
.header__btn {
	display: none;
}
.header--scrolled .header__logo {
	display: none;
}
.header--scrolled .header__btn {
	display: block;
	flex: 0 0 110px;

	@media(min-width: 992px) {
		flex: 0 0 139px;
	}
}
.header__btn .btn__text {
	line-height: 30px;
	font-size: 14px;

	@media(min-width: 992px) {
		line-height: 40px;
		font-size: 15px;
	}
}