header.header
	div.container
		div.row
			div.col-12
				div.header__in
					include ../hamburger/hamburger.pug
					+hamburger(id="hamburger")

					include ../menu/--in/--in.pug
					include ../menu-mobile/menu-mobile.pug

					div.header__logo
						include ../logo/logo.pug

					div.header__btn
						+btn({text: 'Book free call', type: 'link', url: 'https://calendly.com/strebkovdesign/introcall', target: 'blank'})(class="btn--sm" id="lets_talk_btn")