.header {
	/* 2 Block model */
	width: 100%;

	/* 4 Visual */
	border-bottom: 1px solid #ececec;
	@media (min-width: 768px) {
		/* 4 Visual */
		border-bottom: 1px solid transparent;
	}
}
.header .container {
	@media (max-width: 767px) {
		/* 2 Block model */
		max-width: 100%;
	}
}
.header__in {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	@media (min-width: 768px) {
		/* 2 Block model */
		height: 80px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		height: 100px;
	}
}
.header .menu {
	/* 2 Block model */
	display: none;
	@media (min-width: 768px) {
		/* 2 Block model */
		display: block;
	}
}
.header__in .header__logo {
	/* 1 Positioning */
	position: absolute;
	top: 50%;
	right: 0;

	/* 4 Visual */
	transform: translateY(-50%);
}
.header .logo,
.header .icon--logo {
	/* 2 Block model */
	width: 100px;
	height: 46px;
	@media (min-width: 768px) {
		/* 2 Block model */
		width: 120px;
		height: 55px;
	}
}
.header .hamburger {
	@media (min-width: 768px) {
		/* 2 Block model */
		display: none;
	}
}
.scrolled .header {
	/* 1 Positioning */
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;

	/* 4 Visual */
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

	/* 5 Animation */
	transition: all 0.3s;
}
.scrolled .header__in {
	/* 2 Block model */
	height: 70px;
	@media (min-width: 768px) {
		/* 2 Block model */
		height: 60px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		height: 70px;
	}
}
.header__btn {
	/* 2 Block model */
	display: none;
}
.scrolled .header__logo {
	/* 2 Block model */
	display: none;
}
.scrolled .header__btn {
	/* 2 Block model */
	display: block;
}
.header__btn .btn__text {
	/* 3 Typography */
	font-size: 14px;
	line-height: 14px;
	@media (min-width: 992px) {
		/* 3 Typography */
		font-size: 15px;
		line-height: 15px;
	}
}
.header--in-header .header__logo {
	/* 2 Block model */
	display: flex;
	justify-content: flex-end;
	height: auto;
	padding-top: 20px;
	padding-bottom: 37px;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-top: 30px;
		padding-bottom: 81px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-top: 36px;
		padding-bottom: 41px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		padding-top: 40px;
		padding-bottom: 34px;
	}
}
.header--in-header .logo {
	/* 2 Block model */
	align-items: center;
	justify-content: flex-end;
	width: auto;
	height: auto;
}
.header--in-header .icon--logo {
	/* 2 Block model */
	width: 160px;
	height: 73px;
	@media (min-width: 992px) {
		/* 2 Block model */
		width: 200px;
		height: 100px;
	}
}
