.get-funded {
	/* 2 Block model */
	display: block;
}

/* Block  get-funded__email */
.get-funded__email {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	padding-top: 22px;
	margin-bottom: 48px;
	overflow: hidden;

	/* 4 Visual */
	background-color: #fbfbfb;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-top: 33px;
		padding-bottom: 68px;
		margin-bottom: 86px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-top: 26px;
		padding-bottom: 0;
		margin-bottom: 39px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		padding-top: 36px;
		padding-bottom: 34px;
		margin-bottom: 100px;
	}
}
.get-funded__body-img {
	/* 1 Positioning */
	position: relative;
}
.get-funded__icon {
	/* 1 Positioning */
	position: absolute;
	z-index: 1;

	/* 2 Block model */
	display: none;
}
.get-funded__icon-01 {
	@media (min-width: 768px) {
		/* 1 Positioning */
		top: -106px;
		left: -63px;

		/* 2 Block model */
		display: block;
		width: 128px;
	}
	@media (min-width: 992px) {
		/* 1 Positioning */
		top: -7px;
		left: 10px;

		/* 2 Block model */
		width: 110px;
	}
	@media (min-width: 1200px) {
		/* 1 Positioning */
		top: 0;
		left: -58px;

		/* 2 Block model */
		width: 128px;
	}
}
.get-funded__icon-02 {
	/* 1 Positioning */
	bottom: 144px;
	left: -104px;

	/* 2 Block model */
	display: block;
	width: 190px;
	@media (min-width: 768px) {
		/* 1 Positioning */
		bottom: 61px;
		left: -105px;

		/* 2 Block model */
		width: 190px;
	}
	@media (min-width: 992px) {
		/* 1 Positioning */
		bottom: 103px;
		left: -112px;

		/* 2 Block model */
		width: 230px;
	}
	@media (min-width: 1200px) {
		/* 1 Positioning */
		bottom: 19px;
		left: -254px;

		/* 2 Block model */
		width: 252px;
	}
}
.get-funded__icon-03 {
	@media (min-width: 1200px) {
		/* 1 Positioning */
		bottom: -109px;
		left: 304px;

		/* 2 Block model */
		display: block;
	}
}
.get-funded__icon-04 {
	/* 1 Positioning */
	top: -13px;
	right: -100px;

	/* 2 Block model */
	display: block;
	@media (min-width: 768px) {
		/* 1 Positioning */
		top: -34px;
		right: -114px;
	}
	@media (min-width: 992px) {
		/* 1 Positioning */
		top: 6px;
		right: 8px;

		/* 2 Block model */
		width: 197px;
	}
	@media (min-width: 1200px) {
		/* 1 Positioning */
		top: -16px;
		right: -51px;

		/* 2 Block model */
		width: 184px;
	}
}
.get-funded__icon-05 {
	@media (min-width: 768px) {
		/* 1 Positioning */
		right: 4px;
		bottom: 157px;

		/* 2 Block model */
		display: block;
	}
	@media (min-width: 992px) {
		/* 1 Positioning */
		right: 27px;
		bottom: 155px;
	}
	@media (min-width: 1200px) {
		/* 1 Positioning */
		right: 100px;
		bottom: 221px;
	}
}
.get-funded__icon-06 {
	@media (min-width: 768px) {
		/* 1 Positioning */
		right: -108px;
		bottom: -160px;

		/* 2 Block model */
		display: block;
		width: 205px;
	}
	@media (min-width: 992px) {
		/* 1 Positioning */
		right: -96px;
		bottom: -129px;

		/* 2 Block model */
		width: 226px;
	}
	@media (min-width: 1200px) {
		/* 1 Positioning */
		right: -71px;
		bottom: -163px;
	}
}
.get-funded__icon-07 {
	/* 1 Positioning */
	bottom: -93px;
	left: 90px;

	/* 2 Block model */
	display: block;
	@media (min-width: 768px) {
		/* 1 Positioning */
		bottom: -127px;
		left: 170px;
	}
	@media (min-width: 992px) {
		/* 1 Positioning */
		bottom: -66px;
		left: 296px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		display: none;
	}
}
.get-funded__icon-08 {
	@media (min-width: 768px) {
		/* 1 Positioning */
		top: -118px;
		left: 292px;

		/* 2 Block model */
		display: block;
	}
	@media (min-width: 992px) {
		/* 1 Positioning */
		top: -104px;
		left: 385px;

		/* 2 Block model */
		width: 151px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		display: none;
	}
}
.get-funded__block-img-1 {
	/* 1 Positioning */
	position: relative;
	z-index: 5;
}

/* Block  get-funded__mvp-scope */
.get-funded__mvp-scope {
	/* 2 Block model */
	margin-bottom: 83px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 148px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 26px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 166px;
	}
}
.get-funded__number {
	/* 2 Block model */
	margin-bottom: 51px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 28px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 10px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 40px;
	}
}
.get-funded__top {
	/* 2 Block model */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	@media (min-width: 768px) {
		/* 2 Block model */
		flex-direction: row;
		padding-left: 37px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-left: 60px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		padding-left: 0;
	}
}
.get-funded__number-value {
	/* 2 Block model */
	display: flex;
	flex: 0 0 60px;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	margin-bottom: 24px;

	/* 3 Typography */
	font-family: $font-third;
	font-size: 30px;
	font-weight: 900;
	line-height: 34px;
	color: #000000;

	/* 4 Visual */
	background-color: #ffd933;
	border-radius: 50%;
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		/* IE10+ CSS styles go here */
		position: relative;
	}
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-right: 20px;
		margin-bottom: 0;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		flex: 0 0 80px;
		width: 80px;
		height: 80px;

		/* 3 Typography */
		font-size: 40px;
		line-height: 50px;
	}
}
.get-funded__number-value span {
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		/* IE10+ CSS styles go here */
		position: absolute;
		top: 50%;
		left: 50%;

		/* 4 Visual */
		transform: translate(-50%, -32%);
	}
}
.get-funded__number-body {
	/* 2 Block model */
	width: 100%;
}
.get-funded__number-body .h2-2 {
	/* 2 Block model */
	margin-bottom: 20px;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-top: 15px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 40px;
	}
}
.get-funded__number--2 {
	/* 2 Block model */
	margin-bottom: 41px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 60px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 73px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 112px;
	}
}
.get-funded__worth-body {
	/* 2 Block model */
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-left: 55px;
		margin-bottom: 0;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		flex-direction: row;
		padding-left: 0;
	}
}
.get-funded__worth-item--fix-mr {
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-right: 50px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-right: 71px;
	}
}
.get-funded__worth-body--fix {
	@media (min-width: 768px) {
		/* 2 Block model */
		flex-direction: row;
		padding-left: 0;
	}
}
.get-funded__worth-body--fix .get-funded__worth-item--fix-mr {
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-right: 41px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-right: 110px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-right: 130px;
	}
}
.get-funded__worth-item {
	/* 2 Block model */
	margin-bottom: 40px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 37px;
	}
}
.get-funded__worth-item:last-child {
	/* 2 Block model */
	margin-bottom: 0;
}
.get-funded__worth-item--fix-mb {
	/* 2 Block model */
	margin-bottom: 0;
}

/* Block  get-funded__process */
.get-funded__process {
	/* 2 Block model */
	margin-bottom: 83px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 146px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 170px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 150px;
	}
}
.get-funded__phase-list {
	/* 2 Block model */
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-right: 59px;
		padding-left: 77px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		flex-direction: row;
		align-items: flex-start;
		padding-right: 0;
		padding-left: 0;
	}
}
.get-funded__phase-item {
	/* 1 Positioning */
	position: relative;
	z-index: 5;

	/* 2 Block model */
	width: 100%;
	margin-bottom: 40px;
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 0;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		max-width: 380px;
	}
}
.get-funded__phase-item:first-child {
	/* 1 Positioning */
	z-index: 7;
}
.get-funded__phase-item:nth-child(2) {
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-left: -24px;
	}
}
.get-funded__phase-item:last-child {
	/* 1 Positioning */
	z-index: 4;
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-left: -24px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		max-width: 430px;
	}
}
.get-funded__phase-top {
	/* 1 Positioning */
	position: relative;
	z-index: 1;

	/* 2 Block model */
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 79px;
	padding-left: 20px;
	margin-right: 45px;
	margin-bottom: 24px;

	/* 4 Visual */
	background-color: #ffd933;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-left: 40px;
		margin-bottom: 30px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		height: 85px;
		padding-left: 30px;
		margin-bottom: 45px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 44px;
	}
}
.get-funded__phase-top::after {
	/* 1 Positioning */
	position: absolute;
	top: 0;
	right: -41px;
	z-index: 5;

	/* 2 Block model */
	width: 0;
	height: 0;

	/* 4 Visual */
	content: "";
	border-top: 40px solid transparent;
	border-bottom: 39px solid transparent;
	border-left: 41px solid #ffd933;
	@media (min-width: 992px) {
		/* 4 Visual */
		border-top: 42px solid transparent;
		border-bottom: 43px solid transparent;
	}
}
.get-funded__phase-top span {
	/* 2 Block model */
	display: block;
	margin: 0;

	/* 3 Typography */
	font-family: $font-second;
	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
	color: #000000;
	letter-spacing: -0.082353px;
}
.get-funded__phase-top--text-white span,
.get-funded__phase-top--text-white .h3 {
	/* 3 Typography */
	color: #ffffff;
}
.get-funded__phase-top--yellow {
	/* 2 Block model */
	padding-left: 20px;

	/* 4 Visual */
	background-color: #ff6600;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-left: 40px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-left: 66px;
	}
}
.get-funded__phase-top--yellow::before,
.get-funded__phase-top--dark-blue::before {
	/* 1 Positioning */
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;

	/* 2 Block model */
	display: none;
	width: 0;
	height: 0;

	/* 4 Visual */
	content: "";
	border-top: 42px solid transparent;
	border-bottom: 43px solid transparent;
	border-left: 41px solid #ffffff;
	@media (min-width: 992px) {
		/* 2 Block model */
		display: block;
	}
}
.get-funded__phase-top--yellow::after {
	/* 4 Visual */
	border-left: 41px solid #ff6600;
}
.get-funded__phase-top--dark-blue {
	/* 2 Block model */
	padding-left: 20px;

	/* 4 Visual */
	background-color: #27394c;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-left: 40px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-left: 66px;
	}
}
.get-funded__phase-top--dark-blue::after {
	/* 4 Visual */
	border-left: 41px solid #27394c;
}
.get-funded__phase-body {
	/* 2 Block model */
	padding-right: 39px;
	padding-left: 20px;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-right: 60px;
		padding-left: 40px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-right: 42px;
		padding-left: 30px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		padding-right: 50px;
	}
}
.get-funded__phase-body--fix-pl {
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-left: 66px;
	}
}
.get-funded__phase-body .text {
	/* 2 Block model */
	margin-bottom: 9px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 11px;
	}
}
.get-funded__phase-body .text:last-child {
	/* 2 Block model */
	margin-bottom: 0;
}

/* Block  get-funded__experience */
.get-funded__experience {
	/* 2 Block model */
	margin-bottom: 83px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 194px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 175px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 185px;
	}
}
.get-funded__number--3 {
	/* 2 Block model */
	margin-bottom: 44px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 60px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 55px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 56px;
	}
}
.get-funded__worth--2 {
	/* 2 Block model */
	margin-bottom: 30px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 83px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 57px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 112px;
	}
}

/* Block get-funded__workflow */
.get-funded__workflow {
	/* 2 Block model */
	margin-bottom: 96px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 130px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 137px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 179px;
	}
}
.get-funded__number--4 {
	/* 2 Block model */
	margin-bottom: 20px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 34px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 66px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 80px;
	}
}
.get-funded__softs {
	/* 2 Block model */
	padding-top: 52px;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-top: 60px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-top: 52px;
	}
}
.get-funded__softs-list {
	/* 2 Block model */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	margin-right: -25px;
	margin-left: -25px;

	/* 4 Visual */
	list-style: none;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-right: -12px;
		margin-left: -12px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-right: -14px;
		margin-left: -14px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-right: -20px;
		margin-left: -20px;
	}
	@media (min-width: 1400px) {
		/* 2 Block model */
		margin-right: -11px;
		margin-left: -11px;
	}
}
.get-funded__softs-item {
	/* 2 Block model */
	display: flex;
	flex: 0 0 60px;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	margin-right: 16px;
	margin-bottom: 20px;
	margin-left: 16px;

	/* 4 Visual */
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: 0 2px 60px #dbdee7, 0 1px 3px rgba(0, 0, 0, 0.1);
	@media (min-width: 768px) {
		/* 2 Block model */
		flex: 0 0 80px;
		width: 80px;
		height: 81px;
		margin-right: 10px;
		margin-bottom: 25px;
		margin-left: 10px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-right: 14px;
		margin-bottom: 30px;
		margin-left: 14px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-right: 10px;
		margin-bottom: 0;
		margin-left: 10px;
	}
}
.get-funded__softs-item img {
	/* 2 Block model */
	display: block;
	width: 100%;
}

/* Blocks get-funded__deliverables */
.get-funded__deliverables {
	/* 2 Block model */
	margin-bottom: 104px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 140px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 190px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 85px;
	}
}
.get-funded__number--5 {
	/* 2 Block model */
	margin-bottom: 40px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 42px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 87px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 33px;
	}
}

/* Blocks get-funded__support */
.get-funded__support {
	/* 2 Block model */
	margin-bottom: 134px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 179px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 100px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 75px;
	}
}
.get-funded__number--6 {
	/* 2 Block model */
	margin-bottom: 40px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 80px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 60px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 24px;
	}
}

/* Blocks get-funded__investment */
.get-funded__investment {
	/* 2 Block model */
	margin-bottom: 80px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 100px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 50px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 75px;
	}
}
.get-funded__investment-info {
	/* 2 Block model */
	margin-bottom: 44px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 40px;
	}
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 50px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 45px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 14px;
	}
}
.get-funded__investment-info .h2-2 {
	/* 2 Block model */
	margin-bottom: 78px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 50px;
	}
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 60px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 66px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 47px;
	}
}
.get-funded__investment-price {
	/* 2 Block model */
	display: inline-block;
	width: 100%;
	padding-left: 82px;

	/* 3 Typography */
	font-family: $font-third;
	font-size: 30px;
	font-weight: 900;
	line-height: 34px;
	color: #ff6600;
	letter-spacing: -0.184615px;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-left: 0;
	}
	@media (min-width: 992px) {
		/* 3 Typography */
		font-family: $font-second;
		font-size: 40px;
		font-weight: 500;
		line-height: 48px;
		letter-spacing: -0.246154px;
	}
}
.get-funded__investment-bottom .small-text {
	/* 2 Block model */
	max-width: 300px;

	/* 3 Typography */
	font-size: 14px;
	line-height: 18px;
	letter-spacing: -0.0823529px;
}

/* Blocks get-funded__block-img */
.get-funded__block-img-1 img {
	/* 1 Positioning */
	position: relative;
	left: 0;

	/* 2 Block model */
	display: block;
	width: 530px;

	/* 4 Visual */
	transform: translate(-4%);
	@media (min-width: 768px) {
		/* 1 Positioning */
		left: 50%;

		/* 2 Block model */
		width: 718px;

		/* 4 Visual */
		transform: translate(-51.1%);
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		width: 858px;

		/* 4 Visual */
		transform: translate(-56.5%);
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		width: 950px;

		/* 4 Visual */
		transform: translate(-59.1%);
	}
	@media (min-width: 1400px) {
		/* 2 Block model */
		width: 1098px;
	}
}
.get-funded__block-img-2 {
	/* 2 Block model */
	margin-bottom: 40px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 3px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-top: -58px;
		margin-bottom: -7px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-top: 0;
	}
}
.get-funded__block-img-2 img {
	/* 1 Positioning */
	position: relative;
	left: 50%;

	/* 2 Block model */
	display: block;
	width: 881px;

	/* 4 Visual */
	transform: translate(-42.7%);
	@media (min-width: 576px) {
		/* 4 Visual */
		transform: translate(-40%);
	}
	@media (min-width: 768px) {
		/* 2 Block model */
		width: 849px;

		/* 4 Visual */
		transform: translate(-50.5%);
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		width: 1048px;

		/* 4 Visual */
		transform: translate(-51.99%);
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		width: 1100px;

		/* 4 Visual */
		transform: translate(-50.5%);
	}
	@media (min-width: 1400px) {
		/* 2 Block model */
		width: 1258px;
	}
}
.get-funded__block-img-3 {
	/* 2 Block model */
	margin-bottom: -5px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 20px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 5px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 30px;
	}
}
.get-funded__block-img-3 img {
	/* 1 Positioning */
	position: relative;
	left: 50%;

	/* 2 Block model */
	display: block;
	width: 740px;

	/* 4 Visual */
	transform: translate(-33.7%);
	@media (min-width: 576px) {
		/* 4 Visual */
		transform: translate(-50%);
	}
	@media (min-width: 768px) {
		/* 2 Block model */
		width: 976px;

		/* 4 Visual */
		transform: translateX(-47.5%);
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		width: 1060px;

		/* 4 Visual */
		transform: translateX(-50%);
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		width: 1300px;
	}
}
.get-funded__block-img-4 img {
	/* 1 Positioning */
	position: relative;
	left: 50%;

	/* 2 Block model */
	display: block;
	width: 800px;

	/* 4 Visual */
	transform: translate(-45%);
	@media (min-width: 576px) {
		/* 4 Visual */
		transform: translate(-48%);
	}
	@media (min-width: 768px) {
		/* 2 Block model */
		width: 1071px;

		/* 4 Visual */
		transform: translateX(-50.5%);
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		width: 1086px;

		/* 4 Visual */
		transform: translateX(-50%);
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		width: 1300px;
	}
}
.get-funded__block-img-5 img {
	/* 1 Positioning */
	position: relative;
	left: -40px;

	/* 2 Block model */
	display: block;
	width: 824px;
	@media (min-width: 768px) {
		/* 1 Positioning */
		left: 50%;

		/* 2 Block model */
		width: 820px;

		/* 4 Visual */
		transform: translateX(-50%);
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		width: 1060px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		width: 1300px;
	}
}
.get-funded__block-img-6 {
	/* 2 Block model */
	margin-bottom: 40px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 45px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 50px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 64px;
	}
}
.get-funded__block-img-6 img {
	/* 1 Positioning */
	position: relative;
	left: -39px;

	/* 2 Block model */
	display: block;
	width: 373px;
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		/* IE10+ CSS styles go here */
		left: 0;
		width: 100%;
	}
	@media (min-width: 768px) {
		/* 1 Positioning */
		position: static;

		/* 2 Block model */
		width: 100%;
		max-width: 978px;
	}
}
