.get-funded {
	/* 2 Block model */
	display: block;
}

/* Block  get-funded__email */
.get-funded__email {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	overflow: hidden;
}
.get-funded__body-img {
	/* 1 Positioning */
	position: relative;
}
.get-funded__icon {
	/* 1 Positioning */
	position: absolute;
	z-index: 1;

	/* 2 Block model */
	display: none;
}
.get-funded__icon-01 {
	@media (min-width: 768px) {
		/* 1 Positioning */
		top: -106px;
		left: -63px;

		/* 2 Block model */
		display: block;
		width: 128px;
	}
	@media (min-width: 992px) {
		/* 1 Positioning */
		top: -7px;
		left: 10px;

		/* 2 Block model */
		width: 110px;
	}
	@media (min-width: 1200px) {
		/* 1 Positioning */
		top: 0;
		left: -58px;

		/* 2 Block model */
		width: 128px;
	}
}
.get-funded__icon-02 {
	/* 1 Positioning */
	bottom: 144px;
	left: -104px;

	/* 2 Block model */
	display: block;
	width: 190px;
	@media (min-width: 768px) {
		/* 1 Positioning */
		bottom: 61px;
		left: -105px;

		/* 2 Block model */
		width: 190px;
	}
	@media (min-width: 992px) {
		/* 1 Positioning */
		bottom: 103px;
		left: -112px;

		/* 2 Block model */
		width: 230px;
	}
	@media (min-width: 1200px) {
		/* 1 Positioning */
		bottom: 19px;
		left: -254px;

		/* 2 Block model */
		width: 252px;
	}
}
.get-funded__icon-03 {
	@media (min-width: 1200px) {
		/* 1 Positioning */
		bottom: -109px;
		left: 304px;

		/* 2 Block model */
		display: block;
	}
}
.get-funded__icon-04 {
	/* 1 Positioning */
	top: -13px;
	right: -100px;

	/* 2 Block model */
	display: block;
	@media (min-width: 768px) {
		/* 1 Positioning */
		top: -34px;
		right: -114px;
	}
	@media (min-width: 992px) {
		/* 1 Positioning */
		top: 6px;
		right: 8px;

		/* 2 Block model */
		width: 197px;
	}
	@media (min-width: 1200px) {
		/* 1 Positioning */
		top: -16px;
		right: -51px;

		/* 2 Block model */
		width: 184px;
	}
}
.get-funded__icon-05 {
	@media (min-width: 768px) {
		/* 1 Positioning */
		right: 4px;
		bottom: 157px;

		/* 2 Block model */
		display: block;
	}
	@media (min-width: 992px) {
		/* 1 Positioning */
		right: 27px;
		bottom: 155px;
	}
	@media (min-width: 1200px) {
		/* 1 Positioning */
		right: 100px;
		bottom: 221px;
	}
}
.get-funded__icon-06 {
	@media (min-width: 768px) {
		/* 1 Positioning */
		right: -108px;
		bottom: -160px;

		/* 2 Block model */
		display: block;
		width: 205px;
	}
	@media (min-width: 992px) {
		/* 1 Positioning */
		right: -96px;
		bottom: -129px;

		/* 2 Block model */
		width: 226px;
	}
	@media (min-width: 1200px) {
		/* 1 Positioning */
		right: -71px;
		bottom: -163px;
	}
}
.get-funded__icon-07 {
	/* 1 Positioning */
	bottom: -93px;
	left: 90px;

	/* 2 Block model */
	display: block;
	@media (min-width: 768px) {
		/* 1 Positioning */
		bottom: -127px;
		left: 170px;
	}
	@media (min-width: 992px) {
		/* 1 Positioning */
		bottom: -66px;
		left: 296px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		display: none;
	}
}
.get-funded__icon-08 {
	@media (min-width: 768px) {
		/* 1 Positioning */
		top: -118px;
		left: 292px;

		/* 2 Block model */
		display: block;
	}
	@media (min-width: 992px) {
		/* 1 Positioning */
		top: -104px;
		left: 385px;

		/* 2 Block model */
		width: 151px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		display: none;
	}
}
.get-funded__block-img-1 {
	/* 1 Positioning */
	position: relative;
	z-index: 5;
}
.get-funded__softs {
	/* 2 Block model */
	padding-top: 52px;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-top: 60px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-top: 52px;
	}
}
.get-funded__investment-info {
	/* 2 Block model */
	margin-bottom: 44px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 40px;
	}
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 50px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 45px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 14px;
	}
}
.get-funded__investment-info .h2-2 {
	/* 2 Block model */
	margin-bottom: 78px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 50px;
	}
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 60px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 66px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 47px;
	}
}
.get-funded__investment-price {
	/* 2 Block model */
	display: inline-block;
	width: 100%;
	padding-left: 82px;

	/* 3 Typography */
	font-family: $font-third;
	font-size: 30px;
	font-weight: 900;
	line-height: 34px;
	color: #ff6600;
	letter-spacing: -0.184615px;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-left: 0;
	}
	@media (min-width: 992px) {
		/* 3 Typography */
		font-family: $font-second;
		font-size: 40px;
		font-weight: 500;
		line-height: 48px;
		letter-spacing: -0.246154px;
	}
}
.get-funded__investment-bottom .small-text {
	/* 2 Block model */
	max-width: 300px;

	/* 3 Typography */
	font-size: 14px;
	line-height: 18px;
	letter-spacing: -0.0823529px;
}

/* Blocks get-funded__block-img */
.get-funded__block-img-1 img {
	/* 1 Positioning */
	position: relative;
	left: 0;

	/* 2 Block model */
	display: block;
	width: 530px;

	/* 4 Visual */
	transform: translate(-4%);
	@media (min-width: 768px) {
		/* 1 Positioning */
		left: 50%;

		/* 2 Block model */
		width: 718px;

		/* 4 Visual */
		transform: translate(-51.1%);
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		width: 858px;

		/* 4 Visual */
		transform: translate(-56.5%);
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		width: 950px;

		/* 4 Visual */
		transform: translate(-59.1%);
	}
	@media (min-width: 1400px) {
		/* 2 Block model */
		width: 1098px;
	}
}
.get-funded__block-img-2 {
	/* 2 Block model */
	margin-bottom: 40px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 3px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-top: -58px;
		margin-bottom: -7px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-top: -68px;
		margin-bottom: 14px;
	}
}
.get-funded__block-img-2 img {
	/* 1 Positioning */
	position: relative;
	left: 50%;

	/* 2 Block model */
	display: block;
	width: 881px;

	/* 4 Visual */
	transform: translate(-42.7%);
	@media (min-width: 576px) {
		/* 4 Visual */
		transform: translate(-44%);
	}
	@media (min-width: 768px) {
		/* 2 Block model */
		width: 849px;

		/* 4 Visual */
		transform: translate(-50.5%);
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		width: 1048px;

		/* 4 Visual */
		transform: translate(-51.99%);
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		width: 1100px;

		/* 4 Visual */
		transform: translate(-50.5%);
	}
	@media (min-width: 1400px) {
		/* 2 Block model */
		width: 1258px;
	}
}
.get-funded__block-img-3 {
	/* 2 Block model */
	margin-bottom: -5px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 20px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 5px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-top: -30px;
		margin-bottom: 30px;
	}
}
.get-funded__block-img-3 img {
	/* 1 Positioning */
	position: relative;
	left: 50%;

	/* 2 Block model */
	display: block;
	width: 740px;

	/* 4 Visual */
	transform: translate(-33.7%);
	@media (min-width: 576px) {
		/* 4 Visual */
		transform: translate(-50%);
	}
	@media (min-width: 768px) {
		/* 2 Block model */
		width: 976px;

		/* 4 Visual */
		transform: translateX(-47.5%);
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		width: 1060px;

		/* 4 Visual */
		transform: translateX(-50%);
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		width: 1300px;
	}
}
.get-funded__block-img-4 {
	/* 2 Block model */

	@media (min-width: 768px) {
		/* 2 Block model */
	}
	@media (min-width: 992px) {
		/* 2 Block model */
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-top: -80px;
		margin-bottom: -65px;
	}
}
.get-funded__block-img-4 img {
	/* 1 Positioning */
	position: relative;
	left: 50%;

	/* 2 Block model */
	display: block;
	width: 800px;

	/* 4 Visual */
	transform: translate(-45%);
	@media (min-width: 576px) {
		/* 4 Visual */
		transform: translate(-48%);
	}
	@media (min-width: 768px) {
		/* 2 Block model */
		width: 1071px;

		/* 4 Visual */
		transform: translateX(-50.5%);
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		width: 1086px;

		/* 4 Visual */
		transform: translateX(-50%);
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		width: 1300px;
	}
}
.get-funded__block-img-5 {
	/* 2 Block model */

	@media (min-width: 768px) {
		/* 2 Block model */
	}
	@media (min-width: 992px) {
		/* 2 Block model */
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-top: -90px;
	}
}
.get-funded__block-img-5 img {
	/* 1 Positioning */
	position: relative;
	left: -40px;

	/* 2 Block model */
	display: block;
	width: 824px;
	@media (min-width: 768px) {
		/* 1 Positioning */
		left: 50%;

		/* 2 Block model */
		width: 820px;

		/* 4 Visual */
		transform: translateX(-50%);
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		width: 1060px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		width: 1300px;
	}
}
.get-funded__block-img-6 {
	/* 2 Block model */
	margin-bottom: 40px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 45px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 50px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 64px;
	}
}
.get-funded__block-img-6 img {
	/* 1 Positioning */
	position: relative;
	left: -39px;

	/* 2 Block model */
	display: block;
	width: 373px;
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		/* IE10+ CSS styles go here */
		left: 0;
		width: 100%;
	}
	@media (min-width: 768px) {
		/* 1 Positioning */
		position: static;

		/* 2 Block model */
		width: 100%;
		max-width: 978px;
	}
}
