section.get-funded
	div.get-funded__top
		div.container
			include ../home-top/home-top--getfunded.pug
	div.get-funded__reviews
		include ../star-reviews/star-reviews.pug
	div.get-funded__email
		div.container
			div.get-funded__body-img
				img.get-funded__icon.get-funded__icon-01(src="images/get-funded__icon-01.svg" alt="icon")
				img.get-funded__icon.get-funded__icon-02(src="images/get-funded__icon-02.svg" alt="icon")
				img.get-funded__icon.get-funded__icon-03(src="images/get-funded__icon-03.svg" alt="icon")
				img.get-funded__icon.get-funded__icon-04(src="images/get-funded__icon-04.svg" alt="icon")
				img.get-funded__icon.get-funded__icon-05(src="images/get-funded__icon-05.svg" alt="icon")
				img.get-funded__icon.get-funded__icon-06(src="images/get-funded__icon-06.svg" alt="icon")
				img.get-funded__icon.get-funded__icon-07(src="images/get-funded__icon-07.svg" alt="icon")
				img.get-funded__icon.get-funded__icon-08(src="images/get-funded__icon-08.svg" alt="icon")
				div.get-funded__block-img-1
					+picture({img: 'get-funded__img-01-1200', img_320: 'get-funded__img-01-320', img_768: 'get-funded__img-01-768',  img_992: 'get-funded__img-01-992', img_1200: 'get-funded__img-01-1200'})
	section.get-funded__mvp-scope
		div.get-funded__number
			div.container
				div.row
					div.col-12.col-md-10.col-xl-9.offset-xl-1
						div.get-funded__top
							div.get-funded__number-value 1
							div.get-funded__number-body
								h2.h2 Get full clarity on&nbsp;your MVP scope. Only focus on&nbsp;what&rsquo;s essential.
								p.text-lg.text-lg--black.text-lg--md Start simple, get fancy later&nbsp;&mdash; because we&rsquo;ve found that works well. Using tools like user personas, storyboards, empathy maps, a&nbsp;feature matrix and a&nbsp;How Might We&nbsp;exercise, we&rsquo;ll help you clearly define the scope for the MVP, whether it&rsquo;s a&nbsp;web or&nbsp;mobile app. You&rsquo;ll get a&nbsp;professional design style for your app that you can add to&nbsp;and refine further down the road, and also a&nbsp;knockout pitch deck to&nbsp;impress potential investors even more.
		div.get-funded__block-img-2
			+picture({img: 'get-funded__img-02-1200', img_320: 'get-funded__img-02-320', img_768: 'get-funded__img-02-768', img_992: 'get-funded__img-02-992', img_1200: 'get-funded__img-02-1200'})

		div.get-funded__worth
			div.container
				div.row
					div.col-12.col-md-6.col-lg-8.col-xl-7.offset-xl-1
						div.get-funded__worth-body
							div.get-funded__worth-item.get-funded__worth-item--fix-mr
								+worth-list({
									title: 'UX&nbsp;Research and Planning',
									items: [
										'Business requirements review',
										'Competitor research',
										'User personas',
										'Feature matrix'
									]
								})
							div.get-funded__worth-item
								+worth-list({
									title: 'UX&nbsp;Research and Planning',
									items: [
										'Logo, icon',
										'Color palette',
										'Fonts selection',
										'Pitch deck design (up&nbsp;to&nbsp;15&nbsp;slides)',
									]
								})
					div.col-12.col-md-5.col-lg-4.col-xl-4.offset-md-1.offset-lg-0
						div.get-funded__worth-item.get-funded__worth-item--fix-mb
							+worth-list({
								title: 'UX&nbsp;Research and Planning',
								items: [
									'Simple UI&nbsp;kit',
									'Up&nbsp;to&nbsp;10&nbsp;user scenarios',
									'Clickable prototype',
									'iOS or&nbsp;Android',
									'App icon and store graphics',
									'1&nbsp;UX/UI review'
								]
							})
	section.get-funded__process
		div.get-funded__number.get-funded__number--2
			div.container
				div.row
					div.col-12.col-md-10.col-xl-9.offset-xl-1
						div.get-funded__top
							div.get-funded__number-value 2
							div.get-funded__number-body
								h2.h2 Rely on&nbsp;our proven process. Get a&nbsp;better product in&nbsp;less time.
								p.text-lg.text-lg--black.text-lg--md At&nbsp;Strebkov Design we&rsquo;re experts at&nbsp;elevating fintech brands with apps and online products that your customers will need and want, and part of&nbsp;the reason why we&rsquo;re so&nbsp;good at&nbsp;what we&nbsp;do&nbsp;is&nbsp;because of&nbsp;our 3-phase process. We&rsquo;ve spent 10&nbsp;years shaping it&nbsp;and now we&nbsp;use it&nbsp;on&nbsp;every project.
		div.get-funded__phase
			div.container
				div.row
					div.col-12
						div.get-funded__phase-list
							div.get-funded__phase-item
								div.get-funded__phase-top
									span Phase&nbsp;1
									p Discovery and Planning
								div.get-funded__phase-body
									p.text-lg-two Understanding your business, customers, product, and market.
									p.text-lg-two Initial research: business requirements review, product audit, market research (competitor research, etc.).
									p.text-lg-two Product strategy: defining users’ needs in context, existing or competitor solutions, framing the problem.

							div.get-funded__phase-item
								div.get-funded__phase-top.get-funded__phase-top--yellow.get-funded__phase-top--text-white
									span Phase&nbsp;2
									p Design and Delivery
								div.get-funded__phase-body.get-funded__phase-body--fix-pl
									p.text-lg-two Product definition and prototyping. User flows based on&nbsp;user scenarios. Information architecture and wireframing.
									p.text-lg-two Brand visual identity, high fidelity mockups, interactive prototype, UI&nbsp;kit and patterns libraries, specs and metrics. Delivering development assets, graphics, icons, etc.

							div.get-funded__phase-item
								div.get-funded__phase-top.get-funded__phase-top--dark-blue.get-funded__phase-top--text-white
									span Phase&nbsp;3
									p Development Support
								div.get-funded__phase-body.get-funded__phase-body--fix-pl
									p.text-lg-two 45&nbsp;days of&nbsp;development support.
									p.text-lg-two Regular UX/UI reviews of&nbsp;the implemented layouts.
									p.text-lg-two Tackling questions and design fixes within the initial scope.
	section.get-funded__experience
		div.get-funded__number
			div.container
				div.row
					div.col-12.col-md-10.col-xl-9.offset-xl-1
						div.get-funded__title
							div.get-funded__title-number
							h2.h2 
						p.text-lg.text-lg--black.text-lg--md
		div.get-funded__worth
			div.container
				div.row
					div.col-12.col-md-6.col-lg-4.col-xl-3.offset-md-1.offset-lg-0.offset-xl-1
						div.get-funded__worth-item
							+worth-list({
								title: '',
								items: [
									''
								]
							})
					div.col-12.col-md-5.col-lg-4.col-xl-4
						div.get-funded__worth-item
							+worth-list({
								title: '',
								items: [
									''
								]
							})
					div.col-12.col-md-6.col-lg-4.col-xl-4.offset-md-1.offset-lg-0
						div.get-funded__worth-item
							+worth-list({
								title: '',
								items: [
									''
								]
							})
		include ../companies/companies.pug
	section.get-funded__workflow
		div.get-funded__number
			div.container
				div.row
					div.col-12.col-md-10.col-xl-9.offset-xl-1
						div.get-funded__title
							div.get-funded__title-number
							h2.h2 
						p.text-lg.text-lg--black.text-lg--md
		div.get-funded__body-img
			div.get-funded__block-img-3
				+picture({img: '', img_320: '', img_992: '', img_1200: ''})
		div.container
			div.row
				div.col-12
					p.text-lg.text-lg--black.text-lg--md
		div.get-funded__softs
			div.container
				div.row
					div.col-12.col-lg-10.col-lg-8.col-xl-10.offset-md-1.offset-lg-2.offset-xl-1
						ul.get-funded__softs-list
							li.get-funded__softs-item
								img(src="images/" alt="")
							li.get-funded__softs-item
								img(src="images/" alt="")
							li.get-funded__softs-item
								img(src="images/" alt="")
							li.get-funded__softs-item
								img(src="images/" alt="")
							li.get-funded__softs-item
								img(src="images/" alt="")
							li.get-funded__softs-item
								img(src="images/" alt="")
							li.get-funded__softs-item
								img(src="images/" alt="")
							li.get-funded__softs-item
								img(src="images/" alt="")
							li.get-funded__softs-item
								img(src="images/" alt="")
							li.get-funded__softs-item
								img(src="images/" alt="")
	section.get-funded__deliverables
		div.get-funded__number
			div.container
				div.row
					div.col-12.col-md-10.col-xl-9.offset-xl-1
						div.get-funded__title
							div.get-funded__title-number
							h2.h2 
						p.text-lg.text-lg--black.text-lg--md
		div.get-funded__body-img
			div.get-funded__block-img-4
				+picture({img: '', img_320: '', img_992: '', img_1200: ''})
	section.get-funded__support
		div.get-funded__number
			div.container
				div.row
					div.col-12.col-md-10.col-xl-9.offset-xl-1
						div.get-funded__title
							div.get-funded__title-number
							h2.h2 
						p.text-lg.text-lg--black.text-lg--md
	section.get-funded__investment
		div.get-funded__body-img
			div.get-funded__block-img-4
				+picture({img: '', img_320: '', img_992: '', img_1200: ''})




