section.get-funded
	div.container
		include ../home-top/home-top--getfunded.pug
	div.get-funded__reviews
		include ../star-reviews/star-reviews.pug
	div.get-funded__email
		div.container
			div.get-funded__body-img
				img.get-funded__icon.get-funded__icon-01(src="images/get-funded__icon-01.svg" alt="icon")
				img.get-funded__icon.get-funded__icon-02(src="images/get-funded__icon-02.svg" alt="icon")
				img.get-funded__icon.get-funded__icon-03(src="images/get-funded__icon-03.svg" alt="icon")
				img.get-funded__icon.get-funded__icon-04(src="images/get-funded__icon-04.svg" alt="icon")
				img.get-funded__icon.get-funded__icon-05(src="images/get-funded__icon-05.svg" alt="icon")
				img.get-funded__icon.get-funded__icon-06(src="images/get-funded__icon-06.svg" alt="icon")
				img.get-funded__icon.get-funded__icon-07(src="images/get-funded__icon-07.svg" alt="icon")
				img.get-funded__icon.get-funded__icon-08(src="images/get-funded__icon-08.svg" alt="icon")
				div.get-funded__block-img-1
					+picture({img: 'email-request-hd', img_320: 'email-request-mobile', img_768: 'email-request-tablet', img_992: 'email-request-desktop', img_1200: 'email-request-hd', alt: 'email'})
	section.get-funded__mvp-scope
		div.get-funded__number
			div.container
				div.row
					div.col-12.col-md-10.col-xl-9.offset-xl-1
						div.get-funded__top
							div.get-funded__number-value 
								span 1
							div.get-funded__number-body
								h2.h2-2 Get full clarity on&nbsp;your MVP scope. Only focus on&nbsp;what&rsquo;s essential.
								p.lead Start simple, get fancy later&nbsp;&mdash; because we&rsquo;ve found that works well. Using tools like user personas, storyboards, empathy maps, a&nbsp;feature matrix and a&nbsp;How Might We&nbsp;exercise, we&rsquo;ll help you clearly define the scope for the MVP, whether it&rsquo;s a&nbsp;web or&nbsp;mobile app. You&rsquo;ll get a&nbsp;professional design style for your app that you can add to&nbsp;and refine further down the road, and also a&nbsp;knockout pitch deck to&nbsp;impress potential investors even more.
		div.get-funded__block-img-2
			+picture({img: 'mvp-scope-hd', img_320: 'mvp-scope-mobile', img_768: 'mvp-scope-tablet', img_992: 'mvp_scope-desktop', img_1200: 'mvp-scope-hd', alt: 'Get full clarity on your MVP scope'})

		div.get-funded__worth
			div.container
				div.row
					div.col-12.col-md-6.col-lg-8.col-xl-7.offset-xl-1
						div.get-funded__worth-body
							div.get-funded__worth-item.get-funded__worth-item--fix-mr
								+worth-list({
									title: 'UX&nbsp;Research and Planning',
									items: [
										'Business requirements review',
										'Competitor research',
										'User personas',
										'Feature matrix'
									]
								})
							div.get-funded__worth-item
								+worth-list({
									title: 'Product Identity',
									items: [
										'Logo, icon',
										'Color palette',
										'Fonts selection',
										'Pitch deck design (up&nbsp;to&nbsp;15&nbsp;slides)',
									]
								})
					div.col-12.col-md-5.col-lg-4.col-xl-4.offset-md-1.offset-lg-0
						div.get-funded__worth-item.get-funded__worth-item--fix-mb
							+worth-list({
								title: 'App Design',
								items: [
									'Simple UI&nbsp;kit',
									'Up&nbsp;to&nbsp;10&nbsp;user scenarios',
									'Clickable prototype',
									'iOS or&nbsp;Android',
									'App icon and store graphics',
									'1&nbsp;UX/UI review'
								]
							})(class="worth-list--fix-pl")
	section.get-funded__process
		div.get-funded__number.get-funded__number--2
			div.container
				div.row
					div.col-12.col-md-10.col-xl-9.offset-xl-1
						div.get-funded__top
							div.get-funded__number-value
								span 2
							div.get-funded__number-body
								h2.h2-2 Rely on&nbsp;our proven process. Get a&nbsp;better product in&nbsp;less time.
								p.lead At&nbsp;Strebkov Design we&rsquo;re experts at&nbsp;elevating fintech brands with apps and online products that your customers will need and want, and part of&nbsp;the reason why we&rsquo;re so&nbsp;good at&nbsp;what we&nbsp;do&nbsp;is&nbsp;because of&nbsp;our 3-phase process. We&rsquo;ve spent 10&nbsp;years shaping it&nbsp;and now we&nbsp;use it&nbsp;on&nbsp;every project.
		div.get-funded__phase
			div.container
				div.row
					div.col-12
						div.get-funded__phase-list
							div.get-funded__phase-item
								div.get-funded__phase-top
									span Phase&nbsp;1
									h3.h3 Discovery and Planning
								div.get-funded__phase-body
									p.text Understanding your business, customers, product, and market.
									p.text Initial research: business requirements review, product audit, market research (competitor research, etc.).
									p.text Product strategy: defining users’ needs in context, existing or competitor solutions, framing the problem.

							div.get-funded__phase-item
								div.get-funded__phase-top.get-funded__phase-top--yellow.get-funded__phase-top--text-white
									span Phase&nbsp;2
									h3.h3 Design and Delivery
								div.get-funded__phase-body.get-funded__phase-body--fix-pl
									p.text Product definition and prototyping. User flows based on&nbsp;user scenarios. Information architecture and wireframing.
									p.text Brand visual identity, high fidelity mockups, interactive prototype, UI&nbsp;kit and patterns libraries, specs and metrics. Delivering development assets, graphics, icons, etc.

							div.get-funded__phase-item
								div.get-funded__phase-top.get-funded__phase-top--dark-blue.get-funded__phase-top--text-white
									span Phase&nbsp;3
									h3.h3 Development Support
								div.get-funded__phase-body.get-funded__phase-body--fix-pl
									p.text 45&nbsp;days of&nbsp;development support.
									p.text Regular UX/UI reviews of&nbsp;the implemented layouts.
									p.text Tackling questions and design fixes within the initial scope.
	section.get-funded__experience
		div.get-funded__number.get-funded__number--3
			div.container
				div.row
					div.col-12.col-md-10.col-xl-9.offset-xl-1
						div.get-funded__top
							div.get-funded__number-value
								span 3
							div.get-funded__number-body
								h2.h2-2 No&nbsp;need to&nbsp;educate your partner. Deep expertise and instant value.
								p.lead Leverage our 10+&nbsp;years of&nbsp;expertise in&nbsp;financial UX/UI. We&rsquo;re a&nbsp;group of&nbsp;skilled and passionate practitioners who put ourselves in&nbsp;your users&rsquo; shoes to&nbsp;understand and enhance their journey. We&nbsp;deliver elegant and functional visual interfaces for fintech startups, wherever they may be&nbsp;in&nbsp;the world, and we&nbsp;owe our success to&nbsp;being fast, effective, and able to&nbsp;slot right into your startup team, plug-and-play style.
		div.get-funded__worth.get-funded__worth--2
			div.container
				div.row
					div.col-12.col-md-8.col-lg-8.col-xl-7.offset-xl-1
						div.get-funded__worth-body.get-funded__worth-body--fix
							div.get-funded__worth-item.get-funded__worth-item--fix-mr
								+worth-list({
									title: 'We worked with:',
									items: [
										'Brokers',
										'Investment platforms',
										'Payment systems',
										'Digital banks',
										'Online financial media',
										'Crypto exchanges'
									]
								})
							div.get-funded__worth-item
								+worth-list({
									title: 'We designed:',
									items: [
										'Trading platforms',
										'Customer dashboards',
										'Crypto exchange apps',
										'Investment apps',
										'Product websites',
										'Data research tools',
										'Marketing assets'
									]
								})
					div.col-12.col-md-4
						div.get-funded__worth-item.get-funded__worth-item--fix-mb
							+worth-list({
								title: 'Overall:',
								items: [
									'100+ completed projects for 70&nbsp;companies in&nbsp;14&nbsp;countries',
									'Award-winning products',
									'Handful of&nbsp;clients with 8+&nbsp;years working relationships',
									'20&nbsp;years of&nbsp;experience in&nbsp;digital products design'
								]
							})(class="worth-list--fix-pl")
		include ../companies/companies--getfunded.pug
	section.get-funded__workflow
		div.get-funded__number.get-funded__number--4
			div.container
				div.row
					div.col-12.col-md-10.col-xl-9.offset-xl-1
						div.get-funded__top
							div.get-funded__number-value
								span 4
							div.get-funded__number-body
								h2.h2-2 Stress-free workflow. No&nbsp;surprizes, no&nbsp;micromanagement.
								p.lead We&nbsp;use ActiveCollab for our internal task management, and we&rsquo;re super big on&nbsp;refining our templates and documenting literally every step we&nbsp;take. We&nbsp;know exactly what assets you&rsquo;ll need to&nbsp;build an&nbsp;MVP and publish it&nbsp;to&nbsp;the web or&nbsp;in&nbsp;app stores. App layouts, assets, icons, store graphics, different file formats&mdash;you don&rsquo;t have to&nbsp;worry about any of&nbsp;that, just leave it&nbsp;to&nbsp;us.
		div.get-funded__block-img-3
			+picture({img: 'workflow-hd', img_320: 'workflow-mobile', img_768: 'workflow-tablet', img_992: 'workflow-desktop', img_1200: 'workflow-hd', alt: 'Stress-free workflow'})
		div.container
			div.row
				div.col-12.col-md-8.offset-md-2
					p.lead We&nbsp;can also integrate into every collaboration software you use. We&nbsp;know exactly what assets you need to&nbsp;build an&nbsp;MVP and publish it&nbsp;on&nbsp;the web or&nbsp;in&nbsp;app stores. Icons, store graphics, different file formats- you don&rsquo;t have to&nbsp;worry, leave it&nbsp;for&nbsp;us.
		div.get-funded__softs
			div.container
				div.row
					div.col-12.col-md-10.col-lg-8.col-xl-10.offset-md-1.offset-lg-2.offset-xl-1
						ul.get-funded__softs-list
							li.get-funded__softs-item
								img(src="images/get-funded__img-sofrs-01.png" srcset="images/get-funded__img-sofrs-01@2x.png 2x" alt="Basecamp" title="Basecamp")
							li.get-funded__softs-item
								img(src="images/get-funded__img-sofrs-02.png" srcset="images/get-funded__img-sofrs-02@2x.png 2x" alt="none" title="none")
							li.get-funded__softs-item
								img(src="images/get-funded__img-sofrs-03.png" srcset="images/get-funded__img-sofrs-03@2x.png 2x" alt="Trello" title="Trello")
							li.get-funded__softs-item
								img(src="images/get-funded__img-sofrs-04.png" srcset="images/get-funded__img-sofrs-04@2x.png 2x" alt="none" title="none")
							li.get-funded__softs-item
								img(src="images/get-funded__img-sofrs-05.png" srcset="images/get-funded__img-sofrs-05@2x.png 2x" alt="Monday" title="Monday")
							li.get-funded__softs-item
								img(src="images/get-funded__img-sofrs-06.png" srcset="images/get-funded__img-sofrs-06@2x.png 2x" alt="Slack" title="Slack")
							li.get-funded__softs-item
								img(src="images/get-funded__img-sofrs-07.png" srcset="images/get-funded__img-sofrs-07@2x.png 2x" alt="none" title="none")
							li.get-funded__softs-item
								img(src="images/get-funded__img-sofrs-mask.png" srcset="images/get-funded__img-sofrs-mask@2x.png 2x" alt="mask" title="mask")
							li.get-funded__softs-item
								img(src="images/get-funded__img-sofrs-mask.png" srcset="images/get-funded__img-sofrs-mask@2x.png 2x" alt="mask" title="mask")
							li.get-funded__softs-item
								img(src="images/get-funded__img-sofrs-mask.png" srcset="images/get-funded__img-sofrs-mask@2x.png 2x" alt="mask" title="mask")
	section.get-funded__deliverables
		div.get-funded__number.get-funded__number--5
			div.container
				div.row
					div.col-12.col-md-10.col-xl-9.offset-xl-1
						div.get-funded__top
							div.get-funded__number-value
								span 5
							div.get-funded__number-body
								h2.h2-2 A&nbsp;full package with deliverables you&rsquo;ll love.
								p.lead Your in-house or&nbsp;outsourced development team will love our assets and guidance. We&rsquo;ll give them everything they need to&nbsp;integrate our designs and produce the high-quality end product your project deserves, one that&rsquo;s ready to&nbsp;impress investors and win over users.
		div.get-funded__block-img-4
			+picture({img: 'assets-hd', img_320: 'assets-mobile', img_768: 'assets-tablet', img_992: 'assets-desktop', img_1200: 'assets-hd', alt: 'A full package deliverables'})
	section.get-funded__support
		div.get-funded__number.get-funded__number--6
			div.container
				div.row
					div.col-12.col-md-10.col-xl-9.offset-xl-1
						div.get-funded__top
							div.get-funded__number-value
								span 6
							div.get-funded__number-body
								h2.h2-2 30&nbsp;days of&nbsp;free development support to&nbsp;get you up&nbsp;and running
								p.lead Your 30&nbsp;days of&nbsp;development support is&nbsp;perfect for ironing out any creases that might show up&nbsp;in&nbsp;the new design. We&nbsp;want to&nbsp;ensure everything works as&nbsp;it&nbsp;should and achieves your aims so&nbsp;we&nbsp;do&nbsp;regular UX/UI reviews of&nbsp;your new layouts. We&nbsp;also tackle your questions, and should they be&nbsp;needed, we&nbsp;take care of&nbsp;design fixes so&nbsp;long as&nbsp;they&rsquo;re within the initial scope of&nbsp;the project. Your 30&nbsp;days of&nbsp;free support will leave you with an&nbsp;MVP that&rsquo;s ready to&nbsp;soar.
		div.get-funded__block-img-5
			+picture({img: 'launch-support-hd', img_320: 'launch-support-mobile', img_768: 'launch-support-tablet', img_992: 'launch-support-desktop', img_1200: 'launch-support-hd', alt: 'Development support'})
	section.get-funded__investment
		div.get-funded__investment-top
			div.container
				div.row
					div.col-12.col-md-11.offset-md-1
						div.get-funded__investment-info
							h2.h2-2 Investment and Timeframe
							span.get-funded__investment-price $5,995
						div.get-funded__block-img-6
							+picture({img: 'get-funded__img-06-1200', img_320: 'get-funded__img-06-320', img_768: 'get-funded__img-06-768', img_992: 'get-funded__img-06-992', img_1200: 'get-funded__img-06-1200', alt: 'Investment and Timeframe'})
				div.row
					div.col-12.col-md-11.offset-md-1
						div.get-funded__investment-bottom
							p.small-text A&nbsp;free 20-minute call that gets you full clarity on&nbsp;timing and budget for your project.




