section.get-funded
	div.container
		include ../home-top/home-top--getfunded.pug

	include ../star-reviews/star-reviews.pug

	div.get-funded__body-img
		img.get-funded__icon.get-funded__icon-01(src="images/" alt="")
		img.get-funded__icon.get-funded__icon-02(src="images/" alt="")
		img.get-funded__icon.get-funded__icon-03(src="images/" alt="")
		img.get-funded__icon.get-funded__icon-04(src="images/" alt="")
		img.get-funded__icon.get-funded__icon-05(src="images/" alt="")
		div.get-funded__block-img-1
			+picture({img: '', img_320: '', img_992: '', img_1200: ''})
	div.get-funded__number
		div.container
			div.row
				div.col-12.col-md-10.col-xl-9.offset-xl-1
					div.get-funded__title
						div.get-funded__title-number
						h2.h2 
					p.text-lg.text-lg--black.text-lg--md
	div.get-funded__body-img
		div.get-funded__block-img-2
			+picture({img: '', img_320: '', img_992: '', img_1200: ''})

	div.get-funded__worth
		div.container
			div.row
				div.col-12.col-md-6.col-lg-4.col-xl-3.offset-md-1.offset-lg-0.offset-xl-1
					div.get-funded__worth-item
						+worth-list({
							title: '',
							items: [
								''
							]
						})
				div.col-12.col-md-5.col-lg-4.col-xl-4
					div.get-funded__worth-item
						+worth-list({
							title: '',
							items: [
								''
							]
						})
				div.col-12.col-md-6.col-lg-4.col-xl-4.offset-md-1.offset-lg-0
					div.get-funded__worth-item
						+worth-list({
							title: '',
							items: [
								''
							]
						})
	div.get-funded__number
		div.container
			div.row
				div.col-12.col-md-10.col-xl-9.offset-xl-1
					div.get-funded__title
						div.get-funded__title-number
						h2.h2 
					p.text-lg.text-lg--black.text-lg--md
	div.get-funded__phase
		div.conatainer
			div.row
				div.col-12
					div.get-funded__phase-item
						div.get-funded__phase-top
							span
							p
						div.get-funded__phase-body
							p.text-lg-two

					div.get-funded__phase-item
						div.get-funded__phase-top
							span
							p
						div.get-funded__phase-body
							p.text-lg-two

					div.get-funded__phase-item
						div.get-funded__phase-top
							span
							p
						div.get-funded__phase-body
							p.text-lg-two
	div.get-funded__number
		div.container
			div.row
				div.col-12.col-md-10.col-xl-9.offset-xl-1
					div.get-funded__title
						div.get-funded__title-number
						h2.h2 
					p.text-lg.text-lg--black.text-lg--md
	div.get-funded__worth
		div.container
			div.row
				div.col-12.col-md-6.col-lg-4.col-xl-3.offset-md-1.offset-lg-0.offset-xl-1
					div.get-funded__worth-item
						+worth-list({
							title: '',
							items: [
								''
							]
						})
				div.col-12.col-md-5.col-lg-4.col-xl-4
					div.get-funded__worth-item
						+worth-list({
							title: '',
							items: [
								''
							]
						})
				div.col-12.col-md-6.col-lg-4.col-xl-4.offset-md-1.offset-lg-0
					div.get-funded__worth-item
						+worth-list({
							title: '',
							items: [
								''
							]
						})
	include ../companies/companies.pug
	div.get-funded__number
		div.container
			div.row
				div.col-12.col-md-10.col-xl-9.offset-xl-1
					div.get-funded__title
						div.get-funded__title-number
						h2.h2 
					p.text-lg.text-lg--black.text-lg--md
	div.get-funded__body-img
		div.get-funded__block-img-3
			+picture({img: '', img_320: '', img_992: '', img_1200: ''})
	div.get-funded__softs 


