.cat {
	/* 2 Block model */
	margin-bottom: 50px;
	overflow: hidden;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 35px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 91px;
	}
}
.cat__item {
	/* 2 Block model */
	width: 100%;
	max-width: 375px;
	margin: 0 auto;
	margin-bottom: 10px;
	@media (min-width: 360px) {
		/* 2 Block model */
		overflow: hidden;
	}
	@media (min-width: 768px) {
		/* 2 Block model */
		box-sizing: border-box;
		max-width: 100%;
		margin: 0;
		margin-bottom: 20px;
	}
	@media (min-width: 992px) {
		/* 4 Visual */
		border-radius: 10px;
	}
}
.cat .col-12 {
	/* 2 Block model */
	padding: 0;
	@media (min-width: 540px) {
		/* 2 Block model */
		padding: 0 10px;
	}
}
