div.cat
	ul.cat__list
		li.cat__item
			include ../cat-item/cat-item.pug
			+cat-item({
				img: 'cat-item--01',
				company: 'Investment company',
				title: 'Web-based and mobile trading platforms for investments broker',
				link: '/case-broker'
			})

		li.cat__item
			+cat-item({
				img: 'cat-item--02',
				company: 'UpDown.Club',
				title: 'Web Interface for UpDown.Club',
				link: '/case-updown'
			})(class="cat-item--white")

		li.cat__item
			+cat-item({
				img: 'cat-item--03',
				company: 'UpDown.Club',
				title: 'UpDown.Club <br>Mobile App',
				link: '/case-updown'
			})(class="cat-item--white")

		li.cat__item
			+cat-item({
				img: 'cat-item--04',
				company: 'Crypto',
				title: 'Mobile app design concept for a&nbsp;cryptocurrency exchange',
				link: ''
			})(class="cat-item--white")