.cat {
	max-width: 360px;
	margin: 0 auto;

	@media(min-width: 768px) {
	}
	@media(min-width: 992px) {
		
	}		
	@media(min-width: 1200px) {
		width: 1180px;
	}
}
.cat__list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;

	@media(min-width: 768px) {
		flex-wrap: wrap;
	}	
}
.cat__item {
	width: 100%;
	padding-bottom: 10px;
}