div.cat
	ul.cat__list
		li.cat__item
			include ../cat-item/cat-item.pug
			+cat-item({
				img: 'cat-item--01',
				company: 'Investment company',
				title: 'Web-based and mobile trading platforms for investments broker',
				link: '/case-broker.html'
			})

		li.cat__item
			+cat-item({
				img: 'cat-item--01',
				company: 'Investment company',
				title: 'Web-based and mobile trading platforms for investments broker',
				link: '/case-broker.html'
			})

		li.cat__item
			+cat-item({
				img: 'cat-item--01',
				company: 'Investment company',
				title: 'Web-based and mobile trading platforms for investments broker',
				link: '/case-broker.html'
			})

		li.cat__item
			+cat-item({
				img: 'cat-item--01',
				company: 'Investment company',
				title: 'Web-based and mobile trading platforms for investments broker',
				link: '/case-broker.html'
			})