div.refine
	div.container
		include ../home-top/home-top--refine.pug

	section.block
		div.refine__img1
			include ../fintech-founders/fintech-founders.pug

	section.block.block--bg.gray
		+block-header({
			number: 1,
			title: 'Professional, proactive work on&nbsp;any product design project'
		})

		div.container.margin-top-negative--m
			div.row
				div.col-12.col-xl-10.offset-xl-1
					+worth-list-grid({
						item1: {
							title: 'UX&nbsp;Research and Planning',
							items: [
								'Business requirements review',
								'Competitor research',
								'User personas',
								'Feature matrix'
							]
						},
						item2: {
							title: 'Product Identity',
							items: [
								'Logo, icon',
								'Color palette',
								'Fonts selection',
								'Pitch deck design (up&nbsp;to&nbsp;15&nbsp;slides)',
							]
						},
						item3: {
							title: 'App Design',
							items: [
								'Simple UI&nbsp;kit',
								'Up&nbsp;to&nbsp;10&nbsp;user scenarios',
								'Clickable prototype',
								'iOS or&nbsp;Android',
								'App icon and store graphics',
								'1&nbsp;UX/UI review'
							]
						}
					})
		
	include ../star-reviews/star-reviews.pug

	section.block
		+block-header({
			number: 3,
			title: 'No&nbsp;need to&nbsp;educate your partner. Deep expertise and instant value.',
			text: 'Leverage our 10+&nbsp;years of&nbsp;expertise in&nbsp;financial UX/UI. We&rsquo;re a&nbsp;group of&nbsp;skilled and passionate practitioners who put ourselves in&nbsp;your users&rsquo; shoes to&nbsp;understand and enhance their journey. We&nbsp;deliver elegant and functional visual interfaces for fintech startups, wherever they may be&nbsp;in&nbsp;the world, and we&nbsp;owe our success to&nbsp;being fast, effective, and able to&nbsp;slot right into your startup team, plug-and-play style.'
		})

		div.margin-top-negative--m
			div.container
				div.row
					div.col-12.col-xl-10.offset-xl-1
						+worth-list-grid({
							item1: {
								title: 'We worked with:',
								items: [
									'Brokers',
									'Investment platforms',
									'Payment systems',
									'Digital banks',
									'Online financial media',
									'Crypto exchanges'
								]
							},
							item2: {
								title: 'We designed:',
								items: [
									'Trading platforms',
									'Customer dashboards',
									'Crypto exchange apps',
									'Investment apps',
									'Product websites',
									'Data research tools',
									'Marketing assets'
								]
							},
							item3: {
								title: 'Overall:',
								items: [
									'100+ completed projects for 70&nbsp;companies in&nbsp;14&nbsp;countries',
									'Award-winning products',
									'Handful of&nbsp;clients with 8+&nbsp;years working relationships',
									'20&nbsp;years of&nbsp;experience in&nbsp;digital products design'
								]
							}
						})

	include ../companies/companies--getfunded.pug

	section.block
		+block-header({
			number: 4,
			title: 'Stress-free workflow. No&nbsp;surprizes, no&nbsp;micromanagement.',
			text: 'We&nbsp;use ActiveCollab for our internal task management, and we&rsquo;re super big on&nbsp;refining our templates and documenting literally every step we&nbsp;take. We&nbsp;know exactly what assets you&rsquo;ll need to&nbsp;build an&nbsp;MVP and publish it&nbsp;to&nbsp;the web or&nbsp;in&nbsp;app stores. App layouts, assets, icons, store graphics, different file formats&mdash;you don&rsquo;t have to&nbsp;worry about any of&nbsp;that, just leave it&nbsp;to&nbsp;us.'
		})
		
		div.get-funded__block-img-3
			+picture({img: 'workflow-hd', img_320: 'workflow-mobile', img_768: 'workflow-tablet', img_992: 'workflow-desktop', img_1200: 'workflow-hd', alt: 'Stress-free workflow'})

		div.container
			div.row
				div.col-12.col-md-8.offset-md-2
					p.lead We&nbsp;can also integrate into any collaboration software you use. We&nbsp;know exactly what assets you need to&nbsp;build an&nbsp;MVP and publish it&nbsp;on&nbsp;the web or&nbsp;in&nbsp;app stores. Icons, store graphics, different file formats- you don&rsquo;t have to&nbsp;worry, leave it&nbsp;for&nbsp;us.

		div.get-funded__softs
			div.container
				div.row
					div.col-12.col-md-10.col-lg-8.col-xl-10.offset-md-1.offset-lg-2.offset-xl-1
						include ../soft-logos/soft-logos.pug

	section.block
		+block-header({
			number: 5,
			title: 'A&nbsp;full package with deliverables you&rsquo;ll absolutely love.',
			text: 'Your in-house or&nbsp;outsourced development team will love our assets and guidance. We&rsquo;ll give them everything they need to&nbsp;integrate our designs and produce the high-quality end product your project deserves, one that&rsquo;s ready to&nbsp;impress investors and win over users.'
		})

		div.get-funded__block-img-4
			+picture({img: 'assets-hd', img_320: 'assets-mobile', img_768: 'assets-tablet', img_992: 'assets-desktop', img_1200: 'assets-hd', alt: 'A full package deliverables'})

	section.block
		+block-header({
			number: 6,
			title: '15&nbsp;days of&nbsp;free pre-launch support to&nbsp;get you up&nbsp;and running',
			text: 'Your 15&nbsp;days of&nbsp;development support is&nbsp;perfect for ironing out any creases that might show up&nbsp;in&nbsp;the new design. We&nbsp;want to&nbsp;ensure everything works as&nbsp;it&nbsp;should and achieves your aims so&nbsp;we&nbsp;do&nbsp;regular UX/UI reviews of&nbsp;your new layouts. We&nbsp;also tackle your questions, and should they be&nbsp;needed, we&nbsp;take care of&nbsp;design fixes so&nbsp;long as&nbsp;they&rsquo;re within the initial scope of&nbsp;the project.'
		})
		
		div.get-funded__block-img-5
			+picture({img: 'launch-support-hd', img_320: 'launch-support-mobile', img_768: 'launch-support-tablet', img_992: 'launch-support-desktop', img_1200: 'launch-support-hd', alt: 'Development support'})

	section.block.margin-top-negative--xl
		div.container
			div.row
				div.col-12.col-xl-10.offset-xl-1
					include ../plans/plans.pug