section.design-gazette
	div.design-gazette__top
		div.container
			div.row
				div.col-12.col-md-6.col-xl-5.offset-xl-1
					div.design-gazette__body
						span.text-atenchen.design-gazette__attention Free Newsletter
						h1.h2-2.design-gazette__title Fintech Design Gazette™
						p.h3.design-gazette__text A&nbsp;free monthly newsletter for fintech founders, C&#8209;level executives and product managers by&nbsp;Strebkov Design
						ul.design-gazette__list
							li
								p.text Articles and insights on&nbsp;digital product design, customer experience, and visual branding
							li
								p.text News, trends and industry reports
							li
								p.text Case studies from best fintech companies and design agencies
				div.col-12.col-md-6.col-xl-5
					div.design-gazette__form
						include ../get-toolkit/get-toolkit--subscribe.pug
					p.small-text.small-text--gray.design-gazette__desc We&nbsp;don&rsquo;t spam or&nbsp;sell your data to&nbsp;third-party. Once a&nbsp;month straight to&nbsp;your inbox. Unsubscribe at&nbsp;any time.