.case-updown {
	/* 2 Block model */
	display: block;
}
.case-updown__header {
	/* 2 Block model */
	padding-top: 34px;
	margin-bottom: 56px;

	/* 4 Visual */
	background-image: url(../images/case-updown__header-bg.png);
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-top: 105px;
		margin-bottom: 66px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-top: 77px;
		margin-bottom: 89px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 77px;
	}
}
.case-updown__header .case__info {
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-top: 14px;
	}
}
.case-updown__header .case__date {
	/* 3 Typography */
	color: #FFD933;
}
.case-updown__header .h1 {
	/* 3 Typography */
	color: #FFFFFF;
}
.case__info .text-lg {
	/* 2 Block model */
	margin-bottom: 15px;

	/* 3 Typography */
	color: #C0C0C0;
}
.case-updown__header-img {
	/* 2 Block model */
	padding-top: 105px;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-top: 0;
	}
}
.case-updown__header-img img {
	/* 2 Block model */
	display: block;
	width: 830px;
	margin-left: -100px;
	@media (min-width: 768px) {
		/* 2 Block model */
		width: 950px;
		margin-left: -100px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		width: 1200px;
		margin-left: -120px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		width: 1470px;
		margin-left: -157px;
	}
}
.case-updown__body-img .img-gray-block {
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-top: 37px;
		padding-bottom: 6px;
	}
}
.case-updown__body-img img {
	/* 1 Positioning */
	position: relative;
	left: 50%;

	/* 2 Block model */
	display: block;
	width: 315px;

	/* 4 Visual */
	transform: translateX(-51%);
	@media (min-width: 480px) {
		/* 2 Block model */
		width: 470px;
	}
	@media (min-width: 576px) {
		/* 2 Block model */
		width: 560px;
	}
	@media (min-width: 768px) {
		/* 2 Block model */
		width: 660px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		width: 880px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		width: 1308px;
	}
}
.case-updown__bottom-img .img-gray-block {
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-top: 108px;
		padding-bottom: 108px;
	}
}
.case-updown__bottom-img img {
	/* 1 Positioning */
	position: relative;
	left: 50%;

	/* 2 Block model */
	display: block;
	width: 278px;

	/* 4 Visual */
	box-shadow: 0 10px 50px rgba(129, 129, 129, 0.450994);
	transform: translateX(-51%);
	@media (min-width: 480px) {
		/* 2 Block model */
		width: 410px;
	}
	@media (min-width: 576px) {
		/* 2 Block model */
		width: 490px;
	}
	@media (min-width: 768px) {
		/* 2 Block model */
		width: 580px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		width: 800px;

		/* 4 Visual */
		transform: translateX(-50%);
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		width: 957px;
	}
}
.case-updown--mobile .case-updown__header {
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-bottom: 60px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		padding-bottom: 94px;
	}
}
.case-updown--mobile .case-updown__header .h1 {
	@media (min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 16px;
	}
}
.case-updown--mobile .case-updown__header-img {
	/* 2 Block model */
	padding-top: 50px;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-top: 0;
	}
}
.case-updown--mobile .case-updown__header-img img {
	/* 2 Block model */
	width: 614px;
	margin-left: 15px;
	@media (min-width: 480px) {
		/* 2 Block model */
		margin-left: 95px;
	}
	@media (min-width: 768px) {
		/* 2 Block model */
		width: 793px;
		margin-top: 90px;
		margin-left: 57px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		margin-top: 107px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		width: 954px;
		margin-left: 16px;
	}
}